.ab-absence { --absence-color: var(--primary); }
.ab-excused { --absence-color: hsl(94, 54%, 38%); }
.ab-unexcused { --absence-color: hsl(356, 87%, 41%); }
.ab-late { --absence-color: hsl(25, 100%, 47%); }
.ab-non_count { --absence-color: hsl(71, 69%, 45%); }
.ab-early { --absence-color: hsl(36, 100%, 47%); }
.ab-distance { --absence-color: hsl(56, 69%, 45%); }