.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(2, 2, 2, 0.5) 0px 0px 3px;
    background-color: var(--background-body);
    padding: 2rem;
    min-width: 784px;
    position: relative;
}

.card-top {
    display: flex;
    flex-direction: column;
}

.alert {
    position: relative;
    padding: 8px 20px;
    margin: 4px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    clip-path: var(--polygon);
}

.alert .btn {
    cursor: pointer;
    padding: 2px 6px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 16px;
    user-select: none;
    transition: all .3s;
}

.alert .btn:hover {
    background-color: transparent;
    color: red;
}

.alert:last-child {
    margin-bottom: 1rem;
}

.card-header {
    justify-content: space-between;
}

.card-row, .card-header, .select-items, .flex-items {
    display: flex;
    flex-direction: row;
}

.flex-items {
    align-items: center;
}

.flex-items > div {
    margin: 0 8px;
}

.select-item {
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: left;
    padding: .35rem .75rem;
    background-color: var(--background-active);
    display: flex;
    transition: all .3s;
    flex-direction: row;
    cursor: pointer;
}

.select-item:first-child {
    border-top-left-radius: calc(2 * var(--radius));
    border-bottom-left-radius: calc(2 * var(--radius));
}

.select-item:last-child {
    border-top-right-radius: calc(2 * var(--radius));
    border-bottom-right-radius: calc(2 * var(--radius));
}

.select-item:hover {
    background-color: var(--background-hover);
}

.select-item.active {
    background-color: var(--primary);
    background-image: var(--primary-gradient);
}
.select-item.active:hover {
    background-color: var(--primary-second);
}