.form-group {
    margin-top: 1rem;
}

label {
    line-height: 1;
    font-weight: 500;
    display: block;
    font-size: .875rem;
}

label.error {
    color: var(--error);
}

.label-error {
    font-size: 14px;
}

input, textarea {
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    height: 2.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    width: 100%;
    padding: .25rem .75rem;
    color: var(--color);
    background-color: var(--input-background);
}

input, textarea, ng-select {
    margin-top: 8px;
}

input {
    height: 2.25rem;
}

textarea {
    min-height: 5rem;
    resize: vertical;
}

input:focus, textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: var(--primary) 0px 0px 0px 0px, var(--primary-second) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

div[role='button'].submit {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    padding: 8px 24px;
    border-radius: var(--radius);
    cursor: pointer;
}

div[role='button'].small {
    padding: 6px 16px;
}

/* Checkbox */
.checkbox {
    border-radius: 100px;
    position: relative;
    width: 48px;
    height: 28px;
    overflow: hidden;
}

.checkbox > .input-checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.checkbox > .knob {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.checkbox .knob::before {
    font-family: "tabler-icons" !important;
    content: "\eb55";
    position: absolute;
    top: 4px;
    left: 4px;
    aspect-ratio: 1;
    color: var(--error-color); 
    height: calc(100% - 8px);
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.checkbox.checked .knob::before {
    content: "\ea5e";
    left: 24px;
}

.checkbox .btn-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 100px;
    background-color: var(--error-color);
    transition: 0.3s ease all;
    z-index: 1;
}

.checkbox.checked .knob::before { color: var(--green); }
.checkbox.checked .btn-bg { background-color: var(--green); }

/* Select */
.input-select {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input-select.input-row {
    flex-direction: row!important;
}

.input-select.input-column {
    flex-direction: column!important;
}


.input-select-option {
    display: flex;
    flex-direction: row;
    margin: 4px;
    padding: 6px 12px;
    cursor: pointer;
    transition: all .3s;
    user-select: none;
}

.input-select-option:hover { background-color: var(--background-hover) }
.input-select-option.active { background-color: var(--background-active) }

.search-dropdown {
    max-height: 200px;
    overflow-y: auto;
}