.form-group {
    margin-top: 1rem;
}

label, .label {
    line-height: 1;
    font-weight: 500;
    display: block;
    font-size: .875rem;
    margin-bottom: 8px;
}

label.error-color {
    color: hsl(338deg, 82%, 69%);
}

.label-error {
    font-size: 14px;
}

input, select, textarea, .input {
    appearance: none;
    display: block;
    border-radius: var(--radius);
    border: 1px solid var(--border-color);
    height: calc(1.5em + .75rem + 2px);
    font-size: .875rem;
    line-height: 1.25rem;
    width: 100%;
    padding: .375rem .75rem;
    color: var(--color);
    background-color: var(--input-background);
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input.no-left-radius {
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}

.input-text {
    background-color: var(--primary);
    color:#fff;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border: 1px solid var(--border-color);
    height: 35px;
    font-size: 15px;
    line-height: 1.25rem;
    padding: .375rem .5rem;
}

textarea {
    min-height: 5rem;
    resize: vertical;
}

input:focus, textarea:focus, select:focus {
    background-color: var(--input-background);
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 0 3.2px hsl(235, 86%, 65%, .25);
}

div[role='button'].submit,
.btn {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    padding: 8px 24px;
    border-radius: var(--radius);
    cursor: pointer;
    user-select: none;
    transition: all .3s;
}

div[role='button'].submit:hover,
.btn:hover {
    background-color: var(--primary-second);
}

div[role='button'].small, .btn.small {
    padding: 6px 16px;
}

div[role='button'].submit i-tabler, .btn i-tabler {
    width: 16px;
    height: 16px;
    margin-right: .5rem;
}

/* Checkbox */
.checkbox {
    border-radius: 100px;
    position: relative;
    width: 48px;
    height: 28px;
    overflow: hidden;
}

.checkbox > .input-checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.checkbox > .knob {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.checkbox .knob {
    position: absolute;
    top: 4px;
    left: 4px;
    aspect-ratio: 1;
    color: var(--error-color); 
    height: calc(100% - 8px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.checkbox .knob i-tabler {
    width: 16px;
    height: 16px;
}

.checkbox.checked .knob, .checkbox.checked .knob i-tabler {
    left: 24px;
}

.checkbox .btn-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 100px;
    background-color: var(--error-color);
    transition: 0.3s ease all;
    z-index: 1;
}

.checkbox.checked .knob i-tabler { color: var(--green); }
.checkbox.checked .btn-bg { background-color: var(--green); }

/* Select */
.input-select {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input-select.input-row {
    flex-direction: row!important;
}

.input-select.input-column {
    flex-direction: column!important;
}


.input-select-option {
    display: flex;
    flex-direction: row;
    margin: 4px;
    padding: 6px 12px;
    cursor: pointer;
    transition: all .3s;
    user-select: none;
}

.input-select-option:hover { background-color: var(--background-hover) }
.input-select-option.active { background-color: var(--background-active) }

.search-dropdown {
    max-height: 200px;
    overflow-y: auto;
}