.item-btn {
    width: 36px;
    height: 36px;
    font-size: 22px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 55;
    position: relative;
    margin: 0 8px;
    overflow: visible;
}

.item-btn.text {
    min-width: 36px;
    width: fit-content;
}

.item-btn > div {
    clip-path: var(--polygon);
    transition: background .3s;
}

.item-btn .icon, .item-btn .text {
    display: flex;
    justify-content: center;
    background-color: rgb(70,70,70,.16);
    align-items: center;
}

.item-btn .icon {
    width: 44px;
    font-size: 20px;
    height: 36px;
}


.item-btn .text {
    font-size: 16px;
    padding: 4px 16px;
    min-height: 30px;
}

.item-btn.text .icon {
    min-width: 44px;
    width: fit-content;
}

.item-btn:hover .icon, .item-btn.active .icon, .item-btn:hover .text, .item-btn.active .text {
    background-color: rgb(70,70,70,.36);
}

.item-btn .name {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 4px);
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 15px;
    background-color: rgb(70,70,70,.72);
    padding: 8px 16px;
    transition: opacity .3s;
    min-width: 120px;
    width: max-content;
    text-align: center;
}

.item-btn:hover .name {
    opacity: 1;
}