.select-column {
    display: flex;
    flex-direction: column;
}

.select-row {
    display: flex;
    flex-direction: row;
}

.select-space-between {
    justify-content: space-between;
}

.select > .select-option {
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: left;
    padding: .5rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    margin: 4px 0;
    display: flex;
    transition: all .3s;
    flex-direction: row;
    cursor: pointer;
}

.select > .select-option.only-value {
    cursor: default!important;
}

.select > .select-option.active {
    background-color: var(--background-active);
}

.select > .select-option > .left {
    display: flex;
    align-items: center;
}

.select >.select-option .smallText {
    font-size: .75rem;
    line-height: 1rem;
    opacity: .7;
}