.sidebar {
    width: 250px;
    max-width: 250px;
    transition: all .3s;
    position: relative;
    display: flex;
    color: var(--color-darker);
    flex-direction: column;
    z-index: 2;
    margin-top: -1px;
    background-color: var(--background-body);
    overflow: hidden auto;
    flex-shrink: 0;
    box-shadow: rgba(6, 6, 7, 10%) 1px 0 0 0, rgba(2, 2, 2, 2.5%) 1.5px 0 0 0, rgba(6, 6, 7, 2.5%) 2px 0 0 0;
}

.sidebar > ul {
    padding: 8px;
    margin: 0;
}

.sidebar > ul > li {
    color: var(--color-darker);
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar > ul > li > .item {
    padding-left: 12px;
    z-index: 99999;
}

.sidebar .item .dropdown-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    color: var(--color-darker);
}

.sidebar .item .dropdown-icon.toggled {
    transform: scaleY(-1);
}

.sidebar .dropdown-child {
    padding-top: 1px;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    overflow: hidden;
}

.sidebar .dropdown-child ul {
    padding-left: 32px;
    padding-right: 8px;
    padding-bottom: 4px;
}

.sidebar ul li.active {
    color: var(--color)!important;
    font-weight: 500;
}

.sidebar .badge {
    width: 24px;
    min-width: 24px;
    height: 24px;
    font-size: 14px;
    border-radius: 999rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .dropdown-child ul li::before {
    content: '';
    position: absolute;
    left: -2px;
    transform: translateX(-100%);
    top: 0;
    width: 12px;
    height: 50%;
    border-bottom-left-radius: 4px;
    border: 2px solid var(--sidebar-arrow);
    border-top: none;
    border-right: none;
}

.sidebar .dropdown-child ul li:not(:first-child)::before {
    height: 150%;
    transform: translateX(-100%) translateY(-60%);
}

/* Unordered list */
ul {
    list-style: none;
    padding: 8px;
    margin: 0;
}

ul li {
    margin: 4px 0;
    cursor: pointer;
    position: relative;
    color: var(--color-darker);
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul li .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    transition: all .3s;
    z-index: 99999;
}

ul li .item .item-label {
    text-overflow: ellipsis;
    overflow: hidden;
}

ul li .item:hover  {
    background-color: var(--background-hover);
}

ul li.danger .item {
    color: var(--red);
}

ul li.danger .item:hover {
    background-color: var(--danger-bg);
}

ul li .icon {
    height: 24px;
    width: 24px;
    margin-right: .5rem;
}

li.active > .item,
li.opened > .item,
ul li.opened .dropdown-child {
    background-color: var(--background-active);
}

ul li .item.btn {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    cursor: pointer;
}
