.items {
    display: flex;
    flex-direction: column;
}

.items > .item {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--border);
    transition: .3s;
}

.items > .item:first-child {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.items > .item:last-child {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.items > .item:hover {
    background-color: var(--hover-bg);
}

.items > .item.active {
    border-color: var(--primary);
}

.items > .item > .badge {
    position: absolute;
    right: 1rem;
}

.items > .item img {
    border-radius: 4px;
}