<div class="card">
    <div class="card-top">
        <div class="alert error">
            helo
        </div>
    </div>
    <div class="card-header">
        <h2>{{ schoolingo.locale.getLocale('settings') }}</h2>
        <div class="flex-items">
            <div class="select-items">
                <div class="select-item active">{{ schoolingo.locale.getLocale('changepassword') }}</div>
                <div class="select-item">{{ schoolingo.locale.getLocale('language') }}</div>
                <div class="select-item">{{ schoolingo.locale.getLocale('theme') }}</div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-tab active" id="changepassword">
            <div class="form">
                <!-- <form>
                    <div class="form-group">
                        <label for="password" [ngClass]="{error: errorFilter('old_password') != false}">
                            {{ locale.getLocale('oldpassword') }}
                            <span class="label-error" *ngIf="errorFilter('old_password') != false"> - {{ locale.getLocale(errorFilter('old_password').toString()) }}</span>
                        </label>
                        <input type="password" [readonly]="schoolingo.getOfflineMode()" name="old_password" [ngClass]="{ invalid: errorFilter('old_password') != false }" [formControl]="old_password" [placeholder]="locale.getLocale('oldpassword')">
                    </div>
    
                    <div class="form-group">
                        <label for="password" [ngClass]="{error: errorFilter('password') != false}">
                            {{ locale.getLocale('newpassword') }}
                            <span class="label-error" *ngIf="errorFilter('password') != false"> - {{ locale.getLocale(errorFilter('password').toString()) }}</span>
                        </label>
                        <input type="password" [readonly]="schoolingo.getOfflineMode()" name="password" [ngClass]="{ invalid: errorFilter('password') != false }" [formControl]="password" [placeholder]="locale.getLocale('newpassword')">
                    </div>
    
                    <div class="form-group">
                        <label for="password" [ngClass]="{error: errorFilter('password2') != false}">
                            {{ locale.getLocale('againNewpassword') }}
                            <span class="label-error" *ngIf="errorFilter('password2') != false"> - {{ locale.getLocale(errorFilter('password2').toString()) }}</span>
                        </label>
                        <input type="password" [readonly]="schoolingo.getOfflineMode()" name="password2" [ngClass]="{ invalid: errorFilter('password2') != false }" [formControl]="password2" [placeholder]="locale.getLocale('againNewpassword')">
                    </div>
    
                    <div class="form-group">
                        <input type="submit" value="" (click)="changePassword()" style="display: none;">
                        <div [ngClass]="{submit: true, disabled: schoolingo.getOfflineMode()}" role="button" (click)="changePassword()" [innerHTML]="getChangingPasswordText()"></div>
                    </div>
                </form> -->
            </div>
        </div>
    </div>

</div>