<div class="card">
    <div class="card-top">
        @if (alert == '2FAEnabled') {
        <div class="alert alert--success">
            {{ l.s('userSettings.2FAEnabled') }}
        </div>
        }
    </div>
    <div class="card-header">
        <h2>{{ l.s('sidebar.settings') }}</h2>
        <div class="flex-items">
            <schoolingo-tabs [value]="selectedTab" [icons]="options_icons" [options]="options"></schoolingo-tabs>
        </div>
    </div>
    <div class="card-body">
        @switch (selectedTab.getValue()) {
        @case (options.indexOf("settings.change_password")) {
        <settings-change-password></settings-change-password>
        }
        @case (options.indexOf('settings.language')) {
        <settings-change-language></settings-change-language>
        }
        @case (options.indexOf('settings.theme')) {
        <settings-change-theme></settings-change-theme>
        }
        @case (options.indexOf('settings.security')) {
        <settings-security></settings-security>
        }
        }
    </div>
</div>