.box-content {
    padding: 2rem; 
}

.select-column {
    display: flex;
    flex-direction: column;
}

.select > .select-option {
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: left;
    padding: .75rem;
    border-radius: 8px;
    border: 1px solid rgb(39, 39, 42);
    margin: 4px 0;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.select > .select-option.active {
    background-color: rgb(39, 39, 42);
}

.select > .select-option > .left {
    display: flex;
    align-items: center;
}

.select >.select-option .smallText {
    font-size: .75rem;
    line-height: 1rem;
    opacity: .7;
}