<div class="box">
    <header>
        <h2>{{ locale.getLocale('settings') }}</h2>
        <div class="flex-items">
            <schoolingo-tabs [name]="tabName" [options]="[locale.getLocale('settings_main'), locale.getLocale('language'), locale.getLocale('theme')]"></schoolingo-tabs>
        </div>
    </header>
    <div class="box-content" *ngIf="tabs.getTabValue(tabName) === 0">
        <div class="select select-column">
            <div class="select-option select-row only-value" *ngIf="getUser()?.username">
                <div class="left">{{ locale.getLocale('username') }}</div>
                <div class="right" style="margin-left: 1rem;">{{ getUser().username }}</div>
            </div>
        </div>

        <div class="form">
            <form>
                <div class="form-group">
                    <label for="password" [ngClass]="{error: errorFilter('old_password') != false}">
                        {{ locale.getLocale('oldpassword') }}
                        <span class="label-error" *ngIf="errorFilter('old_password') != false"> - {{ locale.getLocale(errorFilter('old_password').toString()) }}</span>
                    </label>
                    <input type="password" name="old_password" [ngClass]="{ invalid: errorFilter('old_password') != false }" [formControl]="old_password" [placeholder]="locale.getLocale('oldpassword')">
                </div>

                <div class="form-group">
                    <label for="password" [ngClass]="{error: errorFilter('password') != false}">
                        {{ locale.getLocale('newpassword') }}
                        <span class="label-error" *ngIf="errorFilter('password') != false"> - {{ locale.getLocale(errorFilter('password').toString()) }}</span>
                    </label>
                    <input type="password" name="password" [ngClass]="{ invalid: errorFilter('password') != false }" [formControl]="password" [placeholder]="locale.getLocale('newpassword')">
                </div>

                <div class="form-group">
                    <label for="password" [ngClass]="{error: errorFilter('password2') != false}">
                        {{ locale.getLocale('againNewpassword') }}
                        <span class="label-error" *ngIf="errorFilter('password2') != false"> - {{ locale.getLocale(errorFilter('password2').toString()) }}</span>
                    </label>
                    <input type="password" name="password2" [ngClass]="{ invalid: errorFilter('password2') != false }" [formControl]="password2" [placeholder]="locale.getLocale('againNewpassword')">
                </div>

                <div class="form-group">
                    <input type="submit" value="" style="display: none;">
                    <div [ngClass]="{submit: true}" role="button">{{ locale.getLocale('changepassword') }}</div>
                </div>
            </form>
        </div>
    </div>

    <div class="box-content" *ngIf="tabs.getTabValue(tabName) == 1">
        <div class="select select-column">
            <div [ngClass]="{'select-option': true, active: locale.getUserLocale() == lng}" (click)="locale.setUserLocale(lng);tabs.setTabValue(tabName, tabs.getTabValue(tabName))" *ngFor="let lng of locale.getLanguages()">
                <div class="left">
                    <img src="{{ locale.getLocale('flag', lng) }}" alt="{{ locale.getLocale('name', lng) }}" height="24" style="margin-right: 8px;">
                    <div class="column">
                        {{ locale.getLocale('name', lng) }}
                        <span class="smallText">{{ (locale.getTranslated(lng) * 100).toFixed(2) }}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="box-content" *ngIf="tabs.getTabValue(tabName) == 2">
        <div class="select select-column">
            <div [ngClass]="{'select-option': true, active: theme.getTheme() == them}" (click)="theme.updateTheme(them);" *ngFor="let them of theme.getThemes()">
                <div class="left">
                    <div class="column">
                        {{ locale.getLocale('themes/' + them) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>