@if (selectedUser) {
    @if (selectedUser.password_changed) {
        <div style="margin: 1rem 0">
            <div class="alert-info">
                <i-tabler name="info-circle"></i-tabler>
                {{ l.s('system.manage_users.reset_password.last_change_date', {  date: Utils.formatDateShort(selectedUser.password_changed) }) }}
            </div>
        </div>
    }

    <div class="row-type-selector" style="margin: 1rem 0;">
        @for (option of options; track $index) {
            @if (isOptionVisible($index)) {
        <div class="row-option" [class.selected]="selectedOption == $index" (click)="selectedOption = $index">
            @if (getVisibleCount() === 1) {
                <div class="row-option__badge danger">
                    {{ l.s('system.manage_users.reset_password.only_option') }}
                </div>
            }
            <div class="row-option__dot"></div>
            <div class="row-option__content">
                <h4>{{ l.s('system.manage_users.reset_password.options.' + option + '.title') }}</h4>
                <p>{{ l.s('system.manage_users.reset_password.options.' + option + '.description') }}</p>
            </div>
        </div>
            }
        }
    </div>

    @if (isOptionActive('email')) {
        <hr />

    <div class="form-group">
        <label class="form-label">{{ l.s('user.add_email.email') }}</label>
        <schoolingo-dropdown [options]="getEmails()" [(ngModel)]="selectedEmail" [settings]="{ locale: false }"></schoolingo-dropdown>
    </div>
    }

    <div class="modal-actions">
        <div class="btn btn--secondary" (click)="closeModal()">
            {{ l.s('close') }}
        </div>

        <div class="btn btn--danger">
            <i-tabler name="user-key"></i-tabler>
            {{ l.s('settings.passwords.reset_password') }}
        </div>
    </div>
}