<h2 class="small mb">{{ l.s('settings.change_password') }}</h2>
<div class="message error">
    {{ l.s('settings.alerts.change_password_warning') }}
</div>
@for (alert of a.getAlerts(); track $index) {
<alert [alert]="alert"></alert>
}
<div class="form">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changepassword()">
        <input type="submit" value="" style="display: none" />
        <input type="hidden" name="username" [value]="u.getUser().username">

        <div [hidden]="page != 'main'">
            <div class="form-group">
                <label for="oldpassword" [ngClass]="{ 'error-color': getInputError('oldpassword') !== '' }">
                    {{ l.s('settings.passwords.old_password') }}
                    @if (getInputError("oldpassword") !== "") {
                    <span class="label-error">
                        - {{ getInputError("oldpassword") }}
                    </span>
                    }
                </label>
                <div class="value">
                    <input type="password" (keydown.enter)="changepassword()" id="oldpassword" name="oldpassword"
                        formControlName="oldpassword" [placeholder]="l.s('settings.passwords.old_password')" required />
                </div>
            </div>

            <div class="form-group">
                <label for="password" [ngClass]="{ 'error-color': getInputError('password') !== '' }">
                    {{ l.s('settings.passwords.new_password') }}
                    @if (getInputError("password") !== "") {
                    <span class="label-error">
                        - {{ getInputError("password") }}
                    </span>
                    }
                </label>
                <div class="value with-icon">
                    <input [type]="showPassword ? 'text' : 'password'" (keydown.enter)="changepassword()" id="password" name="password" formControlName="password" password_generator="true" [placeholder]="l.s('settings.passwords.new_password')" required />
                    <div class="icon-btn">
                        <i-tabler name="sparkles" (click)="openGeneratePasswordModal()"></i-tabler>
                        <i-tabler [name]="showPassword ? 'eye-off' : 'eye'" (click)="toggleVisibility()"></i-tabler>
                    </div>
                </div>

                <!-- Strength Meter -->
                <div class="password-strength">
                    <div class="strength-bar">
                        <div class="fill" [style.width.%]="(passwordStrength / 4) * 100"
                            [class.weak]="passwordStrength <= 2" [class.strong]="passwordStrength === 3"
                            [class.perfect]="passwordStrength === 4"></div>
                    </div>
                    <span class="strength-text">
                        {{ passwordStrength === 4 ? 'Perfektní' : (changePasswordForm.get('password')?.value?.length === 0 ? 'Žádné' : (passwordStrength <= 2
                            ? 'Slabé' : 'Silné' )) }} </span>
                </div>

                <!-- Requirements List -->
                <div class="password-requirements">
                    <label for="password-requirements" style="color: var(--text-color)">Bezpečné heslo musí obsahovat:</label>
                    <div class="req-item" [class.met]="passwordRequirements.length">
                        <i-tabler [name]="passwordRequirements.length ? 'check' : 'x'"></i-tabler>
                        <span>Minimálně 9 znaků</span>
                    </div>
                    <div class="req-item" [class.met]="passwordRequirements.uppercase">
                        <i-tabler [name]="passwordRequirements.uppercase ? 'check' : 'x'"></i-tabler>
                        <span>Velké písmeno</span>
                    </div>
                    <div class="req-item" [class.met]="passwordRequirements.number">
                        <i-tabler [name]="passwordRequirements.number ? 'check' : 'x'"></i-tabler>
                        <span>Číslo</span>
                    </div>
                    <div class="req-item" [class.met]="passwordRequirements.special">
                        <i-tabler [name]="passwordRequirements.special ? 'check' : 'x'"></i-tabler>
                        <span>Speciální znak</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password2" (keydown.enter)="changepassword()"
                    [ngClass]="{ 'error-color': getInputError('password2') !== '' }">
                    {{ l.s('settings.passwords.again_new_password') }}
                    @if (getInputError("password2") !== "") {
                    <span class="label-error">
                        - {{ getInputError("password2") }}
                    </span>
                    }
                </label>
                <div class="value">
                    <input type="password" id="password2" name="password2"
                        formControlName="password2" [placeholder]="l.s('settings.passwords.again_new_password')"
                        required />
                </div>
            </div>

            <div class="form-group">
                <div [ngClass]="{btn: true, primary: changePasswordForm.status == 'VALID', disabled: changePasswordForm.status == 'INVALID'}"
                    (click)="changepassword()">
                    {{ l.s('settings.change_password') }}
                </div>
            </div>
        </div>

        <div [hidden]="page != '2fa'">
            <div class="form-group">
                <label for="token" [ngClass]="{ 'error-color': getInputError('token') !== '' }">
                    {{ l.s('auth.2fa.authentication_code') }}
                    @if (getInputError("token") !== "") {
                    <span class="label-error">
                        - {{ getInputError("token") }}
                    </span>
                    }
                </label>
                <div class="value">
                    <div style="position: relative;">
                        <input type="text" id="token" [minlength]="AuthConfig.token_length"
                            [maxlength]="AuthConfig.token_length" name="token" autocomplete="off" autocorrect="off"
                            formControlName="token" />
                        <div class="preview">{{ getTokenPlaceholder() }}</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <a class="clickable" href="#">
                    {{ l.s('auth.2fa.click') }}
                </a>
            </div>
            <div class="form-group">
                <div [ngClass]="{btn: true, primary: changePasswordForm.status == 'VALID', disabled: changePasswordForm.status == 'INVALID'}"
                    (click)="changepassword()">
                    {{ l.s('auth.2fa.verify_code') }}
                </div>
            </div>
        </div>
    </form>
</div>