.box {
    max-height: 750px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-content {
    display: flex;
    flex-direction: row;
    padding: 8px;
    overflow-y: auto;
}

.box-content > div {
    width: 50%;
}

.box-content > .left > .form-group {
    margin: 0;
    padding: 8px 12px 8px 0;
}

.box-content > .left > .form-group > input {
    width: 550px!important;
    margin: 0!important;
}

.box-content > .left {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.select {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    max-height: 100%;
    padding-right: 12px;
}

.select-option {
    margin: 8px auto!important;
    flex-direction: column!important;
    padding: 0!important;
    width: 550px;
}

.box-content > .right {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.chat-header {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select-option > .chat-header {
    padding: .25rem 1rem!important;
}

.chat-author {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    margin: .25rem 0;
}

.chat-type, .chat-time {
    font-size: .75rem;
    line-height: 1rem;
    margin: .25rem 0;
}

.chat-time {
    margin-left: auto!important;
    color: var(--color-darker);
    text-align: right;
}

.chat-message {
    padding: 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    color: var(--color);
    white-space: pre-wrap;
    max-height: 400px;
    height: 400px;
    overflow-y: auto;
}

.select-option > .chat-message {
    max-height: 75px!important;
    height: 75px!important;
    position: relative;
}

.select-option > .chat-message > p {
    position: absolute;
    margin: .75rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .75rem;
    line-height: 1rem;
}

.chat-reply {
    border-top: 1px solid var(--border-color);
    padding: 1rem;
}

.btn {
    float: right;
    width: fit-content;
    border-radius: 8px!important;
    text-align: center;
}

textarea {
    max-height: 350px;
}