<div class="box">
    <header>
      <h2>{{ locale.getLocale("sidebar/messages/sent") }}</h2>
    </header>
  
    <div class="box-content">
        <div class="left">
            <div class="form-group">
                <input type="search" [formControl]="search" placeholder="Vyhledat podle příjemců">
            </div>
            <div class="select select-column">
                <div class="select-option">
                    <div class="chat-header">
                        <div class="left">
                            <p class="chat-author">..Přijemci zprávy..</p>
                            <p class="chat-type">Klasická zpráva</p>
                        </div>
                        <div class="right">
                            <div class="chat-time">..time poslání zprávy..</div>
                        </div>
                    </div>
                    <div class="chat-message">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus blanditiis vel optio ipsum necessitatibus sequi, inventore enim, eaque quo quisquam est obcaecati illo perferendis, quaerat ducimus? Doloribus id numquam harum.
                            Eos natus, ipsa possimus quae fugiat incidunt nesciunt hic at, praesentium cupiditate omnis aut facere impedit doloribus, aliquid soluta fuga dolores provident. Molestias dolore sunt officia aliquid, repellat ipsam maiores!
                            Vel, a, ratione dicta nostrum sunt cum alias fugiat illum corporis voluptas quos recusandae pariatur rerum accusantium non laudantium maiores dolores eum voluptatibus iusto magnam possimus! Nobis placeat illum distinctio?
                            Iusto ipsa laudantium maiores repellendus fugiat quibusdam, at officia provident id labore quam porro qui accusamus? Temporibus iusto nisi amet tempore? Ipsum alias aperiam necessitatibus dolor molestiae est ut consectetur?
                            Blanditiis alias eum veritatis nam atque in rem! Quos odio iusto dolorum fugit consequatur, expedita itaque numquam nesciunt, cum quae quidem culpa molestiae nemo! Voluptatem voluptatum consequatur commodi similique aperiam?
                        </p>
                    </div>
                </div>

                <div class="select-option">
                    <div class="chat-header">
                        <div class="left">
                            <p class="chat-author">..Přijemci zprávy..</p>
                            <p class="chat-type">Klasická zpráva</p>
                        </div>
                        <div class="right">
                            <div class="chat-time">..time poslání zprávy..</div>
                        </div>
                    </div>
                    <div class="chat-message">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus blanditiis vel optio ipsum necessitatibus sequi, inventore enim, eaque quo quisquam est obcaecati illo perferendis, quaerat ducimus? Doloribus id numquam harum.
                            Eos natus, ipsa possimus quae fugiat incidunt nesciunt hic at, praesentium cupiditate omnis aut facere impedit doloribus, aliquid soluta fuga dolores provident. Molestias dolore sunt officia aliquid, repellat ipsam maiores!
                            Vel, a, ratione dicta nostrum sunt cum alias fugiat illum corporis voluptas quos recusandae pariatur rerum accusantium non laudantium maiores dolores eum voluptatibus iusto magnam possimus! Nobis placeat illum distinctio?
                            Iusto ipsa laudantium maiores repellendus fugiat quibusdam, at officia provident id labore quam porro qui accusamus? Temporibus iusto nisi amet tempore? Ipsum alias aperiam necessitatibus dolor molestiae est ut consectetur?
                            Blanditiis alias eum veritatis nam atque in rem! Quos odio iusto dolorum fugit consequatur, expedita itaque numquam nesciunt, cum quae quidem culpa molestiae nemo! Voluptatem voluptatum consequatur commodi similique aperiam?
                        </p>
                    </div>
                </div>

                <div class="select-option">
                    <div class="chat-header">
                        <div class="left">
                            <p class="chat-author">..Přijemci zprávy..</p>
                            <p class="chat-type">Klasická zpráva</p>
                        </div>
                        <div class="right">
                            <div class="chat-time">..time poslání zprávy..</div>
                        </div>
                    </div>
                    <div class="chat-message">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus blanditiis vel optio ipsum necessitatibus sequi, inventore enim, eaque quo quisquam est obcaecati illo perferendis, quaerat ducimus? Doloribus id numquam harum.
                            Eos natus, ipsa possimus quae fugiat incidunt nesciunt hic at, praesentium cupiditate omnis aut facere impedit doloribus, aliquid soluta fuga dolores provident. Molestias dolore sunt officia aliquid, repellat ipsam maiores!
                            Vel, a, ratione dicta nostrum sunt cum alias fugiat illum corporis voluptas quos recusandae pariatur rerum accusantium non laudantium maiores dolores eum voluptatibus iusto magnam possimus! Nobis placeat illum distinctio?
                            Iusto ipsa laudantium maiores repellendus fugiat quibusdam, at officia provident id labore quam porro qui accusamus? Temporibus iusto nisi amet tempore? Ipsum alias aperiam necessitatibus dolor molestiae est ut consectetur?
                            Blanditiis alias eum veritatis nam atque in rem! Quos odio iusto dolorum fugit consequatur, expedita itaque numquam nesciunt, cum quae quidem culpa molestiae nemo! Voluptatem voluptatum consequatur commodi similique aperiam?
                        </p>
                    </div>
                </div>

                <div class="select-option">
                    <div class="chat-header">
                        <div class="left">
                            <p class="chat-author">..Přijemci zprávy..</p>
                            <p class="chat-type">Klasická zpráva</p>
                        </div>
                        <div class="right">
                            <div class="chat-time">..time poslání zprávy..</div>
                        </div>
                    </div>
                    <div class="chat-message">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus blanditiis vel optio ipsum necessitatibus sequi, inventore enim, eaque quo quisquam est obcaecati illo perferendis, quaerat ducimus? Doloribus id numquam harum.
                            Eos natus, ipsa possimus quae fugiat incidunt nesciunt hic at, praesentium cupiditate omnis aut facere impedit doloribus, aliquid soluta fuga dolores provident. Molestias dolore sunt officia aliquid, repellat ipsam maiores!
                            Vel, a, ratione dicta nostrum sunt cum alias fugiat illum corporis voluptas quos recusandae pariatur rerum accusantium non laudantium maiores dolores eum voluptatibus iusto magnam possimus! Nobis placeat illum distinctio?
                            Iusto ipsa laudantium maiores repellendus fugiat quibusdam, at officia provident id labore quam porro qui accusamus? Temporibus iusto nisi amet tempore? Ipsum alias aperiam necessitatibus dolor molestiae est ut consectetur?
                            Blanditiis alias eum veritatis nam atque in rem! Quos odio iusto dolorum fugit consequatur, expedita itaque numquam nesciunt, cum quae quidem culpa molestiae nemo! Voluptatem voluptatum consequatur commodi similique aperiam?
                        </p>
                    </div>
                </div>

                <div class="select-option">
                    <div class="chat-header">
                        <div class="left">
                            <p class="chat-author">..Přijemci zprávy..</p>
                            <p class="chat-type">Klasická zpráva</p>
                        </div>
                        <div class="right">
                            <div class="chat-time">..time poslání zprávy..</div>
                        </div>
                    </div>
                    <div class="chat-message">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus blanditiis vel optio ipsum necessitatibus sequi, inventore enim, eaque quo quisquam est obcaecati illo perferendis, quaerat ducimus? Doloribus id numquam harum.
                            Eos natus, ipsa possimus quae fugiat incidunt nesciunt hic at, praesentium cupiditate omnis aut facere impedit doloribus, aliquid soluta fuga dolores provident. Molestias dolore sunt officia aliquid, repellat ipsam maiores!
                            Vel, a, ratione dicta nostrum sunt cum alias fugiat illum corporis voluptas quos recusandae pariatur rerum accusantium non laudantium maiores dolores eum voluptatibus iusto magnam possimus! Nobis placeat illum distinctio?
                            Iusto ipsa laudantium maiores repellendus fugiat quibusdam, at officia provident id labore quam porro qui accusamus? Temporibus iusto nisi amet tempore? Ipsum alias aperiam necessitatibus dolor molestiae est ut consectetur?
                            Blanditiis alias eum veritatis nam atque in rem! Quos odio iusto dolorum fugit consequatur, expedita itaque numquam nesciunt, cum quae quidem culpa molestiae nemo! Voluptatem voluptatum consequatur commodi similique aperiam?
                        </p>
                    </div>
                </div>

                <div class="select-option">
                    <div class="chat-header">
                        <div class="left">
                            <p class="chat-author">..Přijemci zprávy..</p>
                            <p class="chat-type">Klasická zpráva</p>
                        </div>
                        <div class="right">
                            <div class="chat-time">..time poslání zprávy..</div>
                        </div>
                    </div>
                    <div class="chat-message">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus blanditiis vel optio ipsum necessitatibus sequi, inventore enim, eaque quo quisquam est obcaecati illo perferendis, quaerat ducimus? Doloribus id numquam harum.
                            Eos natus, ipsa possimus quae fugiat incidunt nesciunt hic at, praesentium cupiditate omnis aut facere impedit doloribus, aliquid soluta fuga dolores provident. Molestias dolore sunt officia aliquid, repellat ipsam maiores!
                            Vel, a, ratione dicta nostrum sunt cum alias fugiat illum corporis voluptas quos recusandae pariatur rerum accusantium non laudantium maiores dolores eum voluptatibus iusto magnam possimus! Nobis placeat illum distinctio?
                            Iusto ipsa laudantium maiores repellendus fugiat quibusdam, at officia provident id labore quam porro qui accusamus? Temporibus iusto nisi amet tempore? Ipsum alias aperiam necessitatibus dolor molestiae est ut consectetur?
                            Blanditiis alias eum veritatis nam atque in rem! Quos odio iusto dolorum fugit consequatur, expedita itaque numquam nesciunt, cum quae quidem culpa molestiae nemo! Voluptatem voluptatum consequatur commodi similique aperiam?
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="chat-header">
                <div class="left">
                    <p class="chat-author">..Přijemci zprávy..</p>
                    <p class="chat-type">Klasická zpráva</p>
                </div>
                <div class="right">
                    <div class="chat-time">..time poslání zprávy..</div>
                </div>
            </div>
            <div class="chat-message">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A tempora similique, enim, ullam, nisi nihil quibusdam adipisci quod minus natus blanditiis. Eius temporibus, odio quasi natus earum atque consectetur? Odit.
                Minus aperiam placeat doloremque atque ullam blanditiis impedit eveniet reiciendis esse sequi! Ratione eum officia quos nisi aspernatur earum suscipit obcaecati! Omnis deleniti nam, ducimus consectetur corrupti aliquid necessitatibus. Fugiat?
                Id nam sit omnis nesciunt eligendi quas iusto nobis quae temporibus velit tempora, error rerum, maxime natus. Laboriosam, omnis! Unde aperiam deleniti mollitia exercitationem. Perspiciatis voluptatibus laudantium qui illo quidem!
                Eius quam voluptates, harum deleniti velit ducimus quia possimus? Odio assumenda alias sequi omnis reiciendis laborum asperiores obcaecati, cumque, cupiditate consequuntur maxime non iste quae illo nemo provident eum aspernatur?
                Itaque soluta aliquam assumenda excepturi ipsam esse mollitia voluptas at et laudantium dicta, facilis blanditiis impedit. Ratione porro eaque nobis, consectetur, accusamus corrupti, esse maiores recusandae vitae quisquam labore! Id!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus labore placeat dolor ex temporibus error magni fuga repellendus. Dicta praesentium cumque corporis error accusamus nam voluptatum sapiente, illo voluptatem officia.
                Omnis accusantium nobis ut! Rerum natus eligendi quidem, accusantium placeat mollitia autem dignissimos nisi, dolore, veritatis velit aspernatur? Porro consequuntur obcaecati ducimus sequi architecto nulla animi suscipit, accusamus atque similique.
                Velit voluptates quas, in cumque labore eaque accusantium pariatur. Exercitationem, voluptatum quasi? Voluptates ea facere, nulla corporis eaque cupiditate nam eum commodi, consequatur sapiente ipsum nobis eveniet necessitatibus delectus minus!
                Nobis, reiciendis doloribus et minus laborum aliquid quos ad possimus at laudantium. Molestiae doloribus placeat facere aliquid iure, quam aperiam temporibus non voluptatem porro nemo, ea perferendis. Natus, animi voluptatibus?
                Soluta voluptatem minus repudiandae sunt qui rerum, dolorum cum explicabo quas numquam cumque voluptates molestiae magni reprehenderit alias eveniet! Quia facilis necessitatibus laboriosam nam dolorum temporibus! Laudantium ad quae quod.
            </div>
            <div class="chat-reply">
                <textarea
                id="message"
                [(ngModel)]="message"
                (resize)="('horizontal')"
                [placeholder]="locale.getLocale('messages/messagePlaceholder')"
                ></textarea>
                <div class="form-group">
                    <div class="btn">
                        <i class="ti ti-send"></i> {{ locale.getLocale("buttons/replyAll") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>