<div class="modal-body">
    <div class="search-wrapper full-width">
        <i-tabler name="search"></i-tabler>
        <input type="search" name="search" id="parent" [formControl]="search"
            [placeholder]="l.s('students.add_parent.search')">
    </div>
    <div class="modal-table-header">
        <div>{{ l.s('person.full_name') }}</div>
        <div>{{ l.s('students.add_parent.parent_for') }}</div>
    </div>
    <div id="parentList">
        @for(parent of parents;track parent.parent_id) {
        <div class="parent-select-row">
            <label><input type="checkbox" [(ngModel)]="parentForm[parent.parent_id]">{{ parent.parent_full_name
                }}</label>
            <div style="display:flex;gap:4px">
                @for (child of parent.children.slice(0,3);track child.child_id) {
                @if ($index < 2) { <div class="child-tag">
                    <span class="initials">{{ Utils.getInitials(child.child_full_name) }}</span>
                    <span>{{ child.child_full_name }}</span>
                    <span class="child-class">({{ child.child_classname }})</span>
            </div>
            }
            @if ($index == 2) {
            <div class="child-tag">
                <span class="muted">{{ parent.children.length - 2 }} další</span>
            </div>
            }
            }
        </div>
    </div>
    }
</div>
</div>

<div class="modal-footer">
    <button class="btn" (click)="closeModal()">
        <i-tabler name="x"></i-tabler>
        <span>{{ l.s('buttons.close') }}</span>
    </button>
    <div style="display: flex; gap: 10px;">
        <button class="btn btn--outline-secondary" (click)="openCreateParentModal()">
            <i-tabler name="plus"></i-tabler>
            <span>{{ l.s('students.add_parent.create_new_one') }}</span>
        </button>
        <button class="btn btn--primary" (click)="addParent()">
            <i-tabler name="check"></i-tabler>
            <span>{{ l.s('students.add_parent.add_parent') }}</span>
        </button>
    </div>
</div>