<div class="modal-body">
    <div class="search-wrapper full-width">
        <i-tabler name="search"></i-tabler>
        <input type="search" name="search" id="parent" placeholder="Hledat osobu">
    </div>
    <div class="modal-table-header">
        <div>Jméno</div>
        <div>Zákonný zástupce pro...</div>
    </div>
    <div id="parentList">
        <div class="parent-select-row">
            <label><input type="checkbox"> Adámková Markéta</label>
            <div><div class="child-tag"><span class="initials">AK</span> Adámková Kristýna <span class="child-class">(4.A)</span></div></div>
        </div>
        <div class="parent-select-row">
            <label><input type="checkbox"> Adámková Natali</label>
            <div><div class="child-tag"><span class="initials">AD</span> Adámek Dominik <span class="child-class">(4.B)</span></div></div>
        </div>
        <div class="parent-select-row">
            <label><input type="checkbox"> Andrýsek Jakub Ing.</label>
            <div><div class="child-tag"><span class="initials">AV</span> Andrýsek Vojtěch <span class="child-class">(4.B)</span></div></div>
        </div>
        <div class="parent-select-row">
            <label><input type="checkbox"> Andrýsková Emma Bc.</label>
            <div><div class="child-tag"><span class="initials">AV</span> Andrýsek Vojtěch <span class="child-class">(4.B)</span></div></div>
        </div>
        <div class="parent-select-row">
            <label><input type="checkbox"> Bača Jakub</label>
            <div><div class="child-tag"><span class="initials">BN</span> Bačová Nela <span class="child-class">(6.A)</span></div></div>
        </div>
        <div class="parent-select-row">
            <label><input type="checkbox"> Bajer Tobiáš</label>
            <div>
                <div class="child-tag"><span class="initials">NS</span> Novotná Sofie <span class="child-class">(6.A)</span></div>
                <div class="child-tag" style="margin-left: 5px;"><span class="initials">BE</span> Bajerová Ema <span class="child-class">(6.A)</span></div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn" (click)="closeModal()">
        <i-tabler name="x"></i-tabler>
        <span>Zavřít</span>
    </button>
    <div style="display: flex; gap: 10px;">
        <button class="btn btn--outline-secondary">
            <i-tabler name="plus"></i-tabler>
            <span>Vytvořit nového</span>
        </button>
        <button class="btn btn--primary" (click)="$event">
            <i-tabler name="check"></i-tabler>
            <span>Přidat</span>
        </button>
    </div>
</div>