<div class="modal-body">
    <div class="search-wrapper full-width">
        <i-tabler name="search"></i-tabler>
        <input type="search" name="search" id="parent" [formControl]="search" placeholder="Hledat osobu">
    </div>
    <div class="modal-table-header">
        <div>Jméno</div>
        <div>Zákonný zástupce pro...</div>
    </div>
    <div id="parentList">
        @for(parent of parents;track parent.parent_id) {
        <div class="parent-select-row">
            <label><input type="checkbox">{{ parent.parent_full_name }}</label>
            <div>
                @for (child of parent.children;track child.child_id) {
                <div class="child-tag">
                    <span class="initials">{{ Utils.getInitials(child.child_full_name) }}</span>
                    <span>{{ child.child_full_name }}</span>
                    <span class="child-class">({{ child.child_classname }})</span>
                </div>
                }
            </div>
        </div>
        }
    </div>
</div>

<div class="modal-footer">
    <button class="btn" (click)="closeModal()">
        <i-tabler name="x"></i-tabler>
        <span>Zavřít</span>
    </button>
    <div style="display: flex; gap: 10px;">
        <button class="btn btn--outline-secondary">
            <i-tabler name="plus"></i-tabler>
            <span>Vytvořit nového</span>
        </button>
        <button class="btn btn--primary" (click)="$event">
            <i-tabler name="check"></i-tabler>
            <span>Přidat</span>
        </button>
    </div>
</div>