<div class="message message--info">
    {{ l.s('settings.passkeys.edit.description') }}
</div>
<form (ngSubmit)="updatePasskey()">
    <input type="submit" value="" style="display: none;">
    <div class="form-group">
        <label for="token">
            {{ l.s('settings.passkeys.edit.form.name.label') }}
        </label>
        <input type="text" (keydown.enter)="updatePasskey()" [value]="getPasskeyName(settings.selectedPasskey)"
            [formControl]="settings.passkeyName" [placeholder]="l.s('settings.passkeys.edit.form.name.placeholder')">
    </div>
    <div class="modal-actions">
        <div class="form-group">
            <div class="btn btn--primary" (click)="updatePasskey()">
                <i-tabler name="device-floppy"></i-tabler>
                <span>{{ l.s('settings.passkeys.edit.form.button') }}</span>
            </div>
        </div>
    </div>
</form>