.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row > .left, .row > .right {
    width: 50%;
    max-width: 50%;
}

.row > .buttons {
    min-width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row > .buttons > .btn {
    font-size: 72px;
}

.list-receivers {
    overflow-y: auto;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    min-height: 350px;
    width: 100%;
    background-color: var(--background-tertiary);
}