.row {
    display: flex;
    flex-direction: row;
}

.item .row {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

li.item {
    position: relative;
    padding: 8px;
    overflow: hidden;
}

li.item.active::after {
    position: absolute;
    content: '';
    height: 32px;
    width: 8px;
    background-color: var(--primary);
    top: 50%;
    left: 0;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}

.item.disabled {
    cursor: not-allowed;
}

.left-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    color: var(--primary);
}

.lesson {
    font-weight: 600;
}

.item:not(.disabled) .lesson {
    color: var(--primary);
}

hr {
    height: 1px;
    background-color: #e4e4e4;
    border: 0;
}

.left {
    width: 400px;
    padding: 8px;
    padding-top: 54px;
    flex-shrink: 0;
}

.right {
    height: 100%;
    width: 100%;
    padding: 16px;
    overflow-x: hidden;
}

.classbook-last-lesson {
    color: #aba6ae;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 0;
    text-align: center;
    font-weight: 600;
    background: #ebeff0;
}

.btn {
    width: 100%;
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
    text-align: center;
}

textarea {
    width: 100%;
    resize: vertical;
}

.absence-student, .absence-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px;
}

.absence-selector {
    margin-bottom: 2.5rem;
}

.absence-student .name {
    width: 200px;
    margin-right: 8px;
}

.absence-student .hours {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.absence-selector .item {
    margin: 0 8px;
}

.item.absence {
    user-select: none;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--absence-color);
}

.absence-selector .item.absence.active {
    box-shadow: 0px 0px 1px 2.5px var(--absence-color);
}

.absence-selector .item.absence.trash.active {
    color: var(--primary);
}

.absence-student .hours .hour {
    width: 22px;
    height: 22px;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.absence-student .hours .hour:empty:not(.active), .absence-student .hours .hour.active {
    border: 1px solid #fff;
}

.absence-student .hours .hour.active {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.absence-student:first-of-type .hours .hour::after {
    content: attr(lessoncount);
    position: absolute;
    top: -8px;
    transform: translateX(-50%) translateY(-100%);
    color: #fff;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.absence-student:first-of-type .hours .hour.active::after {
    color: var(--primary);
    font-size: 18px;
    font-weight: bold;
    top: -4px;
}