.row {
    display: flex;
    flex-direction: row;
}

.item .row {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

li.item {
    position: relative;
}

.item.disabled {
    cursor: not-allowed;
}

.left-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class {
    height: 100%;
    min-height: 54px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    height: 1px;
    background-color: #e4e4e4;
    border: 0;
}

.left {
    width: 400px;
    padding: 8px;
    padding-top: 54px;
    flex-shrink: 0;
}

.right {
    height: 100%;
    width: 100%;
    padding: 16px;
    overflow-x: hidden;
}

.classbook-last-lesson {
    color: #aba6ae;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 0;
    text-align: center;
    font-weight: 600;
    background: #ebeff0;
}

.btn {
    width: 100%;
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary-color);
    text-align: center;
}

textarea {
    width: 100%;
    resize: vertical;
}