<div class="card">
    <div class="card-top"></div>
    <div class="card-header">
        <h2>{{ schoolingo.locale.getLocale('sidebar/teach/classbook') }}</h2>
        <div class="flex-items">
            <div [ngClass]="{button: true, active: dropdown.isOpen(calendarCalendarName)}" [attr.dropdown]="calendarCalendarName" (click)="$event.stopPropagation();dropdown.toggle(calendarCalendarName)">
                <i-tabler name="calendar-month"></i-tabler>
                {{ selectedDate.getValue().format('DD. MM. YYYY') }}
            </div>
        </div>
    </div>
    <div class="card-body card-row">
        <div class="left hours">
            @for (hour of schoolingo.getTimetableHours(); track hourIndex;let hourIndex = $index) {
                @if (schoolingo.getTimetableLessons()[selectedDate.getValue().isoWeekday() - 1]) {
                    @for (lesson of schoolingo.getTimetableLessons()[selectedDate.getValue().isoWeekday() - 1][hourIndex]; track $index) {
                        {{ 'Hodina: ' + (hourIndex + 1) }}
                        @if (lesson) {
                            <div class="hour">
                                {{ lesson.subjectName }}
                            </div>
                        }
                    }
                }
            }
        </div>

        <div class="right">
            
        </div>
    </div>
</div>