<div class="box">
    <header>
        <h2>{{ locale.getLocale('sidebar/teach/classbook') }}</h2>
        <div class="flex-items">
            <schoolingo-calendar [name]='calendarName' class="no-small" [options]="calendarOptions"></schoolingo-calendar>
        </div>
    </header>
    <div class="box-content" *ngIf="calendarEl">
        <div class="row">
            <div class="left">
                <ul class="list-items" *ngIf="schoolingo.getTimetable()?.[calendarEl.date.getDay() - 1]?.lessons">
                    <li [ngClass]="{item: true, active: selectedLesson == index, disabled: !lesson[0].subject}" *ngFor="let lesson of schoolingo.getTimetable()[calendarEl.date.getDay() - 1].lessons;index as index" (click)="selectLesson(index)">
                        <div class="row">
                            <div class="left-item">
                                <div class="lesson">
                                    {{ (index + 1) + '.' }}
                                </div>
                            </div>
                            <div class="center">
                                <div class="lesson">{{ (!lesson[0].subject) ? 'Volná hodina' : lesson[0].subject[2] }}</div>
                                <div class="row">
                                    <div class="class" *ngIf="lesson[0].class">{{ lesson[0].class }}, </div> 
                                    <div class="time">{{ schoolingo.getSHours()[index].start }} - {{ schoolingo.getSHours()[index].end }}</div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right" [ngStyle]="{ visibility: selectedLesson != undefined ? 'visible' : 'hidden' }">
                <div style="display: flex;flex-direction: row;justify-content: center;">
                    <schoolingo-tabs [name]="tabName" [options]="[locale.getLocale('classbook/lessonNotation'), locale.getLocale('classbook/attendance'), locale.getLocale('sidebar/teach/homeworks'), locale.getLocale('classbook/notes')]"></schoolingo-tabs>
                </div>
                <div
                class="classbook-title"
                *ngIf="selectedLesson != undefined &&
                    schoolingo.getTimetable()[calendarEl.date.getDay() - 1] &&
                    schoolingo.getTimetable()?.[calendarEl.date.getDay() - 1]?.lessons?.[selectedLesson] &&
                    schoolingo.getTimetable()?.[calendarEl.date.getDay() - 1]?.lessons?.[selectedLesson]?.[0]">
                    <div class="subject">
                        {{ schoolingo.getTimetable()[calendarEl.date.getDay() - 1].lessons[selectedLesson][0].subject?.[2] }}
                    </div>
                    <div>
                        {{
                            calendarEl.date.getDate() + '. ' + (calendarEl.date.getMonth() + 1) + '. ' + calendarEl.date.getFullYear() +
                            ' (' + schoolingo.full_days[calendarEl.date.getDay() - 1] + ')' + ' ' +
                            (selectedLesson + 1) + '. hodina, ' + schoolingo.getSHours()[selectedLesson].start + ' - ' + schoolingo.getSHours()[selectedLesson].end
                        }}
                    </div>
                    <div>{{ schoolingo.getTimetable()[calendarEl.date.getDay() - 1].lessons[selectedLesson][0].class }}</div>
                    <div *ngIf="getService().length > 0">Služba: {{ getService().join(', ') }}</div>
                    <div class="classbook-content" *ngIf="tabs.getTabValue(tabName) == 0">
                        <div class="section-title">
                            <div class="title-bar"></div>
                            <div class="title">{{ locale.getLocale('classbook/lessonNotation') }}</div>
                        </div>
                        <div class="form-group">
                            <label for="lessonNum">Číslo hodiny: </label>
                            <input type="number" name="lessonNum" id="lessonNum" [formControl]="lessonNumber" min="1" step="1">
                        </div>

                        <div class="form-group">
                            <label for="lessonTopic">Téma hodiny: </label>
                            <input type="text" name="lessonTopic" id="lessonTopic" [formControl]="lessonTopic">
                        </div>

                        <!-- <div class="form-group">
                            <label for="lessonNote">Poznámka: </label>
                            <textarea name="lessonNote" id="lessonNote" [formControl]="lessonNote"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="internalNote">Interní poznámka: </label>
                            <textarea name="internalNote" id="internalNote" [formControl]="internalNote"></textarea>
                        </div> -->

                        <div class="btn" (click)="saveLesson()">Uložit zápis hodiny</div>

                        <div *ngIf="false">
                            <hr>
                            <div class="classbook-last-lesson">MINULÁ HODINA</div>
                        </div>
                    </div>

                    <div class="classbook-content" *ngIf="tabs.getTabValue(tabName) == 1">
                        <div class="section-title">
                            <div class="title-bar"></div>
                            <div class="title">{{ locale.getLocale('classbook/attendance') }}</div>
                        </div>
                        <div class="absence-selector">
                            <div class="item">
                                <i class="ti ti-copy"></i>
                                Kopírovat z předchozí hodiny
                            </div>
                            <div
                            [ngClass]="['item', 'absence', 'ab-' + absence.locale, (selectedAbsence == index) ? 'active' : '']"
                            *ngFor="let absence of schoolingo.absence;index as index"
                            [attr.tooltip]="locale.getLocale('absence/' + absence.locale)"
                            (click)="selectedAbsence = index"
                            [innerHTML]="absence.icon ? '<i class=\'ti ti-' + absence.icon + '\'></i>' : locale.getLocale('absence/' + absence.locale).charAt(0).toUpperCase()"
                            ></div>
                            <div
                            [ngClass]="['absence', 'item', (selectedAbsence == -1) ? 'active' : '', 'trash']"
                            (click)="selectedAbsence = -1"
                            >
                                <i class="ti ti-trash-x"></i>
                            </div>
                        </div>
                        <div class="students">
                            <div class="absence-student" *ngFor="let student of students;index as rank">
                                <div class="name">
                                    <b>{{ (rank + 1) + '. ' }}</b>
                                    {{ student.lastName + ' ' + student.firstName }}
                                </div>
                                <div class="hours">
                                    <div
                                    [ngClass]="{hour: true, active: selectedLesson == index}"
                                    [attr.lessonCount]="index + 1"
                                    *ngFor="let _ of [].constructor(classInfo.maxHours);index as index"
                                    (click)="(selectedLesson == index) ? applyAbsence(student.student) : ''"
                                    >
                                        <div
                                        [ngClass]="['item', 'absence', 'ab-' + schoolingo.absence[absence[student.student][index]].locale]"
                                        *ngIf="absence?.[student.student] && absence[student.student]?.[index] != -1"
                                        [innerHTML]="schoolingo.absence[absence[student.student][index]].icon ? '<i class=\'ti ti-' + schoolingo.absence[absence[student.student][index]].icon + '\'></i>' : locale.getLocale('absence/' + schoolingo.absence[absence[student.student][index]].locale).charAt(0).toUpperCase()"
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>