.row {
    display: flex;
    flex-direction: row;
}

.item .row {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

li.item {
    position: relative;
    padding: 8px;
    overflow: hidden;
}

li.item.active::after {
    position: absolute;
    content: '';
    height: 32px;
    width: 8px;
    background-color: var(--primary);
    top: 50%;
    left: 0;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}

.item.disabled {
    cursor: not-allowed;
}

.left-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    color: var(--primary);
}

.lesson {
    font-weight: 600;
}

.item:not(.disabled) .lesson {
    color: var(--primary);
}

hr {
    height: 1px;
    background-color: #e4e4e4;
    border: 0;
}

.left {
    width: 400px;
    padding: 8px;
    padding-top: 54px;
    flex-shrink: 0;
}

.right {
    height: 100%;
    width: 100%;
    padding: 16px;
    overflow-x: hidden;
}

.classbook-last-lesson {
    color: #aba6ae;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 0;
    text-align: center;
    font-weight: 600;
    background: #ebeff0;
}

.btn {
    width: 100%;
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
    text-align: center;
}

textarea {
    width: 100%;
    resize: vertical;
}

.absence-student {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px;
}

.absence-student .name {
    width: 200px;
    margin-right: 8px;
}

.absence-student .hours {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.absence-student .hours .hour {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    border: 1px solid #fff;
}

.absence-student .hours .hour.active {
    width: 28px;
    height: 28px;
    cursor: pointer;
}