.button {
    border-radius: 15px;
    background-color: var(--background-active);
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    padding: 6px 12px;
    cursor: pointer;
    user-select: none;
    z-index: 3!important;
    color: var(--color-darker);
    transition: all 0.15s ease-in;
}

.button:hover {
    background-color: var(--background-hover);
}

.button i-tabler {
    margin-right: .5rem;
    width: 15px;
    height: 15px;
}