@if (schoolingo.isLoginExpired) {
    Vaše platnost přihlášení vypršela.
    <div class="btn" (click)="schoolingo.userService.logout()">
        {{ schoolingo.locale.getLocale('modals/loginExpire/logout') }}
    </div>
} @else {
    Vaše platnost brzy vyprší.
    @if (time <= 3) {
        Budete automaticky odhlášeni za {{ time }} sekundy.
    } @else {
        Vyprší za {{ logoutTime }}
    }

    <div [ngClass]="{btn: true, gray: time <= 3}" (click)="refreshToken()">
        {{ schoolingo.locale.getLocale('modals/loginExpire/stayLogged') }}
    </div>
    <div class="progress-bar mt">
        <div class="progress" [ngStyle]="{ width: logoutPercents + '%' }"></div>
    </div>
}