.dashboard {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.dashboard h1 {
    margin-bottom: 1rem;
}

.modules {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.modules > .module {
    position: relative;
    height: 425px;
    margin: .5rem;
    width: 390px;
    background-color: var(--surface);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.module > .module-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    min-height: 56px;
    padding: 0 .5rem 0 2rem;
    box-shadow: var(--header-shadow);
}

.module > .module-header > h2 {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.27px;
    text-underline-position: under;
}

.module > .module-header > h2.has-link {
    text-decoration: underline dotted;
    cursor: pointer;
}

.module > .module-header > h2.has-link:hover {
    text-decoration: underline;
}

.module > .module-body {
    height: calc(100% - 56px);
    position: relative;
}