<div class="dashboard">
    <div class="modules">
        @for (module of modules; track module.id) {
        <div class="module">
            <div class="module-header">
                <h2>{{ l.s(module.titleKey) }}</h2>
            </div>
            <div class="module-body" [class.skeleton]="module.component() == null">
                @if (module.component() == null) {
                <div class="loader"></div>
                } @else {
                <ng-container *ngComponentOutlet="module.component()"></ng-container>
                }
            </div>
        </div>
        }
    </div>
</div>