.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 375px);
    gap: 1.5rem;
}

.grid > .module {
    position: relative;
    height: 400px;
    background-color: var(--background-body);
}

.module > .module-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 0 .5rem 0 2rem;
    box-shadow: var(--header-shadow);
}

.module > .module-header > h2 {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.27px;
}

.module > .module-header > h2.has-link {
    cursor: pointer;
}

.module > .module-header > h2.has-link:hover {
    text-decoration: underline;
}