.module {
    margin: 2rem 1rem!important;
}

.module-header {
    height: 78px;
    position: relative;
}

.module-content {
    height: 300px;
}

.tab-content {
    overflow: auto;

}

.redirect {
    cursor: pointer;
}

.redirect:hover {
    text-decoration: underline;
}

.bottom-shadow {
    box-shadow: rgba(6, 6, 7, 0.1) 0px 1px 0px 0px, rgba(2, 2, 2, 0.025) 0px 1.5px 0px 0px, rgba(6, 6, 7, 0.025) 0px 2px 0px 0px;
    border-bottom: 1px solid var(--dark-border);
    z-index: 25;
}