.items {
    display: flex;
    flex-direction: column;
}

.items .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--input-background);
    padding: 8px 16px;
    border-radius: var(--radius);
    cursor: pointer;
    margin: .5rem 0;
    text-align: center;
}