<div class="card">
    <div class="card-top"></div>
    <div class="card-header mb">
        <h2>
            {{ schoolingo.locale.getLocale('sidebar/system') }}
        </h2>
    </div>
    <div class="card-body mb-2">
        <div class="items">
            <div class="item">
                <div class="left">{{ schoolingo.locale.getLocale('system/systemName') }}</div>
                <div class="right">{{ App.APP_NAME }} - {{ schoolingo.locale.getLocale('system/systemDescription') }}</div>
            </div>
            <div class="item">
                <div class="left">{{ schoolingo.locale.getLocale('system/systemVersion') }}</div>
                <div class="right">{{ App.APP_VERSION }}</div>
            </div>
            <div class="item">
                <div class="left">{{ schoolingo.locale.getLocale('school/name') }}</div>
                <div class="right">{{ schoolingo.school.schoolInfo.name }}</div>
            </div>
            <div class="item">
                <div class="left">Stav služeb</div>
                <div class="right">
                    V pořádku
                </div>
            </div>
        </div>
    </div>
    <div class="card-header mb">
        <h2>
            {{ schoolingo.locale.getLocale('system/usedLibraries') + ' ( ' + libraryList.length + ' knihoven )' }}
        </h2>
    </div>
    <div class="card-body">
        <div class="items">
            @for (item of libraryList; track $index) {
                <div class="item">
                    <div class="left">{{ item }}</div>
                    <div class="right"></div>
                </div>
            }
        </div>
    </div>
</div>