<h2 class="small mb">
    {{ l.s('settings.language') }}
</h2>
<div class="language">
    <div class="items">
        @for (language of l.getLanguages(); track $index) {
            <div [ngClass]="{item: true, active: l.getSelectedLanguage().getValue() == language}" (click)="l.setLanguage(language)">
                <img [src]="l.getLanguage(language)?.flag" [alt]="l.getLanguage(language)?.name" height="24" style="margin-right: 8px;">
                <div>
                    {{ l.getLanguage(language)?.name }}
                </div>
                @if (l.getSelectedLanguage().getValue() == language) {
                    <div [ngClass]="{badge: true, active: l.getState() == 'loaded', loading: l.getState() == 'loading'}">
                        @if (l.getState() == "loading") {
                            <div class="loader"></div>
                        }
                        {{ l.s(l.getState() == 'loaded' ? 'selected' : 'loading') }}
                    </div>
                }
            </div>
        }
    </div>
</div>