.flag {
    width: 42px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meta {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 600;
}

.subname {
    font-weight: 400;
    color: var(--color-darker);
    opacity: .7;
    font-size: 14px;
}