<h2 class="small mb">
    {{ l.s('settings.language') }}
</h2>
<div class="language">
    <div class="items">
        @for (language of l.getLanguages(); track $index) {
            <div [ngClass]="{item: true, active: l.getSelectedLanguage().getValue() == language}" (click)="l.setLanguage(language);l.saveLanguage()">
                <div class="flag">
                    <img [src]="l.getLanguage(language)?.flag" [alt]="l.getLanguage(language)?.name" width="27" height="18">
                </div>
                <div class="meta">
                    <span class="name">
                        {{ l.getLanguage(language)?.name }}
                        <span class="subname">
                            ({{ l.getSelectedLanguage().getValue() == language ? l.getLanguage(language)?.name : l.s('languages.' + l.getLanguage(language)?.iso) }})
                        </span>
                    </span>
                </div>
                @if (l.getSelectedLanguage().getValue() == language) {
                    <div [ngClass]="{badge: true, active: l.getState() == 'loaded', loading: l.getState() == 'loading', danger: l.getState() == 'error'}">
                        @if (l.getState() == "error") {
                            <i-tabler name="x"></i-tabler>
                            {{ l.s('settings.languages.error') }}
                        }
                        @if (l.getState() == "loading") {
                            <div class="loader"></div>
                        }
                        {{ l.s(l.getState() == 'loaded' ? 'selected' : 'loading') }}
                    </div>
                }
            </div>
        }
    </div>
</div>