<div class="stat-card" [ngClass]="'stat--' + type">
    @if (icon) {
    <div class="stat-icon">
        <i-tabler [name]="icon"></i-tabler>
    </div>
    }
    <div class="stat-info">
        @if (value !== undefined) {
            <div class="stat-value">{{ value }}</div>
        }
        @if (label !== undefined && label != '') {
            <div class="stat-label">{{ l.s(label) }}</div>
        }
        @if (sub) {
            <div class="stat-sub" [ngClass]="'text--' + sub_type">{{ sub }}</div>
        }
    </div>
</div>