<!-- <div class="card">
    <div class="card-top"></div>
    <div class="card-header mb">
        <h2>{{ schoolingo.locale.getLocale('sidebar/user/loginHistory') }}</h2>
        <div class="flex-items">
        </div>
    </div>
    <div class="card-body mt">
        <schoolingo-datalist [options]="{ url: 'users:loginHistory' }" [head]="['Pokus', 'Uspěšné', 'ip', 'Vytvořeno', 'systém', 'prohlizec']" [data]="history" [metadata]="metadata"></schoolingo-datalist>
    </div>
</div> -->

<div class="card">
    <div class="card-top">
    </div>
    <div class="card-header">
        <h2>{{ l.getLocale('sidebar/user/loginHistory') }}</h2>
    </div>
    <div class="card-body">
        <schoolingo-datalist (datalist)="subscribeDatalist($event)" [options]="{}" [head]="tableHead" [data]="history" [metadata]="metadata"></schoolingo-datalist>
    </div>
</div>