.grade-table-wrapper {
  overflow-x: auto;
}

/* --- TABULKA --- */
.grade-table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text);
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

/* === HLAVIČKA === */
.grade-table thead th {
  padding: 8px 12px;
  text-align: center;
  color: rgb(171, 185, 191);
  font-weight: 500;
  border-bottom: 1px solid var(--border);
}

th,
td {
  padding: 8px 12px;
  border-bottom: 1px solid var(--border);
  text-align: center;
  width: 55px;
  min-width: 55px;
}

th.year {
  border-bottom: 0!important;
}

.grade-table td.subject {
  text-align: left;
}

/* První sloupec */
.subject-col {
  min-width: 180px;
  width: 100%;
}

/* Předměty (levý sloupec) */
.subject {
  font-weight: 600;
  color: var(--text);
}


/* --- SEKČNÍ ŘÁDKY (Chování / Povinné / Nepovinné) --- */
.section-row td {
  padding: 14px 6px 1px 0px !important;
  text-align: left;
  font-size: 15px;
  letter-spacing: 0.6px;
  border-bottom: 1px solid var(--primary);
}

tr .year {
  padding: 5px 10px;
  letter-spacing: -0.1px;
  line-height: 14px;
  font-weight: 400!important;
  font-size: 12px;
  color: var(--primary-100);
}

.grade-table td:nth-child(odd):not(.subject) {
  color: var(--primary)
}

.grade-table td:nth-child(even):not(.subject) {
  background-color: var(--hover-bg);
}