
<div class="card">
    <div class="card-top"></div>
    <div class="card-header">
        <h2>{{ l.s("sidebar.marks.midterm") }}</h2>
        <div class="flex-items">
        <schoolingo-tabs
            [value]="selectedTab"
            [options]="options"
        ></schoolingo-tabs>
        </div>
    </div>
    @if(selectedTab.getValue() == 0) {
    <div class="card-body">
        <div class="grade-table-wrapper">
            <table class="grade-table">
                <thead>
                    <tr>
                        <th rowspan="2" class="subject-col"></th>

                        <!-- Roky -->
                        @for(year of [].constructor(getYears());track $index) {
                            <th colspan="2" class="year">
                                {{ getYearText($index) }}
                            </th>
                        }
                    </tr>
                    <tr>
                        @for(year of [].constructor(getYears());track $index) {
                            @for(semester of [].constructor(2);track $index) {
                                <th>{{ $index + 1 }}.</th>
                            }
                        }
                    </tr>
                </thead>

                <tbody>

                    <!-- CHOVÁNÍ -->
                    @for (subject of midterm_grades['null']; track $index) {
                    <tr>
                        <td class="subject">
                            {{ subject.subjectName }}
                        </td>
                        @for (grade of subject.semesters; track $index) {
                            <td>{{ grade ?? '-' }}</td>
                        }
                    </tr>
                    }
                    <!-- POVINNÉ -->
                    <tr class="section-row">
                        <td colspan="999">{{ l.s('marks.midterm.mandatory_subjects') }}</td>
                    </tr>

                    @for (subject of midterm_grades['mandatory']; track $index) {
                    <tr>
                        <td class="subject">
                            {{ subject.subjectName }}
                        </td>
                        @for (grade of subject.semesters; track $index) {
                            <td>{{ grade ?? '-' }}</td>
                        }
                    </tr>
                    }

                    <!-- NEPOVINNÉ -->
                    <tr class="section-row">
                        <td colspan="999">{{ l.s('marks.midterm.optional_subjects') }}</td>
                    </tr>

                    @for (subject of midterm_grades['optional']; track $index) {
                    <tr>
                        <td class="subject">
                            {{ subject.subjectName }}
                        </td>
                        @for (grade of subject.semesters; track $index) {
                            <td>{{ grade ?? '-' }}</td>
                        }
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    }

    @if (selectedTab.getValue() === 1) {
        <div class="card-body"></div>
    }
</div>