.select {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.badge {
    display: flex;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 1rem;
    color: var(--primary);
    background-color: var(--secondary-color); 
}
