<div class="box">
    <header>
        <h2>{{ locale.getLocale('sidebar/messages/send') }}</h2>
    </header>

    <div class="box-content">
        <ng-select
        [(ngModel)]="selectedMessageType"
        [notFoundText]="locale.getLocale('errors/noMessageTypeFound')"
        [multiple]="false"
        [markFirst]="true"
        [searchable]="false"
        [clearable]="false"
        >
            <ng-option *ngFor="let type of getTypes()" [value]="types.indexOf(type)">
                {{ type.label }}
            </ng-option>
        </ng-select>

        <ng-select
            [(ngModel)]="selectedReceivers"
            [notFoundText]="locale.getLocale('errors/noReceiversFound')"
            [multiple]="true"
            [markFirst]="true"
            [searchable]="true"
            *ngIf="selectedMessageType === 0"
        >
            <ng-option *ngFor="let teacher of teachers" [value]="teacher.teacherId">
                <div class="select">
                    {{ teacher.firstName + ' ' + teacher.lastName }}
                    <div class="badge" *ngIf="teacher.teacherId == userService.getUser()?.classTeacher">{{ locale.getLocale('roles/classteacher') }}</div>
                </div>
            </ng-option>
        </ng-select>

        <div *ngIf="selectedMessageType === 0">{{ selectedReceivers | json }}</div>
    </div>
    <div class="right">
        <div class="btn" (click)="sendMessage()"><i class="ti ti-send"></i> {{ locale.getLocale('buttons/send') }}</div>
    </div>

</div>