.multi-card-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.multi-card-wrapper > .card:first-child {
    flex: 1;
}

.multi-card-wrapper > .card:last-child {
    flex: 0 0 400px;
}

.items {
    display: flex;
    flex-direction: column;
}

.items > .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 2px;
}

.items > .item > .value {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Select-row */
.row-selectors {
    display: flex;
    flex-direction: row;
}

.select-row {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
}

.select-row > .select-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .3s;
    user-select: none;
}

.select-row > .select-item.active {
    background-color: var(--primary);
    color: #fff;
}

.select-row > .select-item i-tabler {
    margin-right: .5rem;
    width: 18px;
    height: 18px;
}

/* Select */
.input-select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.input-select > input { cursor: pointer }

.input-select > .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--elevated);
    z-index: 99999;
    overflow-y: auto;
    max-height: 300px;
}

.input-select > .options > .option {
    padding: 8px;
    border: 1px solid var(--border);
    cursor: pointer;
}

textarea {
    min-height: 350px;
    height: 350px;
    max-height: 350px;
}

.alerts { width: 100% }

.receivers {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    overflow-y: auto;
    flex: 1;
}

.receivers > .receiver {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 8px 1rem;
    cursor: pointer;
    border-radius: var(--radius);
    transition: background-color .3s;
}

.receivers > .receiver:hover {
    background-color: var(--hover-bg);
}

.receivers > .receiver.active {
    background-color: var(--message-info-bg);
}

.receivers > .receiver > .select {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 2px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.receivers > .receiver > .select.selected {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
}

.receivers > .receiver > .name {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.receivers > .receiver .role {
    font-size: 14px;
    color: var(--text-muted);
    opacity: .7;
}

.btn-upload {
    border: 0.125rem dashed hsla(223, 10%, 50%, 0.4);
    flex: 1;
    padding: 0.375rem 2rem;
    background-color: transparent;
    border-radius: 0.25rem;
    font-size: 15px;
    position: relative;
}

.btn-upload:hover {
    background-color: hsla(223, 10%, 60%, 0.1);
}

.btn-upload input[type='file'] {
    appearance: none;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.selected-receivers:not(.active) .list-selected-receivers {
    display: none;
}

.selected-receivers.active .list-selected-receivers {
    padding-block: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 50;
    background-color: var(--surface);
}
.selected-receivers .btn {
    z-index: 75;
    position: relative;
}

.card.card-hidden {
    display: none;
}