<div class="card">
    <div class="card-top"></div>
    <div class="card-header mb">
        <h2>{{ schoolingo.locale.getLocale(['sidebar/messages/send', 'messages/writeMessageOnNoticeboard'][selectedTab.getValue()]) }}</h2>
        <div class="flex-items">
            <schoolingo-tabs [options]="['messages/classicMessage', 'sidebar/messages/noticeboard']" [value]="selectedTab"></schoolingo-tabs>
        </div>
    </div>

    <div class="card-body" style="min-height: 300px;">
        @if (schoolingo.messages.types && schoolingo.messages.types.length > 0 && selectedTab.getValue() === 0) {
            @if (schoolingo.messages.types[messageType.getValue()]) {
                <div class="items">
                    <div class="item">
                        <div class="label">{{ schoolingo.locale.getLocale('messages/type') }}</div>
                        <div class="value">
                            <div class="input-select">
                                <input type="text" (click)="showSelect = showSelect == 'messagetype' ? null : 'messagetype'" name="inputSelect" readonly="true" [value]="schoolingo.locale.getLocale('messages/types/' + schoolingo.messages.types[messageType.getValue()].label)" />
                                @if (showSelect == 'messagetype') {
                                    <div class="options">
                                        @for (type of getMessageTypes(); track $index) {
                                                <div class="option" (click)="showSelect = null;messageType.next(schoolingo.messages.types.indexOf(type))">{{ schoolingo.locale.getLocale('messages/types/' + type.label) }}</div>
                                        } @empty {
                                            <div class="option">Nemáš k dispozici žádné možnosti.</div>
                                        }
                                    </div>
                                }
                            </div>
        
                        </div>
                    </div>
    
                    @if (checkMessageType([0])) {
                        <div class="item">
                            <div class="label">{{ schoolingo.locale.getLocale('messages/receiver') }}</div>
                            <div class="value">
                                <input type="text" style="cursor: pointer;" [value]="schoolingo.locale.getLocale('messages/noSelected')" name="selectReceiver" readonly (click)="selectReceivers()">
                            </div>
                        </div>
    
                        <div class="item">
                            <div class="label">{{ schoolingo.locale.getLocale('messages/topic') }}</div>
                            <div class="value">
                                <input type="text" name="topic" [placeholder]="schoolingo.locale.getLocale('messages/topic')">
                            </div>
                        </div>
                    }
    
                    @if (checkMessageType([1])) {
                        <div class="item">
                            <div class="label">{{ schoolingo.locale.getLocale('homeworks/homework') }}</div>
                            <div class="value">
                                @if (schoolingo.homeworks.list.length > 0) {
                                    <div class="input-select">
                                        <input type="text" (click)="showSelect = showSelect == 'homework' ? null : 'homework'" name="inputSelect" readonly="true" [value]="selectedHomework.getValue()" />
                                        @if (showSelect == 'homework') {
                                            <div class="options">        
                                                @for (type of []; track $index) {
                                                    <div class="option" (click)="showSelect = null;">{{ '123' }}</div>
                                                }
                                            </div>
                                        }
                                    </div>
                                } @else {
                                    <div class="alerts">
                                        <div class="alert red">Nemáte žádné úkoly k odevzdání</div>
                                    </div>
                                }
            
                            </div>
                        </div>
                    }

                    @if (checkMessageType([2])) {
                        <div class="item">
                            <div class="label">{{ schoolingo.locale.getLocale('messages/student') }}</div>
                            <div class="value">
                                <input type="text" style="cursor: pointer;" [value]="schoolingo.locale.getLocale('messages/noSelected')" name="selectReceiver" readonly (click)="selectReceivers()">
                            </div>
                        </div>
    
                        <div class="item">
                            <div class="label">{{ schoolingo.locale.getLocale('messages/excuseLabel') }}</div>
                            <div class="select-row">
                                <div [ngClass]="{'select-item': true, active: excuseAllDay}" (click)="excuseAllDay = !excuseAllDay">
                                    <i class="ti ti-user-x"></i>
                                    <span>Omluvit celý den</span>
                                </div>
                            </div>
                            <div class="value">
                                <div style="width: 50%;">
                                    <div class="label">{{ schoolingo.locale.getLocale('messages/from') }}</div>
                                    <input type="text" name="from" [placeholder]="schoolingo.locale.getLocale('messages/from')">
                                </div>

                                <div style="width: 50%;">
                                    <div class="label">{{ schoolingo.locale.getLocale('messages/to') }}</div>
                                    <input type="text" name="to" [placeholder]="schoolingo.locale.getLocale('messages/to')">
                                </div>
                            </div>
                        </div>
                    }
    
                    @if (checkMessageType([0]) || (checkMessageType([1]) && schoolingo.homeworks.list.length > 0)) {
                        <div class="row-selectors mb">
                            <div class="select-row">
                                <div class="select-item" (click)="selectTags()">
                                    <i class="ti ti-tags"></i>
                                    <span>Označení</span>
                                </div>
                                <div class="select-item" (click)="selectAttachments()">
                                    <i class="ti ti-paperclip"></i>
                                    <span>Přílohy</span>
                                </div>
                            </div>

                            <div class="select-row">
                                <div [ngClass]="{'select-item': true, active: requireConfirmation}" (click)="requireConfirmation = !requireConfirmation">
                                    <i class="ti ti-check"></i>
                                    <span>Vyžaduje potvrzení</span>
                                </div>

                                <div [ngClass]="{'select-item': true, active: copyToClassTeacher}" (click)="copyToClassTeacher = !copyToClassTeacher">
                                    <i class="ti ti-chalkboard"></i>
                                    <span>Kopie třídnímu učiteli</span>
                                </div>

                                <div [ngClass]="{'select-item': true, active: copyToParents}" (click)="copyToParents = !copyToParents">
                                    <i class="ti ti-old"></i>
                                    <span>Kopie rodičům</span>
                                </div>
                            </div>

                            <div class="select-row">
                                <div [ngClass]="{'select-item': true, active: asPrincipal}" (click)="asPrincipal = !asPrincipal">
                                    <i class="ti ti-user-screen"></i>
                                    <span>Jako ředitel</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">{{ schoolingo.locale.getLocale('messages/message') }}</div>
                            <textarea name="message" id="message" style="min-height: 15rem;" [placeholder]="schoolingo.locale.getLocale('messages/messagePlaceholder')" (resize)="('horizontal')"></textarea>
                        </div>
                        <div class="alerts">
                            <div class="alert blue-info">
                                {{ schoolingo.locale.getLocale('messages/privacy') }}
                            </div>
                        </div>
                        <div class="btn submit" role="button">{{ schoolingo.locale.getLocale('buttons/send') }}</div>
                    }
                </div>
            } @else {
                <div class="alerts">
                    <div class="alert red" (click)="messageType.next(0)">Nastala nějaká podivná chyba, klikni pro obnovení na základní typ</div>
                </div>
            }
        } @else if (selectedTab.getValue() === 1) {
        } @else {
            <div class="alerts">
                <div class="alert red">No message types found.</div>
            </div>
        }
    </div>
</div>