.items {
    display: flex;
    flex-direction: column;
}

.items > .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 2px;
}

.items > .item > .label {
    font-weight: bold;
}

.items > .item > .value {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Select-row */
.row-selectors {
    display: flex;
    flex-direction: row;
}

.select-row {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
}

.select-row > .select-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .3s;
    user-select: none;
}

.select-row > .select-item.active {
    background-color: var(--primary);
    color: #fff;
}

.select-row > .select-item i {
    margin-right: .5rem;
    font-size: 18px;
}


/* Select */
.input-select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.input-select > input {
    cursor: pointer;
}

.input-select > .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--input-background);
    z-index: 99999;
    overflow-y: auto;
    max-height: 300px;
}

.input-select > .options > .option {
    padding: 8px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

textarea {
    min-height: 350px;
    height: 350px;
    max-height: 350px;
}

.alerts {
    width: 100%;
}