.box-content {
    padding: 2rem; 
}

.select-option {
    align-items: center;
}

.icon {
    margin-right: 1rem;
    width: 48px;
    height: 48px;
    border-radius: 999rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-hover);
}

.icon i {
    font-size: 1.5rem;
}

.badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}

.badges .badge {
    padding: 4px 8px;
    font-size: 14px;
    line-height: 16px;
    background-color: var(--background-active);
    border-radius: 8px;
    user-select: none;
}


.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.device {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

p:first-child {
    margin-top: 0!important;
}

p {
    opacity: .85;
    font-size: 15px;
    margin: 1rem 0;
}