.alerts {
    display: flex;
    flex-direction: column;
}

.alerts > .alert {
    padding: 8px 16px;
    /* clip-path: var(--polygon); */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
}

.alerts > .alert > .text {
    text-align: left;
}

.alerts > .alert > .actions {
    margin-left: 1rem;
}

.alerts > .alert > .actions > .btn {
    padding: 4px 12px;
    border-radius: var(--radius);
    background-color: transparent;
    transition: all .3s;
}

.alerts > .alert.red > .actions > .btn,
.alerts > .alert.error > .actions > .btn
{
    background-color: var(--error-start-bg)!important;
    border: 1px solid var(--error-color)!important;
    color: var(--error-color)!important;
}

.alerts > .alert.error > .actions > .btn:hover {
    background-color: var(--error-start-bg);
    color: #fff;
}

.alerts > .alert > .close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 16px;
    cursor: pointer;
}

.alerts > .alert > .close > i-tabler {
    width: 20px;
    height: 20px;
}