main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #fff;
}



.title {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    margin-top: 1.25rem;
}

.school {
    color: #666;
    text-align: center;
    margin-bottom: 1rem;
}

.card > .row > div {
    width: 50%;
}


.qrcode {
    border-radius: 24px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qrcode qrcode {
    width: 160px;
    height: 160px;
    display: block;
}

.row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 8px 0;
}

.row img {
    margin: 0 16px;
    height: 40px;
}


.bar {
    margin: auto 1rem;
    width: fit-content!important;
    position: relative;
    height: 100%;
    display: flex;
    color: #111;
    align-items: center;
}

.bar::before, .bar::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: calc(50% - 24px);
    width: 2px!important;
    background-color: #444;

}

.bar::before {
    top: 0;
}

.bar::after {
    bottom: 0;
}

h1 {
    font-size: 2.5rem;
    user-select: none;
    font-weight: 900;
}

@media (max-width: 885px) {
    .bar, .qrcode {
        display: none;
    }
    .card {
        width: fit-content;
        min-width: unset;
    }
    .card > .row > div {
        width: 100%;
    }
}

@media(max-width:315px) {
    h1 {
        font-size: 2rem;
    }
}

@media(max-width:215px) {
    h1 {
        font-size: 1.25rem;
    }
}

label {
    font-weight: 500;
    display: block;
    margin: 20px 12px 5px;
}

label.error {
    color: var(--error);
}

.label-error {
    font-size: 14px;
}

input {
    font-size: 16px;
    border: 2px solid #d1d3d4;
    width: 100%;
    padding: 8px 16px;
    font-family: "Roboto", sans-serif;
    border-radius: 24px;
    color: #111;
    background: #fff;
}

input:focus {
    outline: none;
}

div[role='button'].submit {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    padding: 8px 24px;
    border-radius: 24px;
    cursor: pointer;
}