.modals {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999999;
}

.modals > .modal {
    z-index: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    background-color: var(--background-body);
    width: var(--width, 500px);
    border-radius: var(--radius);
    box-shadow: rgba(2, 2, 2, 0.5) 0px 0px 3px;
    padding: 2rem;
    max-height: 100vh;
    overflow-y: auto;
}

.modals > .modal > .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: var(--color-darker);
    transition: color .3s;
}

.modals > .modal > .modal-close:hover {
    color: var(--color);
}

.modals > .modal > .modal-header {
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modals > .modal > .modal-header i-tabler {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.modals > .modal > .modal-center {
    display: flex;
    justify-content: center;
}

.modals > .modal .modal-body {
    margin: 1rem 2rem;
    border: 1px solid var(--border-color);
    background-color: var(--background-hover);
    width: calc(100% - 4rem);
    height: 25rem;
}

.modals > .modal > .alert {
    padding: 8px 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 8px 0;
}

.modals > .modal > .modal-center > .modal-body .child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--background-body);
    transition: all .3s;
}

.modals > .modal > .modal-center > .modal-body .child .child-name {
    font-weight: bold;
}

.modals > .modal > .modal-center > .modal-body .child .child-info {
    color: var(--color-darker);
}

.modals > .modal > .modal-center > .modal-body .child .btn {
    padding: 8px 16px;
    cursor: pointer;
    transition: all .3s;
    border: 1px solid var(--border-color);
}

.modals > .modal > .modal-center > .modal-body .child .btn:hover {
    background-color: var(--background-hover);
}


.size-1 { --width: 1000px; }
.size-2 { --width: 550px; }

.modal-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .75rem 1rem;
}

.modal-item > div {
    width: 50%;
}

.modal-item > div:first-child {
    font-weight: bold;
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--border-color);
}