@for (modal of modalManager.getModals(); track $index) {
<div class="modals" (click)="context_menu.hideContextMenu()">
    <div class="modal" [id]="modal.id" [style.overflow]="getOverflowStyle()">
        <div class="modal-header">
            <h2>{{ l.s(modal.title) }}</h2>
        </div>

        <div class="modal-close" (click)="modalManager.closeModal(modal.id)">
            <i-tabler name="x"></i-tabler>
        </div>
        
        <div style="padding-block: 1rem;">
            @for (item of modal.items; track $index) {
                @switch(item.type) {
                    @case("component") {
                        <ng-component [ngComponentOutlet]="item.component"></ng-component>
                    }
                }
            }
        </div>
    </div>
</div>
}