@for (modal of modalManager.getModals(); track $index) {
<div class="modals" (click)="context_menu.hideContextMenu()">
    <div class="modal" [id]="modal.id" [style.--width.px]="modal.width" [style.--z-modal]="modal.index" [style.overflow]="getOverflowStyle(modal.forceScrollbar || false)">
        @if (modal.title != '') {
        <div class="modal-header">
            <h2>{{ l.s(modal.title, modal.title_placeholders) }}</h2>
        </div>
        }

        @if (modal.closeable) {
        <div class="modal-close" (click)="modalManager.closeModal(modal.id)">
            <i-tabler name="x"></i-tabler>
        </div>
        }
        
        <div>
            @for (item of modal.items; track $index) {
                @switch(item.type) {
                    @case("component") {
                        <ng-component [ngComponentOutlet]="item.component"></ng-component>
                    }
                }
            }
        </div>
    </div>
</div>
}