<div class="danger-notice"
    style="margin-top: 1.5rem; display: flex; align-items: center; gap: 0.75rem; color: var(--danger); font-size: 13px; font-weight: 600;">
    <i-tabler name="alert-triangle" style="width: 18px; height: 18px;"></i-tabler>
    <span>{{ l.s('settings.passkeys.remove.description') }}</span>
</div>

<div class="modal-actions">
    <div class="btn" (click)="closeModal()">{{ l.s('buttons.cancel') }}</div>
    <div class="btn btn--danger" (click)="removePasskey()">
        <i-tabler name="trash"></i-tabler>
        {{ l.s('buttons.delete') }}
    </div>
</div>
