<div class="documents-container">
    <div class="sidebar">
        <div class="header">
            <h3>{{ l.s('documents.folders') }}</h3>
            <!-- <div class="btn-icon" (click)="openCreationFolder()">
                <i-tabler name="plus"></i-tabler>
            </div> -->
            <div class="item-btn" (click)="$event.stopPropagation();dropdown = (dropdown == 'add') ? '' : 'add'">
                <div class="icon">
                    <i-tabler name="plus"></i-tabler>
                </div>
                <div class="dropdown" style="min-width: 225px;" [hidden]="dropdown !== 'add'" (click)="$event.stopPropagation()">
                    <ul>
                        @for (item of addDropdown; track $index) {
                            <li [ngClass]="[item.type ? item.type : '']" (click)="dropdown = '';item?.action()">
                                <div class="item">
                                    <div class="row">
                                        @if (item.icon) {
                                            <div class="icon">
                                                <i-tabler [name]="item.icon"></i-tabler>
                                            </div>
                                        }
                                        <div class="item-label">
                                            {{ l.s(item.item) }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="sidebar-content">
            <ul>
                @for (tree of documents.getTree(); track $index) {
                    <ng-container [ngTemplateOutlet]="tree_content" [ngTemplateOutletContext]="{ item: tree }" />
                }
            </ul>
        </div>
    </div>

    <div class="main-area">
        <div class="navbar header">
            <div class="left">
                <div class="search">
                    <i-tabler name="search"></i-tabler>
                    <input type="text" [formControl]="search" [placeholder]="l.s('documents.search_files')">
                </div>
                <div class="btn-icon" (click)="toggleLayout()">
                    <i-tabler [name]="'layout-' + layout"></i-tabler>
                </div>
            </div>

            <div class="right">
                <div class="btn-icon" (click)="refreshFiles()">
                    <i-tabler name="refresh"></i-tabler>
                </div>
                <div class="btn small primary" (click)="openUploadFiles()">
                    <i-tabler name="upload"></i-tabler>
                    {{ l.s('documents.upload') }}
                </div>
            </div>
        </div>
        @if (search.value == '') {
        <div class="document-explorer" (contextmenu)="$event.stopPropagation();rightClickOnGrid($event)">
            @if (layout == 'list') {
            <div class="layout-header file-meta" style="padding: 0 1.5rem">
                <div class="meta" style="flex: 1;">{{ l.s('documents.file_name') }}</div>
                <div class="meta">{{ l.s('documents.file_modified') }}</div>
                <div class="meta">{{ l.s('documents.file_type') }}</div>
                <div class="meta">{{ l.s('documents.file_size') }}</div>
            </div>
            }
            <div class="explorer" [class.explorer-grid]="layout == 'grid'" [class.explorer-list]="layout == 'list'">
                @for(file of documents.getFiles(search.value);track $index) {
                <div class="file-card" [class.selected]="documents.getSelectedFile()?.file_id == file.file_id" (contextmenu)="$event.stopPropagation();rightClickOnItem(file.file_id, $event)" (click)="documents.showProperties(file)"
                    (dblclick)="documents.selectFolder(file)">
                    <div class="icon-wrapper">
                        <i-tabler [name]="documents.getIcon(file.type)"></i-tabler>
                    </div>
                    <div class="file-info">
                        <div class="name" [title]="file.name">{{ file.name }}</div>
                        @if (layout == 'list') {
                            <div class="meta">
                                {{ Utils.formatDateShort(file.modified_at) }}
                            </div>

                            <div class="meta">
                                {{ l.s('documents.types.' + file.type) }}
                            </div>

                            <div class="meta">
                                {{ file.file_size }} B
                            </div>
                        }
                    </div>
                </div>
                } @empty {
                <div class="empty-state">
                    <i-tabler name="folder-off"></i-tabler>
                    <p>{{ l.s('documents.folder_empty') }}</p>
                </div>
                }
            </div>
        </div>
        }
    </div>

    @let file = documents.getSelectedFile();
    <div class="details-panel" [class.open]="file">
        <div class="detail-header header">
            <h3>{{ l.s('documents.file_details') }}</h3>
            <div class="btn-icon" (click)="documents.closeProperties()">
                <i-tabler name="x"></i-tabler>
            </div>
        </div>
        @if (file) {
        <div class="detail-content">
            <div class="detail-preview">
                <i-tabler [name]="documents.getIcon(file.type)" style="width: 64px; height: 64px;"></i-tabler>
            </div>
            <div class="info-group">
                <label>{{ l.s('documents.file_name') }}</label>
                <p>{{ file.name }}</p>
            </div>
            <div class="info-group">
                <label>{{ l.s('documents.file_type') }}</label>
                <p>{{ l.s('documents.types.' + file.type) }}</p>
            </div>
            <div class="info-group">
                <label>{{ l.s('documents.file_size') }}</label>
                <p>{{ file.file_size }} B</p>
            </div>
            <div class="info-group">
                <label>{{ l.s('documents.file_modified') }}</label>
                <p>{{ Utils.formatDate(file.modified_at) }}</p>
            </div>

            <div class="buttons">
                @if (file.type == 'folder') {
                <div class="btn secondary" (click)="documents.selectFolder(file)">
                    <i-tabler name="folder-open"></i-tabler> {{ l.s('documents.open_folder') }}
                </div>
                }
                <div class="btn secondary" (click)="renameFile(file)">
                    <i-tabler name="edit"></i-tabler> {{ l.s('documents.rename_file') }}
                </div>
                <div class="btn secondary">
                    <i-tabler name="lock"></i-tabler> {{ l.s('documents.permissions_file') }}
                </div>
                <div class="btn danger" (click)="deleteFile(file)">
                    <i-tabler name="trash-x"></i-tabler> {{ l.s('documents.delete') }}
                </div>
            </div>
        </div>
        }
    </div>
</div>

<ng-template #tree_content let-item="item">
    <li>
        <div class="tree-content" (click)="context_menu.hideContextMenu();documents.selectFolder(item)" (contextmenu)="rightClickOnItem(item.file_id, $event)" [class.active]="item.file_id === documents.getSelectedFolder()?.file_id">
            @if ((item.files_count || (item.children && item.children.length))) {
            <span class="toggle-icon" (click)="context_menu.hideContextMenu();toggleFolder(item, $event)" [class.expanded]="isFolderExpanded(item)">
                <i-tabler [name]="isFolderExpanded(item) ? 'chevron-down' : 'chevron-right'" style="width: 16px; height: 16px;"></i-tabler>
            </span>
            } @else {
            <span class="toggle-spacer"></span>
            }
            <span class="tree-label">
                <i-tabler [name]="documents.getIcon(item.type) == 'folder-filled' ? isFolderExpanded(item) ? 'folder-open' : 'folder'  : documents.getIcon(item.type)"></i-tabler>
                {{ item.name || l.s('documents.all_files') }}
            </span>
        </div>
        @if ((item.files_count || (item.children && item.children.length)) && isFolderExpanded(item)) {
        <ul class="tree">
            @for (tree of item.children; track $index) {
                <ng-container [ngTemplateOutlet]="tree_content" [ngTemplateOutletContext]="{ item: tree }" />
            }
        </ul>
        }
    </li>
</ng-template>