<div class="documents-container">
    <div class="sidebar">
        <div class="header">
            <h3>{{ l.s('documents.folders') }}</h3>
            <div class="btn-icon" (click)="openCreationFolder()">
                <i-tabler name="folder-plus"></i-tabler>
            </div>
        </div>
        <div class="sidebar-content">
            <ul>
                @for (tree of documents.getTree(); track $index) {
                    <ng-container [ngTemplateOutlet]="tree_content" [ngTemplateOutletContext]="{ item: tree }" />
                }
            </ul>
        </div>
    </div>

    <div class="main-area">
        <div class="navbar header">
            <div class="left">
                <div class="search">
                    <i-tabler name="search"></i-tabler>
                    <input type="text" [placeholder]="l.s('documents.search_files')">
                </div>
            </div>

            <div class="right">
                <div class="btn small primary" (click)="openUploadFiles()">
                    <i-tabler name="upload"></i-tabler>
                    {{ l.s('documents.upload') }}
                </div>
            </div>
        </div>
        <div class="document-explorer">
            <div class="explorer-grid">
                @for(file of documents.getFiles();track $index) {
                <div class="file-card" (click)="documents.showProperties(file)"
                    (dblclick)="documents.selectFolder(file)">
                    <div class="icon-wrapper">
                        <i-tabler [name]="documents.getIcon(file.type)"></i-tabler>
                    </div>
                    <div class="file-info">
                        <div class="name" [title]="file.name">{{ file.name }}</div>
                    </div>
                </div>
                } @empty {
                <div class="empty-state">
                    <i-tabler name="folder-off"></i-tabler>
                    <p>{{ l.s('documents.folder_empty') }}</p>
                </div>
                }
            </div>
        </div>
    </div>

    <div class="details-panel" [class.open]="file">
        <div class="detail-header header">
            <h3>{{ l.s('documents.file_details') }}</h3>
            <div class="btn-icon" (click)="documents.closeProperties()">
                <i-tabler name="x"></i-tabler>
            </div>
        </div>
        @if (file) {
        <div class="detail-content">
            <div class="detail-preview">
                <i-tabler [name]="documents.getIcon(file.type)" style="width: 64px; height: 64px;"></i-tabler>
            </div>
            <div class="info-group">
                <label>{{ l.s('documents.file_name') }}</label>
                <p>{{ file.name }}</p>
            </div>
            <div class="info-group">
                <label>{{ l.s('documents.file_type') }}</label>
                <p>{{ l.s('documents.types.' + file.type) }}</p>
            </div>
            <div class="info-group">
                <label>{{ l.s('documents.file_size') }}</label>
                <p>{{ file.file_size }} B</p>
            </div>
            <div class="info-group">
                <label>{{ l.s('documents.file_modified') }}</label>
                <p>{{ Utils.formatDate(file.modified_at) }}</p>
            </div>

            <div class="buttons">
                @if (file.type == 'folder') {
                <div class="btn secondary" (click)="documents.selectFolder(file)">
                    <i-tabler name="folder-open"></i-tabler> {{ l.s('documents.open_folder') }}
                </div>
                }
                <div class="btn secondary">
                    <i-tabler name="edit"></i-tabler> {{ l.s('documents.rename_file') }}
                </div>
                <div class="btn secondary">
                    <i-tabler name="lock"></i-tabler> {{ l.s('documents.permissions_file') }}
                </div>
                <div class="btn danger">
                    <i-tabler name="trash-x"></i-tabler> {{ l.s('documents.delete_file') }}
                </div>
            </div>
        </div>
        }
    </div>
</div>

<ng-template #tree_content let-item="item">
    <li>
        <div class="tree-content" (click)="documents.selectFolder(item)" [class.active]="item.file_id === documents.getSelectedFolder()?.file_id">
            @if ((item.files_count || (item.children && item.children.length))) {
            <span class="toggle-icon" (click)="toggleFolder(item, $event)" [class.expanded]="isFolderExpanded(item)">
                <i-tabler [name]="isFolderExpanded(item) ? 'chevron-down' : 'chevron-right'" style="width: 16px; height: 16px;"></i-tabler>
            </span>
            } @else {
            <span class="toggle-spacer"></span>
            }
            <span class="tree-label">
                <i-tabler [name]="documents.getIcon(item.type) == 'folder-filled' ? isFolderExpanded(item) ? 'folder-open' : 'folder'  : documents.getIcon(item.type)"></i-tabler>
                {{ item.name || l.s('documents.all_files') }}
            </span>
        </div>
        @if ((item.files_count || (item.children && item.children.length)) && isFolderExpanded(item)) {
        <ul class="tree">
            @for (tree of item.children; track $index) {
                <ng-container [ngTemplateOutlet]="tree_content" [ngTemplateOutletContext]="{ item: tree }" />
            }
        </ul>
        }
    </li>
</ng-template>