<div class="items">
    @if (alert != null) {
        <alert [alert]="alert"></alert>
    }

    <div class="item mb">
        <div class="label">
            {{ l.s('marks/studentName') }}
        </div>
        <div class="value">
            <input type="text" name="name" [value]="schoolingo.formatPerson(marksManager.getSelectedStudent())" readonly="true">
        </div>
    </div>

    <div class="item mb">
        <div class="label">
            {{ l.s('subject') }}
        </div>
        <div class="value">
            <input type="text" name="name" [value]="marksManager.getSubjectId()xbáí učcj,wtíác jwčháíéhjá || this.l.s('unknown')" readonly="true">
        </div>
    </div>

    <div class="item mb">
        <div class="label">
            {{ l.s('marks/mark') }}
        </div>
        <div class="value">
            <input type="text" name="name" [(ngModel)]="mark">
        </div>
    </div>

    <div class="btn submit" role="button" (click)="editMark()">
        {{ l.s("marks/editMark") }}
    </div>
</div>