<div class="card">
    <div class="card-top">
        @if (alert) {
            <alert [alert]="alert" class="mb"></alert>
        }
    </div>
    <div class="card-header">
        <h2>{{ schoolingo.locale.getLocale('sidebar/marks/intermRecord') }}</h2>
        <div class="flex-items">
            <div class="input-select">
                <input type="text" (click)="showSelect = showSelect == 'groupSelect' ? null : 'groupSelect'" name="inputSelect" readonly="true" [value]="getGroupText(getGroupFromId(selectedGroup.getValue(), selectedSubject.getValue()))" />
                @if (showSelect == 'groupSelect') {
                    <div class="options">
                        <div class="option" (click)="showSelect = null;selectGroup(-1, -1)">‎ </div>
                        @for (group of groups; track $index) {
                                <div class="option" (click)="showSelect = null;selectGroup(group.groupId, group.subjectId)">
                                    {{ getGroupText(group) }}
                                </div>
                        } @empty {
                            <div class="option">‎ </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card-body">
        <div [ngClass]="{'card-tab': true, active: selectedGroup.getValue() === -1}">
            <div class="alerts">
                <div class="alert blue-info mb">
                    {{ schoolingo.locale.getLocale('marks/selectGroup') }}
                </div>
            </div>
            <div class="list-groups">
                @for (group of groups; track $index) {
                    <div class="group" (click)="selectGroup(group.groupId, group.subjectId)">
                        {{ getGroupText(group) }}
                    </div>
                }
            </div>
        </div>
        <div [ngClass]="{'card-tab': true, active: selectedGroup.getValue() !== -1 && selectedSubject.getValue() !== -1}">
            @if (getGroupFromId(selectedGroup.getValue(), selectedSubject.getValue())) {
                <div class="grades-main">
                    <div class="grades-table">
                        <div class="students">
                            <div class="header">
                                <p class="lesson">
                                    {{ getSubject()[0] }}
                                </p>
                                <p>
                                    {{ getGroupText(getGroupFromId(selectedGroup.getValue(), selectedSubject.getValue())) }}
                                </p>
                            </div>
                            @for (student of students; track $index) {
                                @if (student.student) {
                                    <div class="student">
                                        <div class="left">
                                            <span class="studentIndex" [title]="schoolingo.locale.getLocale('marks/studentIndex')">
                                                {{ $index + 1 }}.
                                            </span>
                                            <span class="studentName" [title]="schoolingo.locale.getLocale('marks/studentName')">
                                                {{ schoolingo.formatPerson(student.student) }}
                                            </span>
                                        </div>
                                        <div class="right">
                                            <div class="average" [title]="schoolingo.locale.getLocale('marks/studentAverage')">
                                                {{ getStudentAverage(student.grades) }}
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="grades">
                            <div class="header">
                                @for (column of columns; track $index) {
                                    <div class="grade-column">
                                        <div class="gradeColumnIndex">
                                            {{ $index + 1 }}
                                        </div>
                                        <div class="gradeColumnTopic">
                                            {{ column.topic }}
                                        </div>
                                        <div class="gradeColumnAverage" [title]="schoolingo.locale.getLocale('marks/groupAverage')">
                                            {{ getColumnAverage($index) }}
                                        </div>
                                    </div>
                                }
                            </div>
                            @for (student of students; track studentIndex;let studentIndex = $index) {
                                @if (student.student) {
                                    <div class="grades-row">
                                        @for (grade of student?.grades || [];track $index) {
                                            <div class="grade-column" (click)="editMark(studentIndex, $index)">
                                                {{ grade }}
                                            </div>
                                        }
                                        @if (student.grades.length < columns.length) {
                                            @for (_ of [].constructor(columns.length - student.grades.length); track $index) {
                                                <div class="grade-column" (click)="error('firstCreateColumn')"></div>
                                            }
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

            } @else {
                <div class="alerts">
                    <div class="alert error">
                        {{ schoolingo.locale.getLocale('marks/groupNotFound') }}
                    </div>
                </div>
            }
        </div>
    </div>
</div>