.list-groups {
    display: flex;
    flex-direction: column;
}

.list-groups > .group {
    padding: .5rem 1rem;
    cursor: pointer;
}

.list-groups > .group:hover {
    background-color: var(--background-hover);
}

.alert {
    user-select: none;
}

/* Select */
.input-select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.input-select > input {
    cursor: pointer;
}

.input-select > .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--input-background);
    z-index: 99999;
    overflow-y: auto;
    max-height: 300px;
}

.input-select > .options > .option {
    padding: 8px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

/* Grades settings */
.grades-main {
    display: flex;
    flex-direction: column;
}

.grades-table .header, .grades-main > .grades-table {
    display: flex;
    flex-direction: row;
}

.grades-table .header {
    align-items: center;
    height: 96px;
}

.grades-main > div > .students {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-width: 250px;
}

.grades-main .students .header {
    flex-direction: column;
}

.grades-main > div > .students > .student {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.grades-main > div > .students > .student > .left {
    font-weight: bold;
}

.grades-main > div > .students > .student .average {
    color: var(--primary);
}

.grades-main > div > .students > .student .studentIndex {
    margin-right: .5rem;
}

.grades-main > div > .students > .student, .grades-table .grades > .grades-row {
    height: 48px!important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grades-main > div > .students > .student, .grade-column {
    border-top: 1px solid var(--border-color);
}

.gradeColumnIndex, .gradeColumnAverage {
    width: 100%;
    padding: 2px;
    background-color: var(--background-tertiary);
    font-size: 14px;
}

.gradeColumnTopic {
    font-size: 12px;
}

.gradeColumnAverage {
    color: var(--primary);
    height: 21px;
}

.grades {
    height: 100%;
    display: flex;
    overflow-x: auto;
}

.grade-column {
    width: 72px;
    min-width: 72px;
    max-width: 72px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.grade-column:hover {
    background-color: var(--background-hover);
}

.grades-row .grade-column {
    justify-content: center!important;
    font-size: 20px;
}

.grades-header .grades {
    flex-direction: row;
}

.grades-table .grades {
    flex-direction: column;
}

.students .header .lesson {
    color: var(--primary);
    font-size: 18px;
    font-weight: bold;
}