<div class="row-type-selector">
    <div class="row-option" (click)="selected_option = 0"
        [class.selected]="selected_option == 0">
        <div class="row-option__dot">
        </div>
        <div class="row-option__content">
            <h4>{{ l.s('students.remove_parent.remove_parent_only_student_title') }}</h4>
            <p>{{ l.s('students.remove_parent.remove_parent_only_student_desc') }}</p>
        </div>
    </div>
    <div class="row-option" (click)="selected_option = 1"
        [class.selected]="selected_option == 1">
        <div class="row-option__dot"></div>
        <div class="row-option__content">
            <h4>{{ l.s('students.remove_parent.remove_parent_all_students_title') }}</h4>
            <p>{{ l.s('students.remove_parent.remove_parent_all_students_desc') }}</p>
        </div>
    </div>
    <div class="row-option row-option--danger" (click)="selected_option = 2"
        [class.selected]="selected_option == 2">
        <div class="row-option__dot">
        </div>
        <div class="row-option__content">
            <h4>{{ l.s('students.remove_parent.remove_complete_parent_title') }}</h4>
            <p>{{ l.s('students.remove_parent.remove_complete_parent_desc') }}</p>
        </div>
    </div>
</div>

<div class="modal-actions">
    <div class="btn" (click)="closeModal()">{{ l.s('buttons.cancel') }}</div>
    <div class="btn btn--danger">{{ l.s('buttons.remove') }}</div>
</div>