.items {
    display: none;
    flex-direction: column;
}

.items.active {
    display: flex!important;
}

.items > .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.items > .item > .label {
    font-weight: bold;
}

.items > .item > .value {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.items > .item > .value > .edit-btn {
    margin-top: 8px;
    margin-left: 8px;
    height: 36px;
    width: 36px;
    min-width: 36px;
    background-color: var(--input-background);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
}

.items > .item > .value > .edit-btn:hover {
    background-color: var(--background-hover);
}

/* Select */
.input-select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.input-select > input {
    cursor: pointer;
}

.input-select > .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--input-background);
    z-index: 99999;
    overflow-y: auto;
    max-height: 300px;
}

.input-select > .options > .option {
    padding: 8px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}