.items {
    display: none;
    flex-direction: column;
}

.items.active {
    display: flex!important;
}

.items > .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.items > .item > .label {
    font-weight: bold;
}

.items > .item > .value {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

/* Select */
input.nextPage {
    cursor: pointer;
    position: relative;
}

.arrow-right {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    color: var(--color-darker);
    transition: color .3s;
}

.value:hover .arrow-right {
    color: var(--color);
}

.options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--input-background);
    z-index: 99999;
    overflow-y: auto;
    max-height: 300px;
}

.modal-body-external .options {
    position: relative;
    top: 0;

}

.options > .option {
    padding: 8px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.modal-body-external .options > .option {
    border: none;
}

.instructor-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.instructor-info .item.first-margin {
    width: 42px;
    height: 42px;
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
}