.box-content {
    padding: 2rem;
}

.form-group {
    position: relative;
    max-width: 100%;
    width: 100%;
    min-width: 300px;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-group i {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    left: 2px;
    color: #444;
    pointer-events: none;
    font-size: 16px;
}



div[role='button'].submit {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    padding: 8px 24px;
    border-radius: 24px;
    cursor: pointer;
}
input[type='search'] {
    margin-top: 0px!important;
    padding-left: 32px!important;
}

.dropdown {
    pointer-events: none;
    display: none;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background-color: var(--background-body)!important;
    z-index: 5;
    width: 100%;
}

.dropdown.active {
    display: flex;
    pointer-events: all;
}




.multisteps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    align-items: center;
    position: relative;
}

.multisteps > .step {
    position: relative;
    padding-top: 24px;
    cursor: pointer;
    text-align: center;
    overflow: visible;

    transition: all .35s;

    --step-size: 16px;
}

.multisteps > .step > .alert {
    position: absolute;
    top: -8px;
    transform: translate(-50%, -100%);
    left: 50%;
    background-color: var(--primary);
    color: #fff;
    width: fit-content;
    padding: 8px 16px;
    border-radius: var(--radius);
}

.multisteps > .step.active {
    color: var(--primary);
}

.multisteps > .step::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: var(--step-size);
    z-index: 5;
    height: var(--step-size);
    background-color: var(--border-color);
    border-radius: 999rem;
    transition: all .35s;


}

.multisteps > .step:not(:first-child)::after {
    position: absolute;
    top: 7px;
    left: calc(-50% + var(--step-size) / 2);
    display: block;
    width: calc(100% - var(--step-size));
    height: 2px;
    content: "";
    background-color: var(--border-color);
    z-index: 1;
    transition: all .35s;
}

.multisteps > .step.active::before, .multisteps > .step.active::after {
    background-color: var(--primary)!important;
}