<!-- List students -->

<div class="box" *ngIf="creatingNewOne == false && table?.selectedItem == undefined">
    <header>
        <h2>{{ locale.getLocale('sidebar/pupilcard') }}</h2>
        <div class="center">
            <div class="form-group" style="margin: 0!important;">
                <i class="ti ti-search"></i>
                <input type="search" name="studentSearch" [formControl]="searchStudent" placeholder="Vyhledávejte žáka podle jména" [readonly]="table && table.selectedItem != undefined">
            </div>
        </div>
        <div class="right">
            <div class="btn green" (click)="creatingNewOne = true;">
                <i class="ti ti-plus"></i>
                {{ locale.getLocale('pupilcard/new') }}
            </div>
        </div>
    </header>

    <div class="box-content">
        <schoolingo-table [name]="tableName" [columns]="columns" [data]="data" [options]="options"></schoolingo-table>
    </div>

</div>

<!-- Creating new student -->

<div class="box" *ngIf="creatingNewOne == true && table?.selectedItem == undefined">
    <header>
        <h2>
            <i class="ti ti-arrow-left" (click)="creatingNewOne = false"></i>
            {{ locale.getLocale('pupilcard/new') }}
        </h2>
    </header>

    <div class="multisteps">
        <div [ngClass]="{step: true, active: selectedTabInCreatingStudent >= 0}" (click)="selectTabInCreatingStudent(0)">
            <div class="alert" *ngIf="progressInCreatingStudentAlert != '' && selectedTabInCreatingStudent === 0">{{ locale.getLocale(progressInCreatingStudentAlert) }}</div>
            {{ locale.getLocale('pupilcard/personalDetails') }}
        </div>
        <div [ngClass]="{step: true, active: selectedTabInCreatingStudent >= 1}" (click)="selectTabInCreatingStudent(1)">
            <div class="alert" *ngIf="progressInCreatingStudentAlert != '' && selectedTabInCreatingStudent === 1">{{ locale.getLocale(progressInCreatingStudentAlert) }}</div>
            {{ locale.getLocale('pupilcard/residence') }}
        </div>
        <div [ngClass]="{step: true, active: selectedTabInCreatingStudent >= 2}" (click)="selectTabInCreatingStudent(2)">
            <div class="alert" *ngIf="progressInCreatingStudentAlert != '' && selectedTabInCreatingStudent === 2">{{ locale.getLocale(progressInCreatingStudentAlert) }}</div>
            {{ locale.getLocale('pupilcard/relatives') }}
        </div>
    </div>


    <div class="box-content" *ngIf="tabs.getTabValue('newPupil') == 0">
        <schoolingo-form [inputs]="studentCreateInputsBasicInfo"></schoolingo-form>
        <div class="form-group">
            <div class="btn full-width">{{ locale.getLocale('pupilcard/new') }}</div>
            
        </div>
    </div>

    <div class="box-content" *ngIf="tabs.getTabValue('newPupil') == 1">
        <schoolingo-form [inputs]="studentCreateInputsAddress"></schoolingo-form>
        <div class="row">
            <div class="btn full-width">Uložit adresu</div>
        </div>
    </div>

    <div class="box-content" *ngIf="tabs.getTabValue('newPupil') == 2">
        <div class="section-title">
            <div class="title-bar"></div>
            <div class="title">{{ locale.getLocale('pupilcard/relatives') }}</div>
        </div>
    </div>
</div>

<!-- About student / Editing selected student -->

<div class="box" *ngIf="creatingNewOne == false && table?.selectedItem != undefined">
    <header>
        <h2>
            <i class="ti ti-arrow-left" (click)="this.tabs.removeTab('showPupil');table.selectedItem = undefined"></i>
            {{ locale.getLocale('sidebar/pupilcard') }}
        </h2>
        <div class="right">
            <schoolingo-tabs [name]="'showPupil'" [options]="[locale.getLocale('pupilcard/personalDetails'), locale.getLocale('pupilcard/relatives')]"></schoolingo-tabs>
        </div>
    </header>
    <div class="alert alert-error" *ngIf="true">
        <span>Nemáte dostatečné oprávnění na úpravu osobních údajů žáka.</span> 
    </div>
    <div class="box-content">
        <schoolingo-form [inputs]="studentInfoInputs"></schoolingo-form>
    </div>
</div>