.card-row > div {
    width: calc(50% - 2rem);
    margin-inline: 1rem;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.box {
    border: 1px solid var(--border-color);
    min-height: 400px;
    height: auto;
}