<div class="modal-body">
    <div class="danger-notice mt">
        <i-tabler name="alert-triangle"></i-tabler>
        <p>{{ l.s('messages.unsaved_changes.description') }}</p>
    </div>
</div>
<div class="modal-actions" style="justify-content: space-between;">
    <div class="row">
        <button class="btn btn--secondary" (click)="cancelLeave()">
            {{ l.s('messages.unsaved_changes.stay_btn') }}
        </button>
    </div>
    <div class="row" style="gap: 8px">
       <button class="btn btn--danger" (click)="confirmLeave()">
            {{ l.s('messages.unsaved_changes.leave_btn') }}
        </button>

        <button class="btn btn--primary" (click)="saveConcept()">
            <i-tabler name="file-pencil"></i-tabler>
            {{ l.s('messages.buttons.save_draft') }}
        </button>
    </div>
</div>
