<div class="card">
    <div class="card-top"></div>
    <div class="card-header mb">
        <h2>{{ schoolingo.locale.getLocale('sidebar/traineeship/settings') }}</h2>
    </div>
    <div class="card-body">
        <h3 class="mb">Základní nastavení</h3>
        <div class="options">
            <div class="option">
                <div class="left">
                    <div class="title">Stav modulu</div>
                </div>
                <div class="right">
                    <div class="badge activated">
                        <i class="ti ti-check"></i>
                        <span>K dispozici</span>
                    </div>
                </div>
            </div>

            <div class="option clickable" (click)="checked = !checked">
                <div class="left">
                    <div class="title">Zapnout modul</div>
                    <div class="description">Můžete zde vypnout kompletně fungování modulu</div>
                </div>
                <div class="right">
                    <div [ngClass]="{checkbox: true, checked}">
                        <div class="knob"></div>
                        <div class="btn-bg"></div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="mt mb">Nastavení praxí</h3>
        <div class="options">
            <div class="option">
                <div class="left">
                    <div class="title">Hlavní správce</div>
                </div>
                <div class="right">
                    <p>aaaa</p>
                </div>
            </div>

            <div class="option">
                <div class="left">
                    <div class="title">Správci praxí</div>
                </div>
                <div class="right">
                    <p>aaaa</p>
                    <p>aaaa</p>
                </div>
            </div>
        </div>
    </div>
</div>