.options {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
}

.options > .option {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-color);
}

.options > .option.clickable {
    cursor: pointer;
}

.options > .option.clickable:hover {
    background-color: var(--background-hover);
}

.options > .option .left .title {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

.options > .option .left .description {
    margin-top: .5rem;
    font-size: 15px;
    line-height: 16px;
    color: var(--color-darker);
}

.badge {
    padding: .35rem .75rem;
    line-height: 16px;
    font-size: 14px;
    border-radius: 4px;
}

.badge i {
    font-size: 16px;
    font-weight: 500;
    margin-right: .5rem;
}

.badge.activated {
    border: 1px solid var(--green-darker);
    background-color: hsla(134deg, 62%, 41%, .08);
    color: var(--green);
}