<div class="card">
    <div class="card-top"></div>
    <div class="card-header">
        <h2>{{ schoolingo.locale.getLocale('sidebar/marks/interm') }}</h2>
        <div class="flex-items">
            <schoolingo-tabs [options]="['subjects', 'chronologically']" [value]="selectedTab"></schoolingo-tabs>
        </div>
    </div>
    <div class="card-body card-row">
        <div [ngClass]="{'card-tab': true, active: selectedTab.getValue() == 0}" id="subjects">
            <div class="subjects">

                @for (subject of schoolingo.getSubjects(); track $index) {
                    <div class="subject">
                        <div class="left">
                            <div class="name">{{ subject }}</div>
                            <div class="prumer">
                                <span>{{ getAverageBySubjectId(getSubjectIdByName(subject)) }}</span>
                            </div>
                        </div>
                        <div class="grades">
                            <div [ngClass]="{move: true, active: getPage($index) > 0 && getGradesBySubjectId(getSubjectIdByName(subject)).length > 0}" (click)="setPage($index, -1)" (mousedown)="setHoldPage($index, -1)" (mouseup)="setUnholdPage($index, -1)" (mouseleave)="setUnholdPage($index, -1)">
                                <i class="ti ti-chevron-left"></i>
                            </div>
                            <div class="list-grades">
                                <div [ngStyle]="{ transform: 'translateX(' + getTranslateX($index) + 'px)' }">
                                    @for (grade of getGradesBySubjectId(getSubjectIdByName(subject)); track $index) {
                                        <div class="grade">
                                            @switch (grade.type) {
                                                @case(0) {
                                                    <div class="number">{{ grade.mark }}</div>
                                                }
        
                                            }
                                            <div class="date" >{{ grade.created.format('DD.MM.YYYY') }}</div>
                                        </div>
                                    } @empty {
                                        <div style="margin: auto 0;" class="alert error">
                                            {{ schoolingo.locale.getLocale('errors/noMarks') }}
                                        </div>
                                    }
                                </div>
                            </div>
                            <div [ngClass]="{move: true, active: getPage($index) < (pages[$index] ? pages[$index].max : 0) && getGradesBySubjectId(getSubjectIdByName(subject)).length > 0}" (click)="setPage($index, 1)" (mousedown)="setHoldPage($index, 1)" (mouseup)="setUnholdPage($index, 1)" (mouseleave)="setUnholdPage($index, 1)">
                                <i class="ti ti-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                }
            
            </div>
        </div>

        <div [ngClass]="{'card-tab': true, active: selectedTab.getValue() == 1}" id="chronologically">

        </div>
    </div>
</div>