<div class="box">
    <header>
        <h2>{{ locale.getLocale('sidebar/marks/interm') }}</h2>
        <div class="flex-items">
            <schoolingo-tabs [name]="tabName" [options]="[locale.getLocale('subjects'), locale.getLocale('chronologically')]"></schoolingo-tabs>
        </div>
    </header>

    <div class="box-content">

        <div class="subject-list">
            <div class="subject" *ngFor="let subject of schoolingo.listOfGradesOrderedBySubject;index as index">
                <div class="left">
                    <div class="name">{{ subject.subject[1] }}</div>
                    <div class="prumer">
                        <span>{{ schoolingo.getPrumerBySubject(subject.subjectIndex) }}</span>
                    </div>
                </div>
                <div class="grades">
                    <div class="grade" *ngFor="let grade of subject.grades">
                        <div class="number">{{ grade.grade }}</div>
                        <div class="date" *ngIf="grade.date.getDate()">{{ grade.date.getDate() + '.' + (grade.date.getMonth() + 1) + '.' + grade.date.getFullYear() }}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>