.subjects {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.subjects .subject:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.subjects .subject:not(:empty), .grades {
    display: flex;
    flex-direction: row;
    height: 72px;
}

.subjects .subject .left {
    width: 300px;
    min-width: 300px;
    padding-left: 16px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subjects .subject .left .name {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: var(--primary);
    padding-top: 12px;
    padding-bottom: 4px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-wrap: wrap;
}

.subjects .subject .left .prumer {
    height: 100%;
    width: 55px;
    min-width: 55px;
}

.subjects .subject .left .prumer span {
    font-size: 14px;
    color: var(--primary);
    line-height: 18px;
    font-weight: 600;
    text-align: center;
}

.grades {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 2rem);
    position: relative;
    padding-inline: 1rem;
}

.grades .list-grades {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}

.grades .list-grades > div {
    display: flex;
    flex-direction: row;
    transition-duration: .5s;
}

.grades .grade {
    height: 72px;
    width: 56px;
    min-width: 56px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all .3s;
    user-select: none;
}

.grades .grade .number {
    font-size: 22px;
    font-weight: 600;
    margin: auto;
}

.grades .grade .date {
    width: 100%;
    height: 22px;
    font-weight: 400;
    font-size: 10px;
    color: var(--color-darker);
    line-height: 18px;
    text-align: center;
    transition: all .3s;

}

.grades .grade:nth-child(2n - 1) {
    background-color: rgba(117, 141, 150, 0.05);
}

.grades .grade:hover, .grades .grade:hover .date {
    background-color: var(--secondary-color);
    color: var(--primary);
}

.move {
    height: 100%;
    width: 24px;
    min-width: 24px;
    font-size: 24px;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-inline: 4px;
    transition: all .3s;
    color: var(--color-darker);
    pointer-events: none;
}

.move.active {
    visibility: visible;
    pointer-events: all;
}

.move:hover {
    background-color: var(--background-hover);
}

.items {
    display: flex;
    flex-direction: column;
}

.items > .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.items > .item > .label {
    font-weight: bold;
}

/* Select */
.input-select {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-select > input {
    cursor: pointer;
}

.input-select > .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--input-background);
    z-index: 99999;
    overflow-y: auto;
    max-height: 300px;
}

.input-select > .options > .option {
    padding: 8px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.prediction-grade-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: #fff;
    padding: 8px 1rem;
}

.prediction-grade-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.prediction-grade-list .prediction-grade {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
}

.prediction-grade-list .prediction-grade:not(:first-child) {
    border-top: 1px solid var(--border-color);
}

.prediction-grade-list .prediction-grade > div {
    margin-inline: 8px;
}

.prediction-grade-list .prediction-grade .caption {
    width: 100%;
}

.prediction-grade-list .prediction-grade .weight {
    width: 125px;
    text-align: center;
    font-weight: bold;
    color: var(--primary);
}

.prediction-grade-list .prediction-grade .mark {
    background-color: var(--input-background);
    width: 36px;
    min-width: 36px;
    height: 36px;
    font-size: 20px;
}

.prediction-grade-list .prediction-grade .btn {
    width: 200px;
}
