.subject-list {
    display: flex;
    flex-direction: column;
}

.subject-list .subject:no(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.subject-list .subject:not(:empty), .grades {
    display: flex;
    flex-direction: row;
    height: 72px;
}

.subject-list .subject .left {
    width: 300px;
    padding-left: 16px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subject-list .subject .left .name {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: var(--primary-color);
    margin-top: 7px;
    margin-bottom: 3px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.subject-list .subject .left .prumer {
    height: 100%;
    width: 55px;
}

.subject-list .subject .left .prumer span {
    font-size: 14px;
    color: var(--primary-color);
    line-height: 18px;
    font-weight: 600;
    text-align: center;
}


.grades .grade {
    height: 72px;
    width: 56px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
}

.grades .grade .number {
    font-size: 22px;
    font-weight: 600;
}

.grades .grade .date {
    width: 100%;
    height: 22px;
    font-weight: 400;
    font-size: 10px;
    color: #79878D;
    line-height: 18px;
    text-align: center;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition: all .3s;

}

.grades .grade:nth-child(2n - 1) {
    background-color: rgba(117, 141, 150, 0.05);
}

.grades .grade:hover, .grades .grade:hover .date {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}