.modal-body {
    margin: 1rem 2rem;
    border: 1px solid var(--border-color);
    background-color: var(--background-hover);
    width: calc(100% - 4rem);
    height: 25rem;
}

.modal-body .child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-body);
    transition: all .3s;
}

.modal-body .child .child-name {
    font-weight: bold;
}

.modal-body .child .child-info {
    color: var(--color-darker);
}

.modal-body .child .btn {
    padding: 8px 16px;
    cursor: pointer;
    transition: all .3s;
    border: 1px solid var(--border-color);
}

.modal-body .child .btn:hover {
    background-color: var(--background-hover);
}