<div class="modal-center">
    <div class="modal-body scroll">
        @for (child of schoolingo.userService.children; track $index) {
            <div [ngClass]="{child: true, active: schoolingo.userService.selectedChild == $index}">
                <div class="left">
                    <div class="child-name">
                        {{ schoolingo.formatPerson(child.personId)  }}
                    </div>
                    <div class="child-info">
                        {{ child.class }}
                    </div>
                </div>
                <div class="right">
                    @if (schoolingo.userService.selectedChild !== $index) {
                        <div class="btn" (click)="schoolingo.userService.selectedChild = $index">
                            {{ schoolingo.locale.getLocale('buttons/switch') }}
                        </div>
                    } 
                </div>
            </div>
        }
    </div>
</div>