<div class="form-group item">
    <label class="form-label">
        {{ l.s('schedule.builder.add_subject_modal.name_subject') }}
    </label>
    <div class="value">
        <input type="text" class="form-input clickable" [value]="scheduleBuilder.getSubject(scheduleBuilder.selectedSubject)?.subjectName ?? ''" [placeholder]="l.s('schedule.builder.add_subject_modal.subject_placeholder')" id="subjectName" readonly autocomplete="off" (click)="to_select_subject()">
        <div class="arrow-right">
            <i-tabler name="chevron-right"></i-tabler>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="form-group">
        <label class="form-label">
            {{ l.s('schedule.builder.add_subject_modal.hours_per_week') }}
        </label>
        <input type="number" class="form-input" [(ngModel)]="hoursPerWeek" id="subjectLimit" min="1" max="10" value="3" required="">
    </div>
    <div class="form-group">
        <label class="form-label">
            {{ l.s('schedule.builder.add_subject_modal.exercise_hours') }}
        </label>
        <input type="text" class="form-input" [(ngModel)]="exerciseHours" id="exerciseHours" placeholder="">
    </div>
</div>

<div class="form-group">
    <label class="form-label">
        {{ l.s('schedule.builder.add_subject_modal.default_room') }}
    </label>
    <input type="text" class="form-input" [(ngModel)]="defaultRoom" id="defaultRoom" placeholder="např. 101">
</div>

<div class="form-group">
    <label class="form-label">
        {{ l.s('schedule.builder.add_subject_modal.color_subject') }}
    </label>
    <div class="color-picker">
        @for(color of supported_colors;track $index) {
            <div class="color-option" [class.center]="color == 'custom'" [class.selected]="selected_color == color" [style.backgroundColor]="color" (click)="selected_color = color">
                @if (color == 'custom') {
                    <i-tabler name="color-picker" style="position: absolute;"></i-tabler>
                    <input type="color" [(ngModel)]="custom_color" class="color-picker" id="customColor">
                }
            </div>
        }
    </div>
</div>

<div class="modal-actions">
    <div class="btn" (click)="closeModal()">
        {{ l.s('buttons.cancel') }}
    </div>
    <div class="btn primary" (click)="add_subject()">
        <i-tabler name="plus"></i-tabler>
        {{ l.s('schedule.builder.add_subject_modal.assign_subject') }}
    </div>
</div>


<div [ngStyle]="{position: 'absolute', top:0, left:0, transform: ['subject', 'new_subject'].includes(page) ? 'translateX(0%)' : 'translateX(100%)', width: '100%',height:'100%', 'max-height': '100vh', 'visibility': ['subject', 'new_subject'].includes(page) ? 'visible' : 'hidden', backgroundColor: 'var(--surface)', transition: 'all .5s', zIndex: '500', padding: '2rem', display: 'flex', 'flex-direction': 'column'}" class="modal">
    <div class="modal-header" style="justify-content: flex-start;">
        <div>
            <div class="btn small gray" style="display: flex;align-items: center;margin-right: .5rem;" (click)="page = 'main'">
                <i-tabler name="chevron-left" style="margin-right: 4px;width: 20px;height: 20px;"></i-tabler>
                {{ l.s('buttons.back') }}
            </div>
        </div>
        <h2>{{ l.s('schedule.builder.add_subject_modal.choose_subject') }}</h2>
    </div>

    <input type="search" class="form-input mb" [(ngModel)]="subjectSearch" [placeholder]="l.s('schedule.builder.add_subject_modal.search_subject')">

    <div class="modal-body invisible-scrollbar" style="max-height: 400px;flex: 1;overflow: auto;">
        <div class="options" style="display:flex;flex-direction:column;gap:8px">
            @for(subject of getSubjects();track $index) {
                <div class="instructor-item" [class.active]="scheduleBuilder.selectedSubject == subject.subjectId" (click)="scheduleBuilder.selectedSubject = subject.subjectId;teachers = [''];page = 'main'">
                    <div class="instructor-info">
                        <div class="instructor-name">
                            {{ subject.subjectName }}
                        </div>

                        <div class="subject-teachers" style="padding:0;">
                            @for (teacher of subject.teachers; track $index) {
                                <span class="teacher-tag">{{ teacher.teacherName }}</span>
                            }
                        </div>
                    </div>

                    <div class="badges" style="position:absolute;top:8px;right:12px;">
                        @if (scheduleBuilder.selectedSubject == subject.subjectId) {
                            <div class="badge primary">
                                {{ l.s('selected') }}
                            </div>
                        }
                    </div>
                </div>
            } @empty {
                @if (!scheduleBuilder.all_subjects.length) {
                <div class="instructor-empty">
                    <div class="empty-icon">
                        <i-tabler name="school"></i-tabler>
                    </div>
                    <div class="empty-text">
                        <h3>{{ l.s('schedule.builder.add_subject_modal.no_subjects') }}</h3>
                        <p>{{ l.s('schedule.builder.add_subject_modal.no_subjects_description') }}</p>
                        <div class="btn primary" (click)="page = 'new_subject'">
                            <i-tabler name="plus"></i-tabler>    
                            {{ l.s('schedule.builder.add_subject_modal.new_subject') }}
                        </div>
                    </div>
                </div>
                } @else {
                <div class="instructor-empty">
                    <div class="empty-icon">
                        <i-tabler name="school"></i-tabler>
                    </div>
                    <div class="empty-text">
                        <h3>{{ l.s('schedule.builder.add_subject_modal.no_subjects') }}</h3>
                        <p>{{ l.s('schedule.builder.add_subject_modal.no_search_description') }}</p>
                    </div>
                </div>
                }
            }
        </div>
    </div>
    @if (scheduleBuilder.all_subjects.length) {
    <div class="btn primary" (click)="page = 'new_subject'">
        <i-tabler name="plus"></i-tabler>    
        {{ l.s('schedule.builder.add_subject_modal.new_subject') }}
    </div>
    }
</div>


<div [ngStyle]="{position: 'absolute', bottom:0, left:0, transform: ['new_subject'].includes(page) ? 'translateY(0%)' : 'translateY(100%)', width: '100%',height:'auto', 'visibility': ['new_subject'].includes(page) ? 'visible' : 'hidden', backgroundColor: 'var(--surface)', transition: 'all .5s', zIndex: '550', padding: '2rem', overflow: 'hidden', display: 'flex', 'flex-direction': 'column', gap: '8px'}" class="modal">
    <div class="modal-grabber" (click)="$event.stopPropagation();page = 'subject'"></div>

    <div class="modal-header" style="justify-content: flex-start;">
        <h2>{{ l.s('schedule.builder.add_subject_modal.new_subject') }}</h2>
    </div>
    <div class="modal-body">
        <div class="items active">
            <div class="item">
                <div class="label">
                    {{ l.s('schedule.builder.add_subject_modal.name_subject') }}
                </div>
                <div class="value">
                    <input type="text" name="subjectName" [(ngModel)]="newSubject.subjectName" [placeholder]="l.s('schedule.builder.add_subject_modal.name_subject')">
                </div>
            </div>

            <div class="item">
                <div class="label">
                    {{ l.s('schedule.builder.add_subject_modal.short_subject') }}
                </div>
                <div class="value">
                    <input type="text" name="subjectShort" [(ngModel)]="newSubject.subjectShort" [placeholder]="l.s('schedule.builder.add_subject_modal.short_subject')">
                </div>
            </div>
        </div>
    </div>

    <div class="btn primary" (click)="createSubject()">
        <i-tabler name="plus"></i-tabler>
        {{ l.s('schedule.builder.add_subject_modal.new_subject') }}
    </div>
</div>