<div class="form-group">
    <label for="code">{{ l.s('user.add_phone.code') }}</label>
    <input type="number" name="code" id="code" [(ngModel)]="code" placeholder="420">
</div>

<div class="form-group">
    <label for="number">{{ l.s('user.add_phone.number') }}</label>
    <input type="text" name="number" id="number" [(ngModel)]="number" [placeholder]="l.s('user.add_phone.number')">
</div>

<div class="form-group">
    <div class="btn btn--primary" (click)="savePhone()">
        <i-tabler [name]="isEdit ? 'device-floppy' : 'plus'"></i-tabler>
        {{ isEdit ? l.s('user.add_phone.save_changes') : l.s('user.add_phone.save_phone') }}
    </div>
</div>