/* Shadow */
.shadow {
    content: '';
    position: absolute;
    bottom: 36px;
    left: 0;
    width: 100%;
    height: 200px;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,.16) 100%);
}

/* Center */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Bottom */
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    width: 70%;
    margin-inline: auto;
    position: relative;
}

.bottom .label {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: capitalize;
}

.bottom i {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    opacity: .5;
    transition: all .15s;
    border-radius: 8px;
    width: 1.75rem;
    height: 1.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

.bottom i:first-child { left: .25rem }
.bottom i:last-child { right: .25rem }

.bottom i:hover {
    background-color: rgb(39, 39, 42);
    opacity: 1;
    color: rgb(250, 250, 250);
}