@if (!isLoading) {
<div class="items" (click)="showSelect = null;">
    <div class="item mb">
        <div class="label">
            {{ l.s('marks.title') }}
            @if (errors['topic']) {
                - {{ errors['topic'] }}
            }
        </div>
        <div class="value">
            <input type="text" name="markTopic" maxlength="50" [placeholder]="l.s('marks.title_placeholder')" [(ngModel)]="topic">
        </div>
    </div>

    <div class="item mb">
        <div class="label">
            {{ l.s('marks.type') }}
        </div>
        <div class="value">
            <div class="input-select">
                <input type="text" (click)="$event.stopPropagation();showSelect = showSelect == 'type' ? null : 'type'" name="inputSelect" readonly="true" [value]="l.s('marks.types.' + type)" />
                @if (showSelect == 'type') {
                    <div class="options">
                        @for (columnType of types; track $index) {
                            <div class="option" (click)="$event.stopPropagation();showSelect = null;type = columnType">
                                {{ l.s('marks.types.' + columnType) }}
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    @switch (type) {
        @case("marks") {
            <div class="item mb">
                <div class="label">
                    {{ l.s('marks.weight') }}
                </div>
                <div class="value">
                    <input type="text" name="weight" [(ngModel)]="weight" />
                </div>
            </div>
        }
        @case("points") {
            <div class="item mb">
                <div class="label">
                    {{ l.s('marks.max_points') }}
                </div>
                <div class="value">
                    <input type="text" name="maxPoints" [placeholder]="l.s('marks.max_points_placeholder')" [(ngModel)]="maxPoints">
                </div>
            </div>

            <div class="item mb">
                <div class="label">
                    {{ l.s('marks.include_in_grade_even_if_no_points') }}
                </div>
                <div class="value">
                    <div class="yesOrNo row">
                        <div [ngClass]="{'blue-info': includeInGradeEvenIfNoPoints}" (click)="includeInGradeEvenIfNoPoints = true">
                            {{ l.s('yes') }}
                        </div>
                        <div [ngClass]="{'blue-info': !includeInGradeEvenIfNoPoints}" (click)="includeInGradeEvenIfNoPoints = false">
                            {{ l.s('no') }}
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    @if (type == "points" && !includeInGradeEvenIfNoPoints || type == "marks") {
        <div class="item mb">
            <div class="label">
                {{ l.s('marks.prefill') }}
            </div>
            <div class="value">
                <input type="text" name="prefillMark" [placeholder]="l.s('marks.prefill_placeholder')" [(ngModel)]="prefillMark">
            </div>
        </div>
    }

    @if (prefillMark == "?") {
                <div class="item mb">
            <div class="label">
                {{ l.s('marks.planned_mark') }}
            </div>
            <div class="value">
                <input type="text" name="plannedMark" [placeholder]="l.s('marks.planned_mark')" [(ngModel)]="plannedMark">
            </div>
        </div>
    }

    <div class="btn" [class.primary]="isButtonActivated()" role="button" (click)="editColumn()">
        {{ l.s(`marks.${action == 'edit' ? 'edit_column' : 'create_column'}`) }}
    </div>
</div>
} @else {
    <div class="center" style="height: 400px;">
        <div class="loader bigger"></div>
    </div>
}