/* Select */
.input-select {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-select > input {
    cursor: pointer;
}

.input-select > .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--surface-2);
    /* background-color: var(--input-background); */
    z-index: 99999;
    border-radius: var(--radius);
}

.input-select > .options > .option {
    padding: 8px;
    border: 1px solid var(--border);
    cursor: pointer;
}

.input-select > .options > .option:first-child {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.input-select > .options > .option:last-child {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}


.yesOrNo {
    border-radius: 8px;
    overflow: hidden;
    width: fit-content;
}

.yesOrNo > div {
    padding: 4px 8px;
    cursor: pointer;
    background-color: var(--elevated);
    min-width: 70px;
    text-align: center;
}

.btn i-tabler {
    width: 20px;
    height: 20px;
}