<div class="card">
    <div class="card-top"></div>
    <div class="card-header mb">
        <h2>{{ schoolingo.locale.getLocale('sidebar/payments/accounts') }}</h2>
        <div class="flex-items">
            <div class="btn submit blue-info" role="button">
                <span>{{ schoolingo.locale.getLocale('payments/buttons/openAccounts') }}</span>
            </div>
            <div class="btn submit blue-info" role="button">
                <span>{{ schoolingo.locale.getLocale('payments/buttons/closeAccounts') }}</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <schoolingo-datalist [head]="['firstName', 'payments/variableSymbol', 'payments/accountStatus', 'payments/balance']"></schoolingo-datalist>
    </div>
</div>