@if (documents.renamingFile) {
<div class="form-group">
    <label for="name">{{ l.s('documents.name_' + documents.renamingFile.type) }}</label>
    <input type="text" name="name" id="name" [(ngModel)]="documents.renamingFile.name" autocomplete="off"
        (keydown.enter)="saveRename()" />
</div>

<div class="modal-actions">
    <button type="button" class="btn btn--secondary" (click)="modalManager.closeModal('rename_file')">{{ l.s('buttons.cancel')
        }}</button>
    <button type="button" class="btn btn--primary" (click)="saveRename()">
        <i-tabler name="pencil"></i-tabler>
        {{ l.s('documents.save_' + documents.renamingFile.type) }}
    </button>
</div>
}