<div class="noticeboard-container">
    <div class="noticeboard-header">
        <div class="left">
            <div class="board-title">Nástěnka</div>
            <div class="board-description">Aktuální oznámení, zprávy a upomínky</div>
        </div>
        <div class="right">
            <div class="btn primary small">
                <i-tabler name="plus"></i-tabler>
                Nová zpráva na nástěnku 
            </div>
        </div>
    </div>

    <div class="notes">
        @for (note of announcements; track $index) {
        <article class="note">
            <div class="tape"></div>
            <div class="pin"></div>
            <div class="meta">
                <div class="subject" id="n1-title">{{ note.headline }}</div>
                <div class="time">27.11.2025</div>
            </div>

            <div class="body">
                {{ note.content }}
            </div>
            <div class="tags">
                <div class="tag clickable">
                    <i-tabler name="heart"></i-tabler>
                    {{ note.likes }}
                </div>
                <div class="tag clickable">
                    <i-tabler name="message-circle"></i-tabler>
                    {{ note.comments }}
                </div>
                <div class="tag">
                    <i-tabler name="file"></i-tabler>
                    {{ note.attachments?.length ?? 0 }}
                </div>
            </div>
            @if (note.read) {
                <div class="btn small">Přečteno</div>
            } @else {
                <div class="btn small primary">Označit jako přečtené</div>
            }
        </article>
        }
    </div>
</div>