<div class="noticeboard-container">
    <div class="noticeboard-header">
        <div class="left">
            <div class="board-title">{{ l.s('sidebar.messages.noticeboard') }}</div>
            <div class="board-description">{{ l.s('messages.noticeboard_description') }}</div>
        </div>
        <div class="right">
            @if (perms.checkPermission(['teacher'])) {
            <div class="btn btn--primary btn--sm" (click)="openNewNote()">
                <i-tabler name="plus"></i-tabler>
                {{ l.s('messages.new_announcement') }} 
            </div>
            }
        </div>
    </div>

    <div class="notes">
        @for (note of announcements; track $index) {
        <article class="note">
            <div class="tape"></div>
            <div class="pin"></div>
            <div class="meta">
                <div class="subject" id="n1-title">{{ note.topic }}</div>
                <div class="time">{{ Utils.formatDateShort(note.sent_at) }}</div>
            </div>

            <div class="body">
                {{ note.message }}
            </div>
            <div class="tags">
                <!-- @if (note.attachments?.length) {
                <div class="tag">
                    <i-tabler name="file"></i-tabler>
                    {{ note.attachments?.length }}
                </div>
                } -->
            </div>
            @if (note.read_at) {
                <div class="btn btn--sm">{{ l.s('messages.marked_as_read') }}</div>
            } @else {
                <div class="btn btn--sm btn--primary" (click)="readNoticeboard(note.message_id)">{{ l.s('messages.mark_as_read') }}</div>
            }
        </article>
        }
    </div>
</div>