@defer (when afterLoadedSchool) {
    @if (school.getIsActiveSchool() && this.locale.isLoadedLanguage.getValue()) {
        <router-outlet></router-outlet>
    } @else {
        @if (this.locale.isLoadedLanguage.getValue()) {
            <error-main [error]="school.errorReason"></error-main>
        } @else {
            <div class="loading">
                <svg width="200" height="300" viewBox="0 0 40 60">
                    <polygon
                    class="triangle"
                    fill="none"
                    points="16,1 32,32 1,32"
                    [attr.stroke]="(theme.getThemeColor() == 'dark') ? '#fff' : '#000'"
                    stroke-width="1"
                    ></polygon>
                </svg>
            </div>
            <div class="alerts bottom">
                <div class="alert">
                    <div class="text">
                        {{ "Načítání jazyku" }}
                    </div>
                </div>
            </div>
        }
    }
} @placeholder {
    <div class="loading">
        <svg width="200" height="300" viewBox="0 0 40 60">
            <polygon
            class="triangle"
            fill="none"
            points="16,1 32,32 1,32"
            [attr.stroke]="(theme.getThemeColor() == 'dark') ? '#fff' : '#000'"
            stroke-width="1"
            ></polygon>
        </svg>
    </div>
    
    <div class="alerts bottom">
        <div class="alert">
            <div class="text">
                {{ "Probíhá načítání aplikace" }}
            </div>
        </div>
    </div>
} @error {
    <error-main [error]="1004"></error-main>
}