.card-row {
    flex-direction: row;
    justify-content: space-between;

}

.card-row > div {
    padding: 1rem;
    min-width: 50%;
    display: flex;
    flex-direction: column;
}

.card-tab {
    padding: 0!important;
    flex-direction: row!important;
}

.card-table {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark-border);
    border-radius: calc(var(--radius) * 2);
    width: 100%;
    margin-bottom: 2rem;
}

.card-table .card-table-header {
    border-top-left-radius: calc(var(--radius) * 2);
    border-top-right-radius: calc(var(--radius) * 2);
    display: flex;
    flex-direction: row;
    padding: .75rem 1rem;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    background-color: var(--background-tertiary);
}

.card-table .card-table-row {
    display: flex;
    flex-direction: row;
    padding: 8px 1rem;
}

.card-table .card-table-row:not(:last-child) {
    border-bottom: 1px solid var(--dark-border);
}


.card-table .card-table-row > div {
    width: 50%;
}

.card-table .card-table-row > div:first-child {
    color: var(--color-darker);
    font-weight: bold;
}

.card-table .card-table-row .card-table-item:not(.multi) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gender-icon {
    margin-right: 4px;
    height: 24px;
}

.card-table .card-table-row .card-table-item p:not(:first-child) { margin-top: 0.5rem }

.card-table .card-table-row .card-table-item p:not(:last-child) { margin-bottom: 0.5rem }

.badge.activated {
    border: 1px solid var(--green-darker);
    background-color: hsla(134deg, 62%, 41%, .08);
    color: var(--green);
}

.badge.notActivated {
    border: 1px solid var(--error-end-bg);
    background-color: hsl(338deg, 82%, 69%, .08);
    color: hsl(338deg, 82%, 69%);
}