@if (schoolingo.userService.getUser() && profile) {
    <div class="card">
        <div class="card-top"></div>
        <div class="card-header mb">
            <h2>{{ schoolingo.locale.getLocale('sidebar/user/profile') }}</h2>
            <div class="flex-items">
                <schoolingo-tabs [options]="getOptions()" [value]="selectedTab"></schoolingo-tabs>
            </div>
        </div>
        <div class="card-body mt">
            <div [ngClass]="{'card-tab': true, 'card-row': true, active: selectedTab.getValue() === 0}">
                <div class="left">
                    <div class="card-table">
                        <div class="card-table-header">
                            {{ schoolingo.locale.getLocale('user/personalInformation') }}
                        </div>
                        <div class="card-table-body">
                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('fullName') }}
                                </div>
                                <div class="card-table-item">
                                    <span>
                                        {{ schoolingo.formatPerson(schoolingo.userService.getUser()?.id ) }}
                                    </span>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('birthday') }}
                                </div>
                                <div class="card-table-item">
                                    <span>
                                        {{ profile.birthday.format("DD. MM. YYYY") }}
                                    </span>
                                </div>
                            </div>

                            @if (perms.checkPermission(["student"])) {
                                <div class="card-table-row">
                                    <div class="card-table-item">
                                        {{ schoolingo.locale.getLocale('class') }}

                                    </div>
                                    <div class="card-table-item">
                                        <span>
                                            {{ profile.className }}
                                        </span>
                                    </div>
                                </div>
    
                                <div class="card-table-row">
                                    <div class="card-table-item">
                                        {{ schoolingo.locale.getLocale('user/scope') }}
                                    </div>
                                    <div class="card-table-item">
                                        <span>
                                            {{ profile.scopeName }}
                                        </span>
                                    </div>
                                </div>
    
                                <div class="card-table-row">
                                    <div class="card-table-item">
                                        {{ schoolingo.locale.getLocale('user/scopeYears') }}
                                    </div>
                                    <div class="card-table-item">
                                        <span>
                                            {{ profile.scopeYears + ' ' + schoolingo.locale.getLocale('ageUnit') }}
                                        </span>
                                    </div>
                                </div>
                            }

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('user/insuranceCode') }}
                                </div>
                                @if(profile.insuranceId) {
                                    <div class="card-table-item" [title]="profile.insuranceName">
                                        <span>{{ profile.insuranceId + " - " + profile.insuranceCode }}</span>
                                    </div>
                                } @else {
                                    <div class="card-table-item">
                                        <span>
                                            {{ schoolingo.locale.getLocale('user/noInsuranceSet') }}
                                        </span>
                                    </div>
                                }
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('address') }}
                                </div>
                                <div class="card-table-item">
                                    <span>
                                        {{ country.getCountryByCode("CZ")?.flag + " Šumavská 77, Strakonice 386 01" }}
                                    </span>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('nationality') }}
                                </div>
                                <div class="card-table-item">
                                    <span>
                                        {{ country.getCountryByCode("CZ")?.flag + ' ' + country.getCountryByCode("CZ")?.name }}
                                    </span>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('sex') }}
                                </div>
                                <div class="card-table-item">
                                    <div class="gender-icon">
                                        @if (schoolingo.userService.getUser()?.person?.sex) {
                                            <i-tabler style="color: #FFC0CB;" name="gender-female"></i-tabler>
                                        } @else {
                                            <i-tabler style="color: #90D5FF;" name="gender-male"></i-tabler>
                                        }
                                    </div>
                                    <span>
                                        {{ schoolingo.locale.getLocale('genders/' + schoolingo.userService.getUser()?.person?.sex) }}
                                    </span>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('phone') }}
                                </div>
                                <div class="card-table-item multi">
                                    @for(phone of profile.phones;track $index) {
                                        <span>{{ Utils.formatPhone(phone.number) }}</span>
                                    } @empty {
                                        <span>{{ schoolingo.locale.getLocale('userSettings/noPhoneSet') }}</span>
                                    }
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('email') }}
                                </div>
                                <div class="card-table-item multi">
                                    @for(email of profile.emails;track $index) {
                                        <span>{{ email.email }}</span>
                                    } @empty {
                                        <span>{{ schoolingo.locale.getLocale('userSettings/noEmailSet') }}</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-table">
                        <div class="card-table-header">
                            {{ schoolingo.locale.getLocale('user/securitySettings') }}
                        </div>
                        <div class="card-table-body">
                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('user/passwordLastChanged') }}
                                </div>
                                <div class="card-table-item">
                                    <span>
                                        {{ profile.passwordChanged?.format("DD. MM. YYYY")
                                        || schoolingo.locale.getLocale('never') }}
                                    </span>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('userSettings/2faTitle') }}
                                </div>
                                <div class="card-table-item">
                                    <div class="badges">
                                        @if (profile.twofa) {
                                            <div class="badge activated">
                                                <i-tabler name="check"></i-tabler>
                                                <span>Aktivní</span>
                                            </div>
                                        } @else {
                                            <div class="badge notActivated">
                                                <i-tabler name="x"></i-tabler>
                                                <span>Neaktivní</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('user/allowFastlogin') }}
                                </div>
                                <div class="card-table-item">
                                    <div class="badges">
                                        @if (profile.fastlogin) {
                                            <div class="badge activated">
                                                <i-tabler name="check"></i-tabler>
                                                <span>Aktivní</span>
                                            </div>
                                        } @else {
                                            <div class="badge notActivated">
                                                <i-tabler name="x"></i-tabler>
                                                <span>Neaktivní</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('sidebar/user/devices') }}
                                </div>
                                <div class="card-table-item">
                                    <span>{{ "3 Zařízení" }}</span>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('user/recentActivity') }}
                                </div>
                                <div class="card-table-item">
                                    <span>{{ schoolingo.locale.getLocale('user/noSusActivity') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="card-table">
                        <div class="card-table-header">
                            {{ schoolingo.locale.getLocale('user/accountDetails') }}
                        </div>
                        <div class="card-table-body">
                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('username') }}
                                </div>
                                <div class="card-table-item">
                                    <span>{{ profile.username }}</span>
                                </div>
                            </div>

                            @if (perms.checkPermission(["student"])) {
                                <div class="card-table-row">
                                    <div class="card-table-item">
                                        {{ schoolingo.locale.getLocale('user/studySince') }}
                                    </div>
                                    <div class="card-table-item">
                                        <span>{{ "Září 1, 2021" }}</span>
                                    </div>
                                </div>
                            }
                            
                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('user/lastLogin') }}
                                </div>
                                <div class="card-table-item">
                                    <span>{{ "Prosinec 7, 2024" }}</span>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('user/selectedLanguage') }}
                                </div>
                                <div class="card-table-item">
                                    <span>
                                        {{ schoolingo.locale.locales[schoolingo.locale.getUserLocale()].name }}
                                    </span>
                                </div>
                            </div>

                            
                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('user/selectedTheme') }}
                                </div>
                                <div class="card-table-item">
                                    <span>
                                        {{ schoolingo.locale.getLocale('themes/' + schoolingo.theme.getTheme()) }}
                                    </span>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">{{ schoolingo.locale.getLocale('roles/main') }}</div>
                                <div class="card-table-item">
                                    <span>
                                        {{ schoolingo.locale.getLocale('roles/' + schoolingo.userService.getUser()?.type) }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-table">
                        <div class="card-table-header">{{ "Preference" }}</div>
                        <div class="card-table-body">
                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('user/emailNotifications') }}
                                </div>
                                <div class="card-table-item">
                                    <div class="badges">
                                        <div class="badge activated">
                                            <i-tabler name="check"></i-tabler>
                                            <span>Aktivní</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('user/mobileNotifications') }}
                                </div>
                                <div class="card-table-item">
                                    <div class="badges">
                                        <div class="badge notActivated">
                                            <i-tabler name="x"></i-tabler>
                                            <span>{{ schoolingo.locale.getLocale('user/noMobileFound') }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('user/loginNotifications') }}
                                </div>
                                <div class="card-table-item">
                                    <div class="badges">
                                        <div class="badge notActivated">
                                            <i-tabler name="x"></i-tabler>
                                            <span>Neaktivní</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('user/allowGDPR') }}
                                </div>
                                <div class="card-table-item">
                                    <div class="badges">
                                        <div class="badge activated">
                                            <i-tabler name="check"></i-tabler>
                                            <span>Aktivní</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-table-row">
                                <div class="card-table-item">
                                    {{ schoolingo.locale.getLocale('user/showNextWeek') }}
                                </div>
                                <div class="card-table-item">
                                    <div class="badges">
                                        <div class="badge activated">
                                            <i-tabler name="check"></i-tabler>
                                            <span>Aktivní</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}