<div class="box">
    <header>
      <h2>{{ locale.getLocale("sidebar/messages/received") }}</h2>
    </header>
  
    <div class="box-content">
        @if (messages.length > 0) {
            <div class="left">
                <div class="form-group">
                    <input type="search" [formControl]="search" placeholder="Vyhledat podle autora">
                </div>
                <div class="select select-column">
                    @for(message of messages;track $index) {
                        <div [ngClass]="{'select-option': true, active: selectedMessage === $index}" (click)="selectedMessage = $index">
                            <div class="chat-header">
                                <div class="left">
                                    <p class="chat-author">{{ message.firstName + ' ' + message.lastName }}</p>
                                    <p class="chat-type">{{ locale.getLocale('messages/types/' + messageManager.types[message.type].label) }}</p>
                                </div>
                                <div class="right">
                                    <div class="chat-time">{{ formatTime(message.sent) }}</div>
                                </div>
                            </div>
                            <div class="chat-message">
                                <p>
                                    {{ message.message }}
                                </p>
                            </div>
                        </div>
                    }
                </div>
    
            </div>
            <div class="right">
                @if(selectedMessage !== undefined) {
                    <div class="chat-header">
                        <div class="left">
                            <p class="chat-author">{{ messages[selectedMessage].firstName + ' ' + messages[selectedMessage].lastName }}</p>
                            <p class="chat-type">{{ locale.getLocale('messages/types/' + messageManager.types[messages[selectedMessage].type].label) }}</p>
                        </div>
                        <div class="right">
                            <div class="chat-time">{{ formatTime(messages[selectedMessage].sent) }}</div>
                        </div>
                    </div>
                    <div class="chat-message">
                        {{ messages[selectedMessage].message }}
                    </div>
                    <div class="chat-reply">
                        <textarea
                        id="message"
                        [(ngModel)]="message"
                        (resize)="('horizontal')"
                        [placeholder]="'Vaše rychlá odpověď!'"
                        ></textarea>
                        <div class="form-group">
                            <div class="btn">
                                <i class="ti ti-send"></i> {{ locale.getLocale("buttons/reply") }}
                            </div>
                        </div>
                    </div>
                }
            </div>
        } @else {
            <div class="alert alert-error" style="width: 100%">Nemáte žádné přijaté zprávy</div>
        }
    </div>
</div>