.card {
    max-height: 100%;
    overflow: hidden;
}

.card-body { overflow: hidden!important; }

.card-body.card-row > div {
    width: 50%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.form-group,
input {
    margin: 0!important;
}

.list-messages {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    max-height: 100%;
    padding-right: 12px;
    width: 100%;
}

.message {
    position: relative;
    padding: .5rem 1rem;
    border: 1px solid var(--dark-border);
    cursor: pointer;
    transition: .3s;
}

.message:not(:last-child) { margin-bottom: 1rem; }

.message:hover { background-color: var(--background-hover); }

.message.isNew { background-color: var(--background-tertiary); }

.message.active { border-color: var(--primary); }

.message > .border-type {
    position: absolute;
    left: 0px;
    top: 2px;
    bottom: 2px;
    width: 4px;
    height: calc(100% - 4px);
    border-radius: 4px;
    background-color: var(--primary);
}

.message-header,
.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message-body {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    color: var(--color-darker);
    white-space: pre-wrap;
    position: relative;
}

.list-messages .message-body {
    overflow-y: hidden;
    max-height: 75px!important;
}

.tags {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.type .tag { margin-left: .5rem; }

.tag {
    font-size: .75rem;
    line-height: 1rem;
    padding: 4px 8px;
    margin: 0 4px;
    user-select: none;
    border-radius: 16px;
    background-color: var(--tag-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

.tag i-tabler {
    width: 18px;
    height: 18px;
    margin-right: .25rem;
}

.tag:first-child { margin-left: 0 }
.tag:last-child { margin-right: 0 }

.message-box {
    border: 1px solid var(--dark-border);
    height: 100%;
    border-radius: calc(2 * var(--radius));
}

.author {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
    margin: .25rem 0;
}

.type, .time {
    font-size: .875rem;
    line-height: 1rem;
    margin: .25rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-darker);
}

.time span::first-letter { text-transform: uppercase }

.type .icon i-tabler {
    margin-right: .5rem;
    width: 18px;
    height: 18px;
}

.time {
    padding-inline: 8px;
    justify-content: end;
    align-items: center;
}

.help {
    padding: 1rem;
    line-height: 24px;
}

.help h2 { text-align: center }

.help .preview {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    flex-direction: row;
}

.help .preview .tag {
    /* width: max-content; */
    margin: 1rem 0.75rem;
}

.message-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 48px;
    padding: 0 1rem;
    width: 100%;
    background-color: var(--background-tertiary);
}

.message-navbar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-box .message-body {
    padding: 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    color: var(--color);
    white-space: pre-wrap;
    max-height: 400px;
    height: 400px;
    overflow-y: auto;
}

.message-box .message-header {
    padding: 1rem;
    flex-direction: column;
}

.message-box > .message-header > .card-row {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}