<div class="card">
    <div class="card-top"></div>
    <div class="card-header mb">
        <h2>{{ schoolingo.locale.getLocale('sidebar/messages/received') }}</h2>
        <div class="flex-items">
            <div class="item-btn text">
                <div class="text">
                    <i class="ti ti-filter"></i>
                    Filtrování
                </div>
            </div>

            <schoolingo-tabs [options]="['time/week', 'time/month', 'time/schoolYear', 'time/older']" [value]="selectedTab"></schoolingo-tabs>
        </div>
    </div>
    <div class="card-body card-row">
        <div class="left">
            <div class="header mb">
                <div class="form-group">
                    <input type="text" [placeholder]="schoolingo.locale.getLocale('messages/search')">
                </div>
            </div>
            <div class="list-messages">
                @for (thread of threads; track $index) {
                    <div [ngClass]="{message: true, isNew: thread.newMessage, active: $index === selectedThread}" (click)="selectedThread = $index">
                        <div class="border-type" [ngStyle]="{backgroundImage: getBackground(thread)}"></div>
                        <div class="message-header">
                            <div class="left">
                                <div class="author">{{ schoolingo.formatPerson(thread.author) }}</div>
                                <div class="type">
                                    <div class="icon">
                                        @if (thread.messages.length > 1) {
                                            <i class="ti ti-messages"></i>
                                        } @else {
                                            <i class="ti ti-mail"></i>
                                        }
                                    </div>
                                    <span>{{ thread.messages.length > 1 ? 'Vlákno (' + thread.messages.length + ' zprávy)' : 'Přímá zpráva' }}</span>
                                    <div class="tag" [ngStyle]="{ backgroundColor: schoolingo.messages.types[thread.type].color || ''}">
                                        @if (schoolingo.messages.types[thread.type].icon) {
                                            <i [ngClass]="['ti', 'ti-' + schoolingo.messages.types[thread.type].icon]"></i>
                                        }
                                        {{ schoolingo.locale.getLocale('messages/types/' + schoolingo.messages.types[thread.type].label) }}
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="time">
                                    <span>{{ thread.messages[thread.messages.length - 1].date.calendar() }}</span>
                                </div>
                                <div class="tags">
                                    <div class="tag">
                                        <i class="ti ti-paperclip"></i>
                                        Obsahuje přílohy
                                    </div>                                
                                    <div class="tag red">Vyžaduje potvrzení</div>
                                </div>
                            </div>
                        </div>
                        <div class="message-body">
                            {{ thread.messages[thread.messages.length - 1].message }}
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="right">           
            <div class="message-box">
                @if (selectedThread == -1) {
                    <div class="help">
                        <h2 class="mb">{{ "Vaše zprávy" }}</h2>
                        <p>Nyní čtete okno "Detail zprávy" a vlevo od tohoto okna se nachází seznam zpráv. Kliknutím na zprávu v tom okně, se změní obsah tohoto okna. Nad seznamem zpráv se nachází vyhledávání zpráv podle odesílatele. Nad tímto oknem můžete dále najít filtrování zpráv.</p>
                        <!-- TODO: rozdělení druhů zpráv -->
                        <p>Nepřečtené zprávy jsou zvýrazněny světlejším pozadím než přečtené zprávy. Zprávy s potvrzením vyžadují potvrzení o přečtení zprávy a jsou označené "Vyžaduje potvrzení".</p>
                        <div class="preview">
                            <div class="tag red">Vyžaduje potvrzení</div>
                        </div>
                        <hr />
                        <p>Pro snadnější identifikaci typu zpráv jsou různě označeni.</p>
                        <div class="preview">
                            @for(message of schoolingo.messages.types;track $index) {
                                <div class="tag" [ngStyle]="{ backgroundColor: message.color || ''}">
                                    @if (message.icon) {
                                        <i [ngClass]="['ti', 'ti-' + message.icon]"></i>
                                    }
                                    {{ schoolingo.locale.getLocale('messages/types/' + message.label) }}
                                </div>
                            }
                        </div>
                        <hr>
                        <p>Na levé hraně každé zprávy se nachází proužek označující příjemce (v případě více příjemců je označena různými barvami)</p>
                        <div class="preview">
    
                        </div>
                    </div>    
                } @else {
                    <div class="message-navbar">
                        <div class="left">
                            <div class="item-btn">
                                <div class="icon">
                                    <i class="ti ti-corner-up-left"></i>
                                </div>
                                <div class="name">{{ "Odpovědět" }}</div>
                            </div>
                            <div class="item-btn">
                                <div class="icon">
                                    <i class="ti ti-arrow-big-right"></i>
                                </div>
                                <div class="name">{{ "Přeposlat" }}</div>
                            </div>
                            <div class="item-btn text">
                                <div class="text green">
                                    <i class="ti ti-check" style="font-size: 20px;"></i>
                                    <span>Potvrdit přečtení</span>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="item-btn">
                                <div class="icon">
                                    <i class="ti ti-square-forbid"></i>
                                </div>
                                <div class="name">{{ "Potlačit" }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="message-header">
                        <div class="card-row">
                            <div class="left">
                                <div class="author">{{ schoolingo.formatPerson(threads[selectedThread].author) }}</div>
                                <div class="type">
                                    <div class="icon">
                                        @if (threads[selectedThread].messages.length > 1) {
                                            <i class="ti ti-messages"></i>
                                        } @else {
                                            <i class="ti ti-mail"></i>
                                        }
                                    </div>
                                    <span>{{ threads[selectedThread].messages.length > 1 ? 'Vlákno (' + threads[selectedThread].messages.length + ' zprávy)' : 'Přímá zpráva' }}</span>
                                    <div class="tag" [ngStyle]="{ backgroundColor: schoolingo.messages.types[threads[selectedThread].type].color || ''}">
                                        @if (schoolingo.messages.types[threads[selectedThread].type].icon) {
                                            <i [ngClass]="['ti', 'ti-' + schoolingo.messages.types[threads[selectedThread].type].icon]"></i>
                                        }
                                        {{ schoolingo.locale.getLocale('messages/types/' + schoolingo.messages.types[threads[selectedThread].type].label) }}
                                    </div>
                                </div>
                            </div>
    
                            <div class="right">
                                <div class="time">
                                    <span>{{ threads[selectedThread].messages[threads[selectedThread].messages.length - 1].date.calendar() }}</span>
                                </div>
                            </div>
                        </div>

                        @if (threads[selectedThread].type === ThreadTypes.EXCUSESTUDENT) {
                            <div class="card-row">
                                <div class="left">
                                    <div>
                                        <i class="ti ti-calendar-month"></i>
                                        <span>Od: xx.xx.xxxx</span>
                                    </div>
                                    <div>
                                        <i class="ti ti-calendar-month"></i>
                                        <span>Do: xx.xx.xxxx</span>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="btn submit" role="button">Omluvit</div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="message-body">

                    </div>
                }
            </div>
        </div>
    </div>
</div>