.alerts {
    position: relative!important;
}

.alerts > .alert {
    width: 100%!important;
}

schoolingo-datalist {
    width: 100%;
    transition: width .3s;
}

.card-row.main {
    justify-content: space-between;
    overflow: hidden;
}

.form-group {
    padding: 2px;
}

.btn {
    height: 30px;
}