<div class="card">
    @if (hasAccess) {
        <div class="card-top"></div>
        <div class="card-header mb">
            <div class="left">
                <h2>{{ schoolingo.locale.getLocale('sidebar/manageUsers') }}</h2>
                <p class="description">
                    {{ schoolingo.locale.getLocale('manageUsers/usersCount')
                        .replaceAll('%usersCount%', userCount.toString())
                    }}
                </p>
            </div>
            <div class="flex-items">
                @if (perms.checkPermission(['manager:users:addUser'])) {
                    <div [ngClass]="['btn', 'submit', 'small', 'blue-info']" role="button">
                        {{ schoolingo.locale.getLocale('manageUsers/buttons/addUser') }}
                    </div>
                }
            </div>
        </div>
        <div class="card-body mb">
            <div class="form-group">
                <input type="text" name="search" [formControl]="search" [placeholder]="schoolingo.locale.getLocale('manageUsers/searchUser')" />
            </div>
        </div>
        <div class="card-body card-row main">
            <schoolingo-datalist [head]="['username', 'firstName', 'lastName', 'roles/main', 'messages/tags/main']" [options]="{ url: 'users:getUsers', hideInfo: true }" [data]="users" [selectedRow]="selectedRow" [metadata]="metadata" (datalist)="receivedDatalist($event)" [search]="search" [clickFc]="onClick"></schoolingo-datalist>
        </div>
    } @else {
        <div class="card-header mb">
            <h2>{{ schoolingo.locale.getLocale('sidebar/manageUsers') }}</h2>
        </div>
        <div class="card-body">
            <div class="alerts">
                <div class="alert red">
                    {{ schoolingo.locale.getLocale('students/noAccess') }}
                </div>
            </div>
        </div>
    }
</div>