<schoolingo-tabs [options]="['timetable/dropdown/showLesson/basicInfo', 'sidebar/teach/homeworks', 'timetable/dropdown/showLesson/absence', 'timetable/dropdown/showLesson/other']" [option_width]="'fit'" [value]="tab"></schoolingo-tabs>

<div class="mt mb" style="padding: 1rem">
    @switch (tab.getValue()) {
        @case(0) {
            <div>
                {{ lesson?.day }}
            </div>
        }
        @case(1) {
            <div>
                <h2>Aktivní domácí úkoly</h2>
            </div>
        }
        @case(2) {
            @if (perms.checkPermission(["older:18"])) {
                <div class="btn">
                    Omluvit si hodinu
                </div>
            }
        }
    }
</div>