<h2 class="small mb">{{ l.s('settings.security') }}</h2>
<div class="items">
    <div [ngClass]="{item: true, collapse: collapses[0]}" style="justify-content: space-between;" (click)="settings.getSecurity()!['2fa'] ? collapses[0] = !collapses[0] : activate2FA()">
        <div class="row justify-content-space-between" style="width: 100%;">
            <div class="item-info">
                <div class="row">
                    <span class="title">{{ l.s('settings.2fa.title') }}</span>
                    <div class="badge loading" style="margin-left: 8px;">
                        {{ l.s('settings.2fa.methods.mobile_app') }}
                    </div>
                </div>
                <p class="description">
                    {{ l.s('settings.2fa.description') }}
                </p>
            </div>

            <div [ngClass]="{badge: true, action: true, active: settings.getSecurity()!['2fa'], loading: settings.getSecurity()?.['2fa'] != true, skeleton: !settings.getSecurity()}">
                @if (!settings.getSecurity()) {
                    <div class="loader"></div>
                    {{ l.s('loading') }}
                } @else {
                    {{ l.s(settings.getSecurity()!['2fa'] ? 'activated' : 'activate') }}
                }
            </div>
        </div>
    

        @if (collapses[0] && settings.getSecurity()?.['2fa']) {
            <div class="collapse-section" (click)="$event.stopImmediatePropagation()">
                <div class="row justify-content-space-between align-items-center">
                    <div class="left">
                        <div class="btn primary mb" (click)="openBackupCodes()">
                            {{ l.s('buttons.show_backup_codes') }}
                        </div>

                        <div class="btn" (click)="refreshBackupCodes()">
                            {{ l.s('buttons.refresh_backup_codes') }}
                        </div>
                    </div>

                    <div class="right">
                        <div class="btn danger mb" (click)="$event.stopPropagation();openDeactivate2FA();">
                            {{ l.s('settings.2fa.deactivate') }}
                        </div>
                    
                        <p style="font-size: 14px;opacity: .7;text-align: center;">
                            {{ l.s('settings.2fa.validSince')
                            .replaceAll("%date%", settings.getSecurity()!['2fa_activated'].format("D. M. YYYY") || "")
                            .replaceAll("%time%", settings.getSecurity()!['2fa_activated'].format("HH:mm:ss")   || "") }}
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div [ngClass]="{item: true, collapse: collapses[1]}" style="justify-content: space-between;" (click)="collapses[1] = !collapses[1]">
        <div class="row justify-content-space-between" style="width: 100%;">
            <div class="item-info">
                <div class="row">
                    <span class="title">{{ l.s('settings.passkeys.title') }}</span>
                </div>
                <p class="description">
                    {{ l.s('settings.passkeys.description') }}
                </p>
            </div>

            <div [ngClass]="{badge: true, action: true, active: isPasskeySupported == true, loading: isPasskeySupported !== true, skeleton: isPasskeySupported == null}" (click)="$event.stopPropagation();addPasskey()">
                @if (!isPasskeySupported == null) {
                    <div class="loader"></div>
                    <span>{{ l.s('loading') }}</span>
                } @else {
                    {{ l.s('settings.passkeys.add') }}
                }
            </div>
        </div>
    

        @if (collapses[1]) {
            <div class="collapse-section" (click)="$event.stopImmediatePropagation()">
                <div class="table-list">
                    <h2>{{ l.s('settings.passkeys.list') }}</h2>
                    <div class="items">
                        @for (passkey of settings.getSecurity()?.passkeys;track $index) {
                            <div class="item row">
                                <div class="left">
                                    <div class="row mb">
                                        <i-tabler name="key-filled" style="margin-right: .5rem"></i-tabler>
                                        <span>
                                            {{ passkey.device_name }}
                                        </span>
                                    </div>
                                    <div class="row">
                                        {{
                                        "Přidané %added_at% | Naposledy použité %last_used%"
                                        .replaceAll("%added_at%", moment(passkey.registered_at).format("D. M. YYYY HH:mm"))
                                        .replaceAll("%last_used%", moment(passkey.last_used).format("D. M. YYYY HH:mm"))
                                        }}
                                    </div>
                                </div>
                                <div class="actions row">
                                    <div class="btn edit" (click)="editPasskey(passkey.id)">
                                        <i-tabler name="edit"></i-tabler>
                                    </div>
                                    <div class="btn delete danger" (click)="removePasskey(passkey.id)">
                                        <i-tabler name="trash-x-filled"></i-tabler>
                                    </div>
                                </div>
                            </div>
                        } @empty {
                            <div class="message error">
                                {{ l.s('settings.passkeys.empty') }}
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (modal == 'add_2fa' && action == "add_to_phone") {
<div class="modals">
    <div class="modal" id="add_2fa">
        <div class="modal-header">
            <h2>{{ l.s('settings.2fa.title') }}</h2>
        </div>

        <div class="message info">
            {{ l.s('settings.2fa.descriptions.' + action) }}
        </div>

        <div class="center">
            @if (TFA_qrcode == undefined) {
                <div class="loader" style="width: 180px;height:180px"></div>
            } @else {
                <qrcode
                [allowEmptyString]="false"
                [width]="180"
                [margin]="0"
                [elementType]="'canvas'"
                [errorCorrectionLevel]="'M'"
                [title]="'2FA Schoolingo'"
                [imageSrc]="'./assets/logo.webp'"
                [imageHeight]="56"
                [imageWidth]="56"
                [qrdata]="TFA_qrcode!"
                [colorDark]="t.getTheme().getValue() == 'light' ? '#000000' : '#ffffff'"
                [colorLight]="t.getTheme().getValue() == 'light' ? '#ffffff' : '#000000'"
                ></qrcode>
            }
        </div>

        <form>
            <div class="form-group">
                <label for="token" [ngClass]="{ 'error-color': errors['token'] !== undefined }">
                    {{ l.s('auth.2fa.authentication_code') }}
                    @if (errors['token'] !== undefined) {
                        <span class="label-error">
                            - {{ errors['token'] }}
                        </span>
                    }
                </label>
                <input type="text" [placeholder]="l.s('auth.2fa.authentication_code')" id="token" autocomplete="off" [minlength]="AuthConfig.token_length"  [maxlength]="AuthConfig.token_length" [formControl]="settings.TFAControl">
            </div>
            <div class="form-group">
                <div [ngClass]="{btn: true, primary: settings.checkValidTFA(), disabled: !settings.checkValidTFA()}" (click)="verifyActivation2FA()">
                    @if (active_action == 'activating_2fa') {
                        <div class="loader"></div>
                        <span>{{ l.s('auth.2fa.verify_code_action') }}</span>
                    } @else {
                        {{ l.s('auth.2fa.verify_code') }}
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="btn" (click)="closeModal()">
                    {{ l.s('close') }}
                </div>
            </div>
        </form>
    </div>
</div>
}

@if (modal == 'verify_code' && action != "") {
<div class="modals">
    <div class="modal" id="verify_code">
        <div class="modal-header">
            <h2>{{ l.s('settings.2fa.title') }}</h2>
        </div>
        <div class="message info">
            {{ l.s('settings.2fa.descriptions.' + action) }}
        </div>
        <form>
            <div class="form-group">
                <label for="token">
                    {{ l.s('auth.2fa.authentication_code') }}
                </label>
                <input type="text" [placeholder]="l.s('auth.2fa.authentication_code')" id="token" autocomplete="off" [minlength]="AuthConfig.token_length"  [maxlength]="AuthConfig.token_length" [formControl]="settings.TFAControl">
            </div>
            <div class="form-group">
                <div [ngClass]="{btn: true, primary: settings.checkValidTFA(), disabled: !settings.checkValidTFA()}" (click)="showBackupCodes()">
                    @if (active_action == 'activating_2fa') {
                        <div class="loader"></div>
                        <span>{{ l.s('auth.2fa.verify_code_action') }}</span>
                    } @else {
                        {{ l.s('auth.2fa.verify_code') }}
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="btn" (click)="closeModal()">
                    {{ l.s('close') }}
                </div>
            </div>
        </form>
    </div>
</div>
}

@if (modal == 'update_passkey' && selectedPasskey != -1) {
<div class="modals">
    <div class="modal" id="update_passkey">
        <div class="modal-header">
            <h2>{{ l.s('settings.passkeys.edit.title').replaceAll('%passkey%', getPasskeyName(selectedPasskey)) }}</h2>
        </div>
        <div class="modal-close" (click)="modal = ''">
            <i-tabler name="x"></i-tabler>
        </div>
        <div class="message info">
            {{ l.s('settings.passkeys.edit.description') }}
        </div>
        <form (ngSubmit)="updatePasskey()">
            <input type="submit" value="" style="display: none;">
            <div class="form-group">
                <label for="token">
                    {{ l.s('settings.passkeys.edit.form.name.label') }}
                </label>
                <input type="text" (keydown.enter)="updatePasskey()" [value]="getPasskeyName(selectedPasskey)" [formControl]="settings.passkeyName" [placeholder]="l.s('settings.passkeys.edit.form.name.placeholder')">
            </div>
            <div class="form-group">
                <div class="btn primary" (click)="updatePasskey()">
                    {{ l.s('settings.passkeys.edit.form.button') }}
                </div>
            </div>
        </form>
    </div>
</div>
}
