@switch (showPage) {
    @case ("list") {
        <div class="card">
            <div class="card-top"></div>
            <div class="card-header mb">
                <h2>{{ schoolingo.locale.getLocale('sidebar/traineeship/companies') }}</h2>
                <div class="flex-items">
                    @if (permissions.checkPermission(["manager:traineeship:manage"])) {
                        <schoolingo-tabs [options]="['traineeship/statusCompany/approved', 'traineeship/statusCompany/request', 'traineeship/statusCompany/deleted']"></schoolingo-tabs>

                    }
                </div>
            </div>
            <div class="card-body">
    
                <div class="form-group search mb">
                    <input type="text" name="search" [formControl]="search" [placeholder]="schoolingo.locale.getLocale('traineeship/search')">
                    @if (!permissions.checkPermission(["manager:traineeship:manage"])) {
                        <div (click)="showPage = 'requestCompany'" class="btn submit blue-info" role="button">
                            {{ schoolingo.locale.getLocale('traineeship/requestAddCompany') }}
                        </div>
                    } @else {
                        <div class="btn submit blue-info" role="button">
                            {{ schoolingo.locale.getLocale('traineeship/addCompany') }}
                        </div>

                    }
                </div>
    
                <schoolingo-datalist
                (datalist)="receivedDatalist($event)"
                [options]="{
                    search: false,
                    url: 'traineeship:getCompanies',
                    ignore: [],
                    disableLocales: getDisabledLocales(),
                    titles: getTableTitles()
                }"
                [head]="tableHead"
                [clickFc]="onClick"
                [data]="companies"
                [metadata]="metadata"
                [search]="search"
                ></schoolingo-datalist>
    
            </div>
        </div>
    }
    @case ("detailCompany") {
        @if (schoolingo.traineeship.selectedCompany) {
            <div class="companyName mb">
                <img src="https://napicu.eu/favicon.png" alt="Logo">
                <h2>{{ schoolingo.traineeship.selectedCompany.name }}</h2>
            </div>
            <div class="card">
                <div class="card-top">
                    @if (alert) {
                        <div class="alerts mb">
                            @switch (alert) {
                                @case("success_selected_company") {
                                    <div class="alert success">{{ 
                                        schoolingo.locale.getLocale('traineeship/alerts/success_selected_company')
                                        .replaceAll('%companyName%', schoolingo.traineeship.selectedCompany.name)
                                        .replaceAll('%instructor%', schoolingo.locale.getLocale('traineeship/alerts/' +
                                            (requestDataForAlert.instructor ? 'success_selected_company_with_instructor' : 'success_selected_company_no_instructor')
                                        )
                                        .replaceAll('%instructorName%', schoolingo.formatPerson(requestDataForAlert.instructor!)))
                                    }}
                                        <div class="close" (click)="alert = null">
                                            <i class="ti ti-x"></i>
                                        </div>
                                    </div>
                                }
                                @case("success_updated_instructor") {
                                    <div class="alert success">{{ 
                                        schoolingo.locale.getLocale('traineeship/alerts/success_updated_instructor')
                                        .replaceAll('%companyName%', schoolingo.traineeship.selectedCompany.name)
                                        .replaceAll('%instructor%', schoolingo.locale.getLocale('traineeship/alerts/' +
                                            (requestDataForAlert.instructor ? 'success_selected_company_with_instructor' : 'success_selected_company_no_instructor')
                                        )
                                        .replaceAll('%instructorName%', schoolingo.formatPerson(requestDataForAlert.instructor!)))
                                    }}
                                        <div class="close" (click)="alert = null">
                                            <i class="ti ti-x"></i>
                                        </div>
                                    </div>
                                }
                                @case("too_many_students_in_company") {
                                    <div class="alert error">{{ 
                                        schoolingo.locale.getLocale('traineeship/alerts/too_many_students_in_company')
                                    }}
                                        <div class="close" (click)="alert = null">
                                            <i class="ti ti-x"></i>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    }

                    @if (weeks.length) {
                        <div class="alerts mb">
                            @for (week of weeks; track $index) {
                                <div class="alert blue-info">
                                    {{
                                    schoolingo.locale.getLocale('traineeship/alerts/weekInfo')
                                    .replaceAll('%start%', week.start.format('DD. MM. YYYY'))
                                    .replaceAll('%end%', week.end.format('DD. MM. YYYY'))
                                    .replaceAll('%instructor%', schoolingo.locale.getLocale('traineeship/alerts/' +
                                            (week.instructor ? 'success_selected_company_with_instructor' : 'success_selected_company_no_instructor')
                                        )
                                        .replaceAll('%instructorName%', schoolingo.formatPerson(week.instructor!)))
                                    }}
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="card-header mb">
                    <div class="card-row">
                        <div class="left">
                            <div (click)="goToList()" class="btn submit gray" role="button">
                                <i class="ti ti-arrow-narrow-left"></i>
                                <span>{{ schoolingo.locale.getLocale('traineeship/backToList') }}</span>
                            </div>
                            @if (permissions.checkPermission(["student"])) {
                                <div class="btn submit blue-info" role="button" (click)="selectCompanyModal.open();schoolingo.traineeship.activateModal = selectCompanyModal">
                                    <span>{{ schoolingo.locale.getLocale('traineeship/registerToCompany') }}</span>
                                </div>
                            }
                            @if (permissions.checkPermission(["manager:traineeship:editCompany"])) {
                                <div class="btn submit blue" role="button" (click)="editCompanyModal.open();schoolingo.traineeship.activateModal = editCompanyModal">
                                    <span>{{ schoolingo.locale.getLocale('traineeship/editCompany') }}</span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="flex-items">
                        <schoolingo-tabs [options]="['traineeship/tabs/detailCompany/main', 'traineeship/tabs/detailCompany/activity', 'rate']" [value]="selectedTab"></schoolingo-tabs>
                    </div>
                </div>
                <div class="card-body mt">
                    <div [ngClass]="{'card-tab': true, 'card-row': true, active: selectedTab.getValue() === 0}">
                        <div class="left">
                            <div class="card-table">
                                <div class="card-table-header">
                                    {{ schoolingo.locale.getLocale('traineeship/companyInfo') }}
                                </div>
                                <div class="card-table-body">
                                    <div class="card-table-row">
                                        <div class="card-table-item">
                                            {{ schoolingo.locale.getLocale('traineeship/companyName') }}
                                        </div>
                                        <div class="card-table-item">
                                            <span>
                                                {{ schoolingo.traineeship.selectedCompany.name }}
                                            </span>
                                        </div>
                                    </div>
    
                                    <div class="card-table-row">
                                        <div class="card-table-item">
                                            {{ schoolingo.locale.getLocale('traineeship/officeAddress') }}
                                        </div>
                                        <div class="card-table-item">
                                            <span>{{ Utils.formatAddress({
                                                code2: schoolingo.traineeship.selectedCompany.code2,
                                                street: schoolingo.traineeship.selectedCompany.street,
                                                houseNumber: schoolingo.traineeship.selectedCompany.houseNumber,
                                                city: schoolingo.traineeship.selectedCompany.cityName,
                                                postcode: schoolingo.traineeship.selectedCompany.postcode
                                            }) }}</span>
                                        </div>
                                    </div>
    
                                    <div class="card-table-row">
                                        <div class="card-table-item">
                                            {{ schoolingo.locale.getLocale('traineeship/traineeAddress') }}
                                        </div>
                                        <div class="card-table-item">
                                            <span>{{ Utils.formatAddress({
                                                code2: schoolingo.traineeship.selectedCompany.code2,
                                                street: schoolingo.traineeship.selectedCompany.street,
                                                houseNumber: schoolingo.traineeship.selectedCompany.houseNumber,
                                                city: schoolingo.traineeship.selectedCompany.cityName,
                                                postcode: schoolingo.traineeship.selectedCompany.postcode
                                            }) }}</span>
                                        </div>
                                    </div>
    
                                    <div class="card-table-row">
                                        <div class="card-table-item">
                                            {{ schoolingo.locale.getLocale('traineeship/CIN') }}
                                        </div>
                                        <div class="card-table-item">
                                            {{ schoolingo.traineeship.selectedCompany.CIN }}</div>
                                    </div>
    
                                    <div class="card-table-row">
                                        <div class="card-table-item">
                                            {{ schoolingo.locale.getLocale('web') }}
                                        </div>
                                        <div class="card-table-item">
                                            @if (schoolingo.traineeship.selectedCompany.web) {
                                                <a
                                                [href]="schoolingo.traineeship.selectedCompany.web"
                                                target="_blank"
                                                (click)="Utils.openURL(schoolingo.traineeship.selectedCompany.web)">
                                                    {{ schoolingo.traineeship.selectedCompany.web }}
                                                </a>
                                            } @else {
                                                {{ schoolingo.locale.getLocale("traineeship/noWeb") }}
                                            }
                                        </div>
                                    </div>
    
                                    <div class="card-table-row">
                                        <div class="card-table-item">
                                            {{ schoolingo.locale.getLocale('traineeship/averageRate') }}
                                        </div>
                                        <div class="card-table-item">
                                            {{ schoolingo.traineeship.selectedCompany.rating != null ? schoolingo.traineeship.getRating(schoolingo.traineeship.selectedCompany) : schoolingo.locale.getLocale(schoolingo.traineeship.getRating(schoolingo.traineeship.selectedCompany)) }}
                                        </div>
                                    </div>
    
                                    <div class="card-table-row">
                                        <div class="card-table-item">{{ schoolingo.locale.getLocale('email') }}</div>
                                        <div class="card-table-item">
                                            @if (schoolingo.traineeship.selectedCompany.email) {
                                                <a [href]="'mailto:' + schoolingo.traineeship.selectedCompany.email">{{ schoolingo.traineeship.selectedCompany.email }}</a>    
                                            } @else {
                                                {{ schoolingo.locale.getLocale("traineeship/noEmail") }}
                                            }
                                        </div>
                                    </div>
    
                                    <div class="card-table-row">
                                        <div class="card-table-item">{{ schoolingo.locale.getLocale('phone') }}</div>
                                        <div class="card-table-item">{{ Utils.formatPhone(schoolingo.traineeship.selectedCompany.phone) || schoolingo.locale.getLocale("traineeship/noPhone") }}</div>
                                    </div>
    
                                    <div class="card-table-row">
                                        <div class="card-table-item">{{ schoolingo.locale.getLocale('traineeship/description') }}</div>
                                        <div class="card-table-item">{{ schoolingo.traineeship.selectedCompany.description || schoolingo.locale.getLocale('traineeship/noDescription') }}</div>
                                    </div>
                                    <div class="card-table-row">
                                        <div class="card-table-item">{{ schoolingo.locale.getLocale('traineeship/activity') }}</div>
                                        <div class="card-table-item">{{ schoolingo.traineeship.selectedCompany.activity || schoolingo.locale.getLocale('traineeship/noActivity') }}</div>
                                    </div>
                                    <div class="card-table-row">
                                        <div class="card-table-item">{{ schoolingo.locale.getLocale('traineeship/equipment') }}</div>
                                        <div class="card-table-item">{{ schoolingo.traineeship.selectedCompany.equipment || schoolingo.locale.getLocale('traineeship/noEquipment') }}</div>
                                    </div>
                                    <div class="card-table-row">
                                        <div class="card-table-item">{{ schoolingo.locale.getLocale('traineeship/scopes') }}</div>
                                        <div class="card-table-item">
                                            @for (scope of getScopes(schoolingo.traineeship.selectedCompany); track $index) {
                                                <p>{{ scope }}</p>
                                            } @empty {
                                                {{ schoolingo.locale.getLocale('traineeship/noScopes') }}
                                            }
                                        </div>
                                    </div>
                                    <div class="card-table-row">
                                        <div class="card-table-item">{{ schoolingo.locale.getLocale('traineeship/responsiblePerson') }}</div>
                                        <div class="card-table-item">{{ schoolingo.formatPerson(schoolingo.traineeship.selectedCompany.responsiblePerson) }}</div>
                                    </div>
                                    <div class="card-table-row">
                                        <div class="card-table-item">{{ schoolingo.locale.getLocale('traineeship/instructors') }}</div>
                                        <div class="card-table-item">
                                            @for (instructor of schoolingo.traineeship.instructors; track $index) {
                                                {{ schoolingo.formatPerson(instructor) }}
                                            } @empty {
                                                {{ schoolingo.locale.getLocale('traineeship/noInstructors') }}
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="map">
                                <div class="skeleton">
                                    <iframe width="100%" 
                                    height="100%"
                                    [ngStyle]="{ filter: schoolingo.theme.getThemeColor() == 'dark' ? 'invert(90%) hue-rotate(180deg)' : '' }"
                                    allowFullScreen=""
                                    referrerPolicy="no-referrer-when-downgrade"
                                    [src]="iframeURL"
                                    frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="{'card-tab': true, active: selectedTab.getValue() === 1}" style="overflow:hidden;">
                        <h2>Aktivita ve firmě</h2>
                        <ag-charts [options]="options" style="width: 100%"></ag-charts>
                    </div>
                </div>
            </div>
        }
    }

    @case ("requestCompany") {
        <div class="card">
            <div class="card-top"></div>
            <div class="card-header mb">
                <h2>
                    <i (click)="goToList()" class="icon ti ti-arrow-narrow-left"></i>
                    {{ schoolingo.locale.getLocale('traineeship/requestCompany') }}</h2>
            </div>
            <div class="card-body">

            </div>
        </div>
    }
}