<div class="calendar-wrap" id="calWrap">
    <div class="calendar-input form-input" [class.focus]="calendarManager.isVisibleCalendar(id)"
        (click)="calendarManager.isVisibleCalendar(id) ? calendarManager.closeCalendar(id) : updateCalendarPosition();calendarManager.showCalendar(id); $event.stopPropagation()">
        <div class="value" id="calValue">
            @if (calendarManager.getCalendarData(id)) {
            @let start = calendarManager.getCalendarData(id).selected_date[0].getValue();
            @let end = calendarManager.getCalendarData(id).selected_date[1].getValue();

            @if (!options.multiple_days || start.isSame(end, 'day')) {
            {{ start.format('DD. MM. YYYY') }}
            } @else {
            {{ start.format('D. M.') }} — {{ end.format('DD. MM. YYYY') }}
            }
            } @else {
            {{ l.s('calendar.placeholder') }}
            }
        </div>
        <div class="chev">
            <i-tabler [name]="calendarManager.isVisibleCalendar(id) ? 'chevron-up' : 'chevron-down'"></i-tabler>
        </div>
    </div>
</div>