/* launcher */
.calendar-wrap {
  max-width: 100%;
  position: relative;
}
.calendar-input {
  gap: 8px;
  cursor: pointer;
}
.calendar-input .label {
  font-size: 13px;
  color: var(--text-muted);
}
.calendar-input .value {
  flex: 1;
  font-weight: 600;
  font-size: 13px;
  color: var(--text);
}
.calendar-input .chev {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: grid;
  place-items: center;
  background: transparent;
  color: var(--icon);
}

.calendar-input .label,
.calendar-input i-tabler {
    margin: 0
}

.calendar-input.focus .chev i-tabler {
    transform: rotateZ(180deg);
}
