/* Calendar Button */
.calendar {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 2.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    border: 1px solid var(--border-color);
    color: var(--color-darker);
    background-color: transparent;
    padding: .5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    min-width: max-content;
    -webkit-appearance: button;
    appearance: button;
    text-transform: none;
    width: 240px;
    transition: all .15s;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.calendar:hover {
    background-color: var(--background-hover);
}

.calendar .calendar-item {
    padding: 4px;
}

.calendar .calendar-item div:not(.year) {
    width: 30px;
}

/* Calendar dropdown */
.calendar .dropdown {
    position: absolute;
    cursor: default;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    color: var(--color);
    background-color: var(--background-header);
    z-index: 50;
    padding: .75rem;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 2px rgba(0,0,0,.12);
}

.calendar .dropdown .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    position: relative;
}

.calendar .dropdown .header .month {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
}

.calendar .dropdown .header i {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    opacity: .5;
    transition: all .15s;
    border-radius: 8px;
    width: 1.75rem;
    height: 1.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

.calendar .dropdown .header i:first-child { left: .25rem }
.calendar .dropdown .header i:last-child { right: .25rem }

.calendar .dropdown .header i:hover {
    background-color: var(--background-hover);
    opacity: 1;
}

/* Calendar Calendar */
.calendar-content {
    display: flex;
    flex-direction: column;
}

.calendar .days, 
.calendar .calendar-content .calendar-row  {
    display: flex;
    color: var(--color);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-collapse: collapse;
    margin-top: .5rem;
}

.calendar .days,
.calendar .calendar-content .calendar-row .calendar-day.active {
    color: var(--color);
    font-weight: bold;
}

.calendar .days > div,
.calendar .calendar-content .calendar-row > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2rem;
    aspect-ratio: 1;
}

.calendar .days > div {
    font-weight: 400;
    font-size: .8rem;
    color: rgb(161, 161, 170);
}

.calendar .calendar-content .calendar-row > div {
    height: 2rem;
    font-size: .875rem;
    line-height: 1.25rem;
    border-radius: 8px;
}

.calendar .calendar-content .calendar-row .calendar-day.today, .calendar .calendar-content .calendar-row .calendar-day:not(.active):hover {
    background-color: var(--background-hover);
}

.calendar .calendar-content .calendar-row .calendar-day.active {
    color: rgb(24, 24, 27);
    background-color: rgb(250, 250, 250);
}

.calendar .calendar-content .calendar-row .calendar-day.isGray {
    color: var(--color-darker);
    opacity: .7;
}

.calendar .calendar-content .calendar-row .calendar-day {
    cursor: pointer;
}