@let file = getFile();
@if (file) {
<div class="delete-confirm">
    <div class="delete-icon-wrapper">
        <i-tabler [name]="documents.getIcon(file.type)" class="file-type-icon"></i-tabler>
    </div>
    <p class="delete-message">
        Opravdu chcete smazat <strong>{{ file.name }}</strong>?
        @if (file.type === 'folder') {
        <br><span class="delete-warning">Tato akce odstraní složku a veškerý její obsah.</span>
        }
    </p>
</div>

<div class="modal-actions">
    <button type="button" class="btn btn--secondary" (click)="modalManager.closeModal('delete_file')">{{ l.s('cancel')
        }}</button>
    <button type="button" class="btn btn--danger" (click)="deleteFile()">
        <i-tabler name="trash-x"></i-tabler>
        {{ l.s('documents.delete') }}
    </button>
</div>
}