@let file = getFile();
@if (file) {

<div class="row-type-selector">
    <div class="row-option" (click)="selected_option = 0" [class.selected]="selected_option == 0">
        <div class="row-option__dot"></div>
        <div class="row-option__content">
            <h4>{{ l.s('documents.delete_modal.remove_access_title') }}</h4>
            <p>{{ l.s('documents.delete_modal.remove_access_desc') }}</p>
        </div>
    </div>
    <div class="row-option row-option--danger" (click)="selected_option = 1" [class.selected]="selected_option == 1">
        <div class="row-option__dot"></div>
        <div class="row-option__content">
            <h4 style="color: var(--danger);">{{ l.s('documents.delete_modal.complete_delete_title') }}</h4>
            <p>{{ l.s('documents.delete_modal.complete_delete_desc') }}</p>
        </div>
    </div>
</div>

<div class="modal-actions">
    <button type="button" class="btn btn--secondary" (click)="modalManager.closeModal('delete_file')">{{ l.s('buttons.cancel')
        }}</button>
    <button type="button" class="btn" [class.btn--primary]="selected_option === 0"
        [class.btn--danger]="selected_option === 1" (click)="deleteFile()">
        <i-tabler [name]="getActionIcon()"></i-tabler>
        {{ getActionText() }}
    </button>
</div>
}