<div class="card profile">
    <div class="profile-content">
        <div class="profile-header">
            <div style="width: 100%;">
                <h3 class="section-title">
                    Bezpečnost &amp; aktualizace
                </h3>
                <div class="section-item" style="flex-direction:column;align-items:stretch;">
                    <div class="setting-row" style="align-items:center;">
                        <div>
                            <div style="font-weight:700">{{ l.s('auth.login.username') }}</div>
                        </div>
                        <div style="min-width:220px;">
                            <input id="appName" class="disabled" [value]="u.getUser().username" readonly disabled>
                        </div>
                    </div>

                    <div class="setting-row" style="align-items:center;">
                        <div>
                            <div style="font-weight:700">{{ l.s('person.full_name') }}</div>
                        </div>
                        <div style="min-width:220px;">
                            <input id="appName" class="disabled" [value]="u.getUser().fullName" readonly disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="items mt mb">
            <div class="item">
                <h3 class="section-title">
                    {{ l.s('settings.emails.title') }}
                </h3>
                <div class="value list">
                    @for (email of emails; track $index) {
                        <div class="list-item">
                            <span class="list-value">
                                <div class="icon center">
                                    <i-tabler name="school"></i-tabler>
                                </div>
                                <span>{{ email.email }}</span>
                                <div class="labels">
                                    @if (email.is_verified) {
                                   <div class="token-label label--success">Ověřený</div>
                                    }
                                </div>
                            </span>
                            <div class="list-actions">
                                <div class="list-button primary">Upravit</div>
                                <div class="list-button danger" (click)="removeEmail($index)">Smazat</div>
                            </div>
                        </div>
                        <!-- <div class="item-group">
                            <div class="left">
                                <div class="item-title">
                                    <input type="text" [(ngModel)]="email.email">
                                </div>
                            </div>
                            <div class="item-actions">
                                <div class="btn">
                                    <i-tabler name="pencil"></i-tabler>
                                </div>
                                <div class="btn danger" (click)="removeEmail($index)">
                                    <i-tabler name="trash-x"></i-tabler>

                                </div>
                            </div>
                        </div> -->
                    } @empty {
                        <div class="item-empty">
                            <div class="left">
                                <div class="empty-icon">
                                    <i-tabler name="mailbox-off"></i-tabler>
                                </div>
                                <div class="empty-text">
                                    <h3>
                                        {{ l.s('settings.emails.empty') }}
                                    </h3>
                                    <p>
                                        {{ l.s('settings.emails.empty_description') }}
                                    </p>
                                </div>
                            </div>
                            <div class="btn primary" (click)="addEmptyEmail()">
                                <i-tabler name="plus"></i-tabler>
                                {{ l.s('buttons.add_email') }}
                            </div>
                        </div>
                        <!-- <input type="text" class="disabled" [placeholder]="l.s('user_settings.no_email_set')"> -->
                    }
                </div>
            </div>
            @if (emails.length) {
            <div class="add-button" (click)="addEmptyEmail()">
                <i-tabler name="plus"></i-tabler>
                <span>
                    {{ l.s('buttons.add_email') }}
                </span>
            </div>
            }
        </div>

        <hr />

        <div class="items mt">
            <div class="item">
                <h3 class="section-title">
                    {{ l.s('settings.phones.title') }}
                </h3>
                <div class="value">
                    @for (phone of phones; track $index) {
                        <input type="text" class="disabled" [value]="Utils.formatPhone(phone.number)" readonly>
                    } @empty {
                        <div class="item-empty">
                            <div class="left">
                                <div class="empty-icon">
                                    <i-tabler name="phone-off"></i-tabler>
                                </div>
                                <div class="empty-text">
                                    <h3>
                                        {{ l.s('settings.phones.empty') }}
                                    </h3>
                                    <p>
                                        {{ l.s('settings.phones.empty_description') }}
                                    </p>
                                </div>
                            </div>
                            <div class="btn primary small">
                                    <i-tabler name="plus"></i-tabler>
                                    {{ l.s('buttons.add_phone') }}
                                </div>
                        </div>
                    }
                </div>
            </div>
            @if (phones.length) {
            <div class="btn small primary" style="width: fit-content;display: flex;align-items: center;">
                <i-tabler name="plus"></i-tabler>
                <span>
                    {{ l.s('buttons.add_phone') }}
                </span>
            </div>
            }
        </div>

        <hr class="mb-2" />

        <h3 class="section-title mt mb">
            {{ l.s('user.security') }}
        </h3>

        <div class="item-empty mb">
            <div class="left">
                <div class="empty-icon">
                    <i-tabler name="lock"></i-tabler>
                </div>
                <div class="empty-text">
                    <h3>
                        {{ l.s('user.password_authenticator.title') }}
                    </h3>
                    <p>
                        {{ l.s('user.password_authenticator.description') }}
                    </p>
                    
                    <div class="badges">
                        @if (u.getUser().passwordChanged) {
                        <div class="badge">
                            {{ l.s('user.password_authenticator.last_updated').replaceAll('%time%', Utils.formatDateShort(u.getUser().passwordChanged)) }}
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="btn primary small" [routerLink]="['/user/settings']" [queryParams]="{ page: 'changepassword' }">
                <i-tabler name="lock"></i-tabler>
                {{ l.s('buttons.change_password') }}
            </div>
        </div>

        <div class="item-empty mb" [class.danger]="u.getUser().failedLogins7Days">
            <div class="left">
                <div class="empty-icon">
                    <i-tabler name="history"></i-tabler>
                </div>
                <div class="empty-text">
                    <h3 class="row" style="gap: 8px;">
                        {{ l.s('user.login_history') }}
                        @if (u.getUser().failedLogins7Days) {
                        <div class="badge danger">
                            <i-tabler name="alert-triangle"></i-tabler>
                            {{ l.s('user.unknown_login') }}
                        </div>
                        }
                    </h3>
                    <p>
                        {{ l.s('user.login_history_description') }}
                    </p>
                    
                    <div class="badges">
                        <div class="badge">
                            {{ l.s('user.logins_for_7days') }}: {{ u.getUser().lastLogins7Days }}
                        </div>

                        @if (u.getUser().failedLogins7Days) {
                        <div class="badge danger">
                            {{ l.s('user.failed_logins_for_7days') }}: {{ u.getUser().failedLogins7Days }}
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="right" style="display:flex;flex-direction: column;gap: 8px">
                <div class="btn small" [class.danger]="u.getUser().failedLogins7Days" [class.primary]="!u.getUser().failedLogins7Days" [routerLink]="['/user/logins']">
                    <i-tabler name="history"></i-tabler>
                    {{ l.s('user.login_history_action') }}
                </div>
                <small class="note clickable" [routerLink]="['/user/devices']" style="color: var(--primary-200)">
                    {{ l.s('user.show_logged_devices') }}
                </small>
            </div>
        </div>

        <div class="item-empty mb">
            <div class="left">
                <div class="empty-icon">
                    <i-tabler name="auth-2fa"></i-tabler>
                </div>
                <div class="empty-text">
                    <h3>
                        {{ l.s('settings.2fa.title') }}
                    </h3>
                    <p>
                        {{ l.s('user.app_authenticator.description') }}
                    </p>
                </div>
            </div>
            <div class="btn primary small" [routerLink]="['/user/settings']" [queryParams]="{ page: 'security' }">
                <i-tabler name="settings"></i-tabler>
                {{ l.s('buttons.jump_to_2FA_settings') }}
            </div>
        </div>
    </div>
</div>