<div class="modal-body">
    <div class="danger-notice mt">
        <i-tabler name="alert-triangle"></i-tabler>
        <p>{{ l.s(`devices.remove_confirm_${data?.type ?? 'all'}_text`) }}</p>
    </div>
</div>
<div class="modal-actions">
    <button class="btn btn--secondary" (click)="closeModal()">
        <i-tabler name=x></i-tabler>
        {{ l.s('buttons.cancel') }}
    </button>
    <button class="btn btn--danger" (click)="confirm()">
        <i-tabler name="logout"></i-tabler>
        {{ l.s(`devices.remove_confirm_${data?.type ?? 'all'}_btn`) }}
    </button>
</div>
