<div class="form-group">
    <label for="type">{{ 'Druh události' }}</label>
    <div class="custom-select" (click)="$event.stopPropagation(); dropdownManager.selected_dropdown = dropdownManager.selected_dropdown == 'scheduleBuilder_addevent_type' ? '' : 'scheduleBuilder_addevent_type'">
        <div class="selected-value">
            {{ selected_type }}
            <i-tabler name="chevron-down"></i-tabler>
        </div>
        @if (dropdownManager.selected_dropdown == 'scheduleBuilder_addevent_type') {
            <div class="options-dropdown">
            @for (type of types; track $index) {
                <div class="option" (click)="$event.stopPropagation();dropdownManager.selected_dropdown = '';selected_type = type">
                {{ type }}
                </div>
            }
            </div>
        }
    </div>
</div>

<div class="form-group">
    <label class="form-label">Název události</label>
    <input type="text" class="form-input" id="eventName" placeholder="např. Výlet do Prahy" required="">
</div>
<div class="modal-actions">
    <div class="btn" (click)="closeModal()">Zrušit</div>
    <div class="btn btn--primary">Přidat</div>
</div>