<div class="form-group">
    <label class="form-label">Druh události</label>
    <select >
        <option></option>
        <option>Třídnická hodina</option>
        <option>Doučování</option>
    </select>
</div>

<div class="form-group">
    <label class="form-label">Název události</label>
    <input type="text" class="form-input" id="eventName" placeholder="např. Výlet do Prahy" required="">
</div>
<div class="modal-actions">
    <div class="btn" (click)="closeModal()">Zrušit</div>
    <div class="btn primary">Přidat</div>
</div>