<div class="box">
    <header>
        <h2>{{ locale.getLocale('sidebar/teach/timetable') }}</h2>
        <div class="flex-items">
            <div [ngClass]="{absence: true, item: true, tab: true, 'no-realy-small': true }" onclick="window.print();">
                <span><i class="fa-solid fa-print"></i> {{ locale.getLocale('print') }}</span>
            </div>

            <div [ngClass]="{absence: true, item: true, tab: true, dropdown: true, active: dropdown.checkDropdown('absence'), 'no-realy-small': true }" (click)="dropdown.toggleDropdown('absence')">
                <span>{{ locale.getLocale('sidebar/absence') }}</span>
                <div [ngClass]="{'dropdown-content': true, dropdownabsence: true}" style="width: 200px;" *ngIf="dropdown.checkDropdown('absence')" (click)="$event.stopPropagation()">
                    <div class="absence ab-absence">Absence</div>
                    <div class="absence ab-excused">Omluvená absence</div>
                    <div class="absence ab-unexcused">Neomluvená absence</div>
                    <div class="absence ab-late">Pozdní příchod</div>
                    <div class="absence ab-non-count">Nezapočtená absence</div>
                    <div class="absence ab-early">Dřívější odchod</div>
                    <div class="absence ab-distance">Distanční výuka</div>
                </div>
            </div>
            <schoolingo-tabs [name]="tabName" [options]="[locale.getLocale('timetable/thisWeek'), locale.getLocale('timetable/nextWeek'), locale.getLocale('timetable/permanent'), locale.getLocale('sidebar/calendar')]"></schoolingo-tabs>
            <input type="date" id="calendar" class="no-small" [formControl]="calendar" name="calendar" value="{{ schoolingo.getToday() | date:'yyyy-MM-dd' }}" min="2023-09-01" max="2024-06-30">
        </div>
    </header>
    <div class="box-content">
        <div class="schedule">
            <div class="hours">
                <div class="item"></div>
                <div class="item" *ngFor="let time of schoolingo.getSHours();index as index">
                    <div class="num">{{ index + 1 }}</div>
                    <div class="time">{{ time.start }} - {{ time.end }}</div>
                </div>
            </div>
            <div class="days">
                <div class="day" *ngFor="let day of schoolingo.getTimetable()">
                    <div class="item day-name">
                        <div class="num">
                            {{ day.day }}
                        </div>
                        <div class="time" *ngIf="tabs.getTabValue(tabName) !== 2">
                            {{ day.date[0] + '. ' + day.date[1] + '.' }}
                        </div>
                    </div>
                    <div class="item all-day" *ngIf="day.isFullDay === true">
                        {{ day.holiday?.name }}
                    </div>
                    <div class="item day-lesson" *ngFor="let hour of day.lessons">
                        <div class="day-lesson-lesson" *ngFor="let lesson of hour">
                            <div class="group" *ngIf="lesson.group">
                                <span *ngIf="lesson.group.text">{{ lesson.group.text }}</span>
                                <span *ngIf="lesson.group.num">{{ lesson.group.num }}</span>
                            </div>
                            <div class="room" *ngIf="lesson.room">{{ lesson.room.label }}</div>
                            <div class="subject" *ngIf="lesson.subject">{{ lesson.subject[1] }}</div>
                            <div class="teacher" *ngIf="lesson.teacher && userService.getUser()?.type == 'student'">{{ lesson.teacher.lastName }}</div>
                            <div class="teacher" *ngIf="lesson.class && userService.getUser()?.type == 'teacher'">{{ lesson.class }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>