<div class="card">
    <div class="card-top"></div>
    <div class="card-header">
        <h2>{{ schoolingo.locale.getLocale('sidebar/teach/timetable') }}</h2>
        <div class="flex-items">

            <div [ngClass]="{'item-btn': true, text: true, active: dropdown.isOpen(timetableAbsenceName)}" [attr.dropdown]="timetableAbsenceName" (click)="$event.stopPropagation();dropdown.toggle(timetableAbsenceName)">
                <div class="text">
                    {{ schoolingo.locale.getLocale('sidebar/absence') }}
                </div>
            </div>

            <div class="select-items">
                <schoolingo-tabs [value]="selectedTab" [options]="['timetable/thisWeek', 'timetable/nextWeek', 'timetable/permanent', 'sidebar/calendar']"></schoolingo-tabs>
            </div>

            @if (selectedTab.getValue() === 3) {
                <div class="button">
                    <i class="ti ti-calendar-month"></i>
                    {{ selectedDate.getValue().format('DD. MM. YYYY') }}
                </div>
            }

            <div [ngClass]="{'item-btn': true, active: dropdown.isOpen(timetableOptionsName)}" [attr.dropdown]="timetableOptionsName" (click)="$event.stopPropagation();dropdown.toggle(timetableOptionsName)">
                <div class="icon">
                    <i class="ti ti-dots-vertical"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body center">
        <div class="timetable">
            <div class="hours">
                <div class="week-type">
                    @if ([0, 1, 3].includes(selectedTab.getValue())) {
                        {{ (schoolingo.timetableSelectedWeek.getValue() % 2) ? 'Lichý týden' : 'Sudý týden' }}
                    }
                </div>
                @for (hour of schoolingo.getTimetableHours(); track $index) {
                    <div class="hour-info">
                        <div class="hour-id">
                            {{ $index + 1 }}
                        </div>
                        <div class="hour-time">
                            {{ hour.start + ' - ' + hour.end }}
                        </div>
                    </div>
                }
            </div>
            <div class="days">
                @for (day of [].constructor(5); track index;let index = $index) {
                    <div class="day">
                        <div class="name">
                            {{ schoolingo.locale.getLocale('days/' + index) }}
                            @if (schoolingo.timetableSelectedWeek.getValue() !== -1) {
                                <div class="time">
                                    {{ utils.getDayOfWeek(schoolingo.timetableSelectedWeek.getValue(), index).format('D. M.') }}
                                </div>
                            }
                        </div>
                        @if (false) {
                            <div class="item all-day"></div>
                        }
                        @for (hour of [].constructor(schoolingo.getTimetableHours().length); track index2;let index2 = $index) {

                            <div [ngClass]="{item: true, 'lesson-hour': true, classbook: isClassbook(index, index2)}">
                                @for (lesson of schoolingo.getTimetableLessons()[index][index2]; track $index) {
                                    <div [ngClass]="['sub-lesson-hour', 'lesson-count-' + schoolingo.getTimetableLessons()[index][index2].length, (lesson.empty) ? 'empty' : '']">
                                        @if (options.groups.getValue()) {
                                            <div class="group">
                                                <span>{{ lesson.group.text + ' ' + lesson.group.num }}</span>
                                            </div>
                                        }
                                        @if (options.rooms.getValue()) {
                                            <div class="room">{{ lesson.room }}</div>
                                        }
                                        <div class="subject">
                                            @if (schoolingo.timetableSelectedWeek.getValue() == -1 && lesson.type !== 0) {
                                                {{ lesson.type == 1 ? 'L: ' : 'S: ' }}
                                            }
                                            {{ lesson.subjectShortcut }}</div>
                                        @if (options.teachers.getValue()) {
                                            <div class="teacher">{{ lesson.teacher }}</div>
                                        }
                                        @if (getAbsence(index, index2) != -1) {
                                            <div [ngClass]="['absence', 'ab-' + schoolingo.absence[getAbsence(index, index2)].locale]"></div>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>

    </div>

</div>