<div class="card-row">
    <div class="left">
        <qrcode
        [allowEmptyString]="false"
        [width]="180"
        [margin]="0"
        [elementType]="'canvas'"
        [errorCorrectionLevel]="'M'"
        [title]="'2FA Schoolingo'"
        [imageSrc]="'./assets/logo.webp'"
        [imageHeight]="56"
        [imageWidth]="56"
        [qrdata]="schoolingo.userService.tfaQR"
        [colorDark]="schoolingo.theme.getTheme() == 'light' ? '#000000' : '#ffffff'"
        [colorLight]="schoolingo.theme.getTheme() == 'light' ? '#ffffff' : '#000000'"
        ></qrcode>

        <div class="form-group">
            <label for="token">{{ schoolingo.locale.getLocale('userSettings/2faToken') }}</label>
            <input type="text" name="token" [(ngModel)]="token" [placeholder]="schoolingo.locale.getLocale('userSettings/2faToken')">
        </div>
        <div class="form-group">
            <div class="btn gray" (click)="verifyToken()">Ověřit kód a aktivovat 2FA</div>
        </div>
    </div>
    <div class="right">

    </div>
</div>