<div class="toast-wrapper">
  <div [ngClass]="['toast', (toast.active) ? 'active' : '', toast.type]" *ngFor="let toast of toasts.getToasts()" [id]="toast.name">
    <div class="toast-content">
      <div class="icon">
        <div class="short-line" *ngIf="toast.type == 'success'"></div>
        <div class="long-line" *ngIf="toast.type == 'success'"></div>
      </div>
    
      <div class="message">
        <span class="text text-1">{{ locale.getLocale('toasts/' + toast.type) }}</span>
        <span class="text text-2">{{ toast.text }}</span>
      </div>
    </div>
    <i class="ti ti-x close" (click)="toasts.close(toast.name)"></i>
    
    <div class="progress"></div>
</div>
</div>
