.card {
    display: none!important;
}

.card.active {
    display: flex!important;
}

.dairy-item {
    padding: 8px 16px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    margin: 4px 0;
    transition: all .3s;
    cursor: pointer;

}


.dairy-item:hover {
    background-color: var(--background-hover);
}