.card {
    display: none!important;
}

.card.active {
    display: flex!important;
}

.dairy-item {
    padding: 8px 16px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    margin: 4px 0;
    transition: all .3s;
    cursor: pointer;

}

.dairy-item:hover {
    background-color: var(--background-hover);
}

.deniky-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.denik-card {
    background: var(--background-hover); /* tmavě modrá (ladí se sidebar) */
    border-radius: var(--radius);
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: all 0.25s ease;
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;
}

.denik-card:hover {
    transform: translateY(3px);
    background: var(--surface-2);
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.denik-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12px;
}

.denik-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.denik-date {
    font-size: 0.95rem;
    color: var(--primary);
    font-weight: 600;
}

.denik-firma {
    font-size: 1.2rem;
    font-weight: 600;
    color: #f1f5f9;
}

.denik-instruktor {
    font-size: 0.95rem;
    color: #cbd5e1;
}

.badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.denik-status {
    padding: 6px 14px;
    border-radius: 9999px;
    font-size: 0.85rem;
    font-weight: 600;
    color: #fff;
    background: var(--primary); /* modrý badge */
    height: fit-content;
}

.denik-status.closed {
    background: #6b7280; /* šedý badge */
}

.denik-extra {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;
    font-size: 0.9rem;
}

.denik-extra span {
    display: flex;
    align-items: center;
    gap: 4px;
    background: #111827; /* tmavší panel */
    padding: 8px;
    border-radius: var(--radius);
    color: #d1d5db;
    font-weight: 500;
}

.denik-extra b {
    color: var(--primary);
    font-weight: 600;
}

@media (max-width: 600px) {
    .denik-extra {
    grid-template-columns: 1fr;
    }
}