<div class="card">
    <div class="card-top"></div>
    <div class="card-header mb">
        <h2>
            {{ schoolingo.locale.getLocale('sidebar/tools/settings') }}
        </h2>
    </div>
    <div class="card-body mb-2">
        <div class="wrapper">
            <div class="sidebar active">
                @for (section of getSidebar(); track $index) {
                    <ul>
                        @if (section[0] != "") {
                            <label>{{ schoolingo.locale.getLocale(section[0]) }}</label>
                        }
                        @for (item of section[1]; track $index) {
                            <li [ngClass]="{ active: selectedItem == section[0] + ':' + item.label }" (click)="selectedItem = section[0] + ':' + item.label">
                                <div class="item">
                                    <div class="item-label">{{ schoolingo.locale.getLocale(item.label) }}</div>
                                    @if (item.active != undefined) {
                                        <div [ngClass]="['dropdown-icon', item?.active ? 'active' : '']">
                                            <i [ngClass]="['ti', 'ti-' + (item?.active ? 'check' : 'x')]"></i>
                                        </div>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                }
            </div>
            <div class="main-content">
                <h2>{{ schoolingo.locale.getLocale(selectedItem.split(':')[1]) }}</h2>

                <!-- <schoolingo-form [inputs]="inputs" [buttons]="[]" [form]="'NUMAX JE HOMOKLÁDA OBECNÁ'"></schoolingo-form> -->
                @for (item of items[selectedItem.split(':')[0]][selectedItem.split(':')[1]]; track $index) {

                    @switch(item.type) {
                        @case("checkbox") {
                            <div class="content-item mb">
                                <div class="left">
                                    <p>{{ schoolingo.locale.getLocale(item.label) }}</p>
                                    @if (item.description) {
                                        <p>{{ schoolingo.locale.getLocale(item.description) }}</p>
                                    }
                                </div>
                                <div class="right">
                                    <div [ngClass]="{checkbox: true}">
                                        <div class="knob"></div>
                                        <div class="btn-bg"></div>
                                    </div>
                                </div>
                            </div>
                        }
                        @case("input") {
                            <div class="content-item column mb">
                                <div class="top">
                                    <p>{{ schoolingo.locale.getLocale(item.label) }}</p>
                                    @if (item.description) {
                                        <p>{{ schoolingo.locale.getLocale(item.description) }}</p>
                                    }
                                </div>
                                <div class="bottom">
                                    <input type="text" [readOnly]="item.readOnly ?? false" [value]="schoolingo.auth.getValue(item.value)" />
                                </div>
                            </div>
                        }
                        @case("note") {
                            <div class="content-item column mb">
                                <div class="top">
                                    <p>{{ schoolingo.locale.getLocale(item.label) }}</p>
                                    @if (item.description) {
                                        <p>{{ schoolingo.locale.getLocale(item.description) }}</p>
                                    }
                                </div>
                            </div>
                        }
                    }
                    <!-- <div class="content-item">
                        <div class="left">
                            <p>{{ schoolingo.locale.getLocale(item.label) }}</p>
                            @if (item.description) {
                                <p>{{ schoolingo.locale.getLocale(item.description) }}</p>
                            }
                        </div>
                        <div class="right">
                            @switch(item.type) {
                                @case("checkbox") {
                                    <div [ngClass]="{checkbox: true}">
                                        <div class="knob"></div>
                                        <div class="btn-bg"></div>
                                    </div>
                                }
                                @default {
                                    {{ item.type }}
                                }
                            }
                        </div>
                    </div> -->

                }

            </div>
        </div>
    </div>
</div>