.tabs {
    display: flex;
    position: relative;
    border-radius: 15px;
    background-color: var(--background-active);
    overflow: hidden;
}

.tabs.no-bottom-border {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tabs .options {
    display: flex;
}

.tabs > .options > .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    padding: 6px 12px;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    z-index: 3!important;
    color: var(--color-darker);
    transition: all 0.15s ease-in;
}

.tabs > .options > .tab:hover {
    background-color: var(--background-hover);
}

.tabs > .options > .tab.active {
    color: #fff;
}

.tabs > .options > .tab:first-child {
    border-top-left-radius: calc(2 * var(--radius));
    border-bottom-left-radius: calc(2 * var(--radius));
}

.tabs > .options > .tab:last-child {
    border-top-right-radius: calc(2 * var(--radius));
    border-bottom-right-radius: calc(2 * var(--radius));
}

.tabs > .glider {
    position: absolute;
    display: flex;
    width: 100px;
    height: 30px;
    background-color: var(--primary);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s all ease-out;
}