.items {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
}


.alert {
    margin: 0!important;
    clip-path: none!important;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

table tr {
    transition: all .3s;
    cursor: pointer;
}

table tr:hover {
    background-color: var(--background-hover);
}

table th {
    color: var(--color-darker);
}

input {
    margin: 0;
    flex: 1;
}

.search {
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    margin-left: 1rem;
    height: 2.25rem;
}