th, td {
    padding: 8px;
    width: 50%;
}

table {
    margin: 1rem auto 1rem;
    width: 75%;
}


table th {
    text-align: left;
    color: var(--primary-color);
    padding: 8px 16px
}
table, tr, td {
    border: 1px solid rgba(0,0,0,0.10);
    border-collapse: collapse;
}

table tr:nth-child(2n) {
    background-color: #f5f7f7;
}

table tr:hover {
    background-color: hsl(228 6% 32.5%/0.08);
}