<div class="box">
    <header>
        <h2>{{ locale.getLocale('sidebar/teach/subjects') }}</h2>
        <div class="flex-items"></div>
    </header>
    <div class="box-content">
        <table>
            <thead>
                <th>{{ locale.getLocale('subject') }}</th>
                <th>{{ locale.getLocale('roles/teacher') }}</th>
            </thead>
            <tbody>
                <tr *ngFor="let subject of subjects">
                    <td>{{ schoolingo.getSubject(subject[0])?.[2] }}</td>
                    <td>
                        <p *ngFor="let teacher of subject[1]">{{ schoolingo.getTeacher(teacher)?.lastName + ' ' + schoolingo.getTeacher(teacher)?.firstName }} </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>