table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    padding: 8px 16px;
    text-align: left;
}

table tr {
    transition: all .3s;
    cursor: pointer;
    border-top: 1px solid var(--border-color);

}

table tr:hover { background-color: var(--background-hover) }
table tr.active {
    background-color: var(--primary);
    color: #fff;
}

table th { color: var(--color-darker) }

.items > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom { padding: 8px 16px }

.bottom > div {
    display: flex;
    flex-direction: row;
}

.page {
    background-color: var(--input-background);
    cursor: pointer;
    width: 32px;
    height: 32px;
    transition: all .3s;
}

.page:hover { background-color: var(--background-hover) }

.page.active { background-color: var(--primary);color:#fff; }

.disabled { background-color: var(--background-basic) }

.alert { width: 100% }