<div class="items">
    @if (getData().length > 0) {
        <table>
            <thead>
                @for (item of head; track $index) {
                    @if (!options.hideColumns?.includes($index)) {
                        <th [title]="options.titles?.[$index] || ''">{{ (options.disableLocales?.[$index] === true) ? item : locale.getLocale(item) }}</th>
                    }
                }
            </thead>
            <tbody>
                @for (item of getData(); track $index) {
                    <tr [ngClass]="{ active: selectedRow == $index }" (click)="clickEvent($index)">
                        @for (info of item; track index;let index = $index) {
    
                            @if (!info.id && info.id !== null && !options.hideColumns?.includes(getColumnId(index))) {
                                @if (info.isLocale) {
                                    <td>{{ ((info.localePrefix) ? info.localePrefix : '') + locale.getLocale(info.value) +  ((info.localeSuffix) ? info.localeSuffix : '')}}</td>
                                } @else {
                                    <td>{{ info.value }}</td>
                                }
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    } @else {
        <div class="alerts">
            <div class="alert red">
                {{ locale.getLocale('components/datalist/noData') }}
            </div>
        </div>
    }
    <div class="bottom">
        <div class="left">
            @if (!options.hideInfo) {
                <p>Zobrazeno {{ getData().length }} z {{ this.data.getValue().length }} (celkem {{ (options.noDynamic ? data.getValue().length : this.metadata.rows) }}), stránka {{ page }} z {{ getMaxPages() }}</p>
            }
        </div>
        <div class="right">
            @if (!options.hidePagination && getMaxPages() > 1) {
                <div [ngClass]="{page: true, center: true, previous: true, disabled: page == 1}" (click)="goPage(page - 1)">
                    <i class="ti ti-chevron-left"></i>
                </div>
                @for (_ of [].constructor(getMaxPages()); track index;let index = $index;) {
                    <div [ngClass]="{page: true, center: true, active: page === index + 1}" [id]="(page == (index + 1)) ? 'currentPage' : ''" [attr.contenteditable]="(page == (index + 1)) ? isEditingPage : false" (click)="goPage(index + 1)" (keydown.enter)="savePage()">{{ index + 1 }}</div>
                }
                <div [ngClass]="{page: true, center: true, next: true, disabled: page == getMaxPages() }" (click)="goPage(page + 1)">
                    <i class="ti ti-chevron-right"></i>
                </div>
            }
        </div>
    </div>    
</div>