<div class="items">
    <table>
        <thead>
            @for (item of head; track $index) {
                @if (!options.hideColumns?.includes($index)) {
                    <th [title]="options.titles?.[$index] || ''">
                        {{ (options.disableLocales?.[$index] === true) ? item : l.s(item) }}
                    </th>
                }
            }
        </thead>
        <tbody>
            @for (item of getData(); track $index) {
                <tr [ngClass]="{ active: selectedRow == $index }" (click)="clickEvent($index)">
                    @for (info of item; track index;let index = $index) {

                        @if (!info.id && info.id !== null && !options.hideColumns?.includes(getColumnId(index))) {
                            @if (info.isLocale) {
                                <td>
                                    {{ ((info.localePrefix) ? info.localePrefix : '') + l.s(info.value) +  ((info.localeSuffix) ? info.localeSuffix : '') }}
                                </td>
                            } @else if (info.value) {
                                <td>{{ info.value }}</td>
                            } @else if (info.html) {
                                <td [innerHTML]="formatHtmlText(info?.html)"></td>
                            }
                        }
                    }
                </tr>
            } @empty {
                <tr style="pointer-events: none;">
                    <td [attr.colspan]="head.length - (options.hideColumns ? options.hideColumns.length : 0)">
                        <div class="alerts">
                            <div class="alert alert--danger">
                                {{ l.s('components.datalist.no_data') }}
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="bottom">
        <div class="left">
            @if (!options.hideInfo && this.data.getValue().length) {
                <p>
                    {{ l.s('components.datalist.info', {
                        start: currentStart(),
                        end: currentEnd(),
                        rows: totalRows(),
                        page: currentPage(),
                        max_pages: getMaxPages()
                    }) }}
                </p>
            }
        </div>
        <div class="right">
            @if (!options.hidePagination || getMaxPages() > 1 && this.data.getValue().length) {
                <div class="page center previous" [class.disabled]="page.getValue() == 1" (click)="goPage(page.getValue() - 1)">
                    <i-tabler name="chevron-left" style="width:18px;height:18px;"></i-tabler>
                </div>
                @for (_ of getPageList(); track index;let index = $index;) {
                    <div class="page center" [class.active]="page.getValue() === _" [id]="(page.getValue() == _) ? 'currentPage' : ''" (click)="goPage(_)">
                        {{ _ }}
                    </div>
                }
                <div class="page center next" [class.disabled]="page.getValue() == getMaxPages()" (click)="goPage(page.getValue() + 1)">
                    <i-tabler name="chevron-right" style="width:18px;height:18px;"></i-tabler>
                </div>
            }
        </div>
    </div>    
</div>