table {
    border-collapse: collapse;
    border: 1px solid var(--border-color);
    width: 100%;
}

table th, table td {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

table tr {
    transition: all .3s;
    cursor: pointer;
}

table tr:hover {
    background-color: var(--background-hover);
}

table th {
    color: var(--color-darker);
}

.items > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search {
    padding: 2px;
}

.bottom {
    padding: 8px 16px;
}

.bottom > div {
    display: flex;
    flex-direction: row;
}

.page {
    background-color: var(--input-background);
    cursor: pointer;
    width: 32px;
    height: 32px;
    transition: all .3s;
}

.page:hover {
    background-color: var(--background-hover);
}

.page.active {
    background-color: var(--primary);
}

.disabled {
    background-color: var(--background-basic);
}