.wrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background-color: var(--background-header);
    min-height: 100vh;
    overflow: hidden;
}

/** Navbar */
.wrapper > .navbar {
    height: 64px;
    width: 100%;
    box-shadow: var(--navbar-shadow);
    background-color: var(--background-body);
    color: var(--color-darker);
    flex-shrink: 0;
    display: flex;
    overflow-y: visible;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
    z-index: 15;
}

.wrapper > .navbar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* Navbar Left */
.wrapper > .navbar > .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper > .navbar > .left > .title {
    width: 250px;
    height: 100%;
    text-align: center;
    padding: 0 44px;
}

.wrapper > .navbar > .left > .title .application {
    font-size: 22px;
}

.wrapper > .navbar > .left > .title .school {
    font-size: 14px;
    color: var(--color);
    opacity: .7;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Navbar right */
.wrapper > .navbar > .right {
    padding: 0 8px;
}

.wrapper > .navbar .options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper > .navbar .user {
    position: relative;
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    color: var(--color);
}

.wrapper > .navbar .user .avatar {
    font-size: 1.2rem;
    line-height: 1;
    isolation: isolate;
    position: relative;
    color: inherit;
    height: 2em;
    min-width: 2em;
    width: 2em;
    margin-right: 1rem;
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wrapper > .navbar .user .avatar.golden {
    --color: #FECE57;
    background-image: url("data:image/svg+xml;utf8,%3Csvg color='inherit' min-width='1.2em' width='1.2em' height='1.2em' viewBox='0 0 95 104' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M86.2679 82.8625C90.9134 80.1843 93.7759 75.2298 93.7759 69.8676V34.0741C93.7759 28.7118 90.9134 23.7574 86.2679 21.0791L55.1959 3.16509C50.5589 0.49174 44.8488 0.49174 40.2119 3.16509L9.13982 21.0791C4.49431 23.7574 1.63184 28.7118 1.63184 34.0741V69.8675C1.63184 75.2298 4.4943 80.1843 9.13982 82.8625L40.2119 100.777C44.8488 103.45 50.5589 103.45 55.1959 100.777L86.2679 82.8625Z' stroke='url(%23paint0_linear_2792_20740)' stroke-width='5'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2792_20740' x1='47.7039' y1='-4.13927' x2='47.7039' y2='121.419' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FECE57' stop-opacity='0'/%3E%3Cstop offset='0.505616' stop-color='%23FECE57'/%3E%3Cstop offset='1' stop-color='%23F8D378'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.wrapper > .navbar .user .avatar .hexagon {
    width: 75%;
    height: 75%;
    overflow: hidden;
    clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);
}

.wrapper > .navbar .user .avatar .level {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 4px);
    font-size: 14px;
    color: #FECE57;
}

.wrapper > .navbar .user .xp-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--background-header);
}

.wrapper > .navbar .user .xp-bar .progress {
    height: 100%;
    background-color: var(--primary);
}

.wrapper > .navbar .user .info {
    display: flex;
    flex-direction: column;
}

.wrapper > .navbar .user .name {
    font-weight: 600;
    text-wrap-mode: nowrap;
    text-overflow: ellipsis;
}

.wrapper > .navbar .user .role {
    font-size: 14px;
    color: var(--color);
    opacity: .7;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    max-width: inherit;
    text-align: right;
}

.wrapper > .navbar .btn,
.wrapper .user {
    padding: 6px 12px;
    background-color: var(--background-tertiary);
    color: var(--color);
    margin: 0 8px;
}

/* Content */
.wrapper > .content {
    max-height: calc(100vh - 48px);
    height: calc(100vh - 48px);
    display: flex;
    flex-wrap:nowrap;
    width: 100%;
}

/* Sidebar */
.show-sidebar {
    display: none!important;
}

.wrapper .content .main-content {
    width: 100%;
    flex-shrink: 1;
    transition: all .3s;
    position: relative;
    z-index: 1;
    overflow-y: auto;
    background-color: var(--background-header);
}

.wrapper .content .main-content .alerts,
.wrapper .content .main-content .alert {
    position: relative;
    width: 100%;
}

@media (width <= 1300px) {
    .wrapper .content .sidebar {
        transform: translateX(-100%);
        flex-shrink: 0;
    }

    .wrapper .content .sidebar.active {
        transform: translateX(0);
        flex-shrink: 0;
    }

    .wrapper .content .main-content {
        flex-shrink: 0;
        transform: translateX(-250px);
    }

    .wrapper .content .sidebar.active + .main-content::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,36%);
        z-index: 99999999;
        pointer-events: none;
        user-select: none;
    }

    .show-sidebar {
        display: flex!important;
    }
}

.wrapper .main-content {
    width: 100%;
    flex-shrink: 1;
    padding: 1rem;
    transition: all .3s;
    position: relative;
    z-index: 1;
    overflow-y: auto;
    background-color: var(--background-header);
}