/* MAIN */

:host {
    --body: #0f0f15;
    --dark: #191b25;
    color: #000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}


/* TOP ELEMENT */

.wrapper .header {

    height: 48px;
    width: 100%;
    box-shadow: rgba(6, 6, 7, 0.1) 0px 1px 0px 0px, rgba(2, 2, 2, 0.025) 0px 1.5px 0px 0px, rgba(6, 6, 7, 0.025) 0px 2px 0px 0px;
    border-bottom: 1px solid var(--dark-border);
    flex-shrink: 0;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;

}

.wrapper .header > .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.show-sidebar {
    display: none;
    width: 36px;
    height: 36px;
    font-size: 22px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
}

.show-sidebar:active {
    background-color: hsl(228 6% 32.5%/0.08);
}

.wrapper .header .title {
    width: 250px;
    height: 100%;
    text-align: center;
}

.wrapper .header .title .application {
    font-size: 22px;
    font-weight: 600;
}

.wrapper .header .title .school {
    font-size: 14px;
    color: rgba(0,0,0,.64)
}

.wrapper .header .user {
    width: 250px;
    height: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.wrapper .header .user .role {
    font-size: 14px;
    color: #959da6;
}

/* CONTENT ELEMENT */

.wrapper .content {
    max-height: calc(100vh - 48px);
    height: 100%;
    display: flex;
    flex-wrap:nowrap;
    width: 100%;
}


/* Sidebar */
.wrapper .content .sidebar {
    width: 250px;
    max-width: 250px;
    transition: all .3s;
    position: relative;
    display: flex;
    color: #252525;
    flex-direction: column;
    z-index: 5;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-base-color: #fff;
    flex-shrink: 0;
    box-shadow: rgba(6, 6, 7, 0.1) 1px 0px 0px 0px, rgba(2, 2, 2, 0.025) 1.5px 0px 0px 0px, rgba(6, 6, 7, 0.025) 2px 0px 0px 0px;
}

.wrapper .content .sidebar > ul {
    padding: 8px;
}

.wrapper .content .sidebar ul li {
    border-radius: 8px;
    color: #252525;
    font-weight: 400;
}

.wrapper .content .sidebar .item {
    user-select: none;
}

.wrapper .content .sidebar .dropdown-child {
    padding-top: 1px;
    width: 100%;
    background-color: #fff;
}

.wrapper .content .sidebar .dropdown-child ul {
    padding-left: 32px;
}

.wrapper .content .sidebar ul li.active {
    color: #050505!important;
    font-weight: 500;
}

.wrapper .content .sidebar .dropdown-child ul li::before {
    content: '';
    position: absolute;
    left: -2px;
    transform: translateX(-100%);
    top: 0;
    width: 12px;
    height: 50%;
    border-bottom-left-radius: 6px;
    border: 2px solid #eee;
    border-top: none;
    border-right: none;
}

.wrapper .content .sidebar .dropdown-child ul li:not(:first-child)::before {
    height: 125%;
    transform: translateX(-100%) translateY(-60%);
}


.wrapper .content .main-content {
    width: 100%;
    flex-shrink: 1;
    transition: all .3s;
    position: relative;
}

@media (max-width: 1300px) {
    .wrapper .content .sidebar {
        transform: translateX(-100%);
        flex-shrink: 0;
    }

    .wrapper .content .sidebar.active {
        transform: translateX(0px);
        flex-shrink: 0;
    }

    .wrapper .content .main-content {
        flex-shrink: 0;
        transform: translateX(-250px);
    }

    .wrapper .content .sidebar.active + .main-content::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.36);
        z-index: 99999999;
        pointer-events: none;
        user-select: none;
    }

    .show-sidebar {
        display: flex!important;
    }

}

@media (max-width: 560px) {
    .wrapper .header .title, .wrapper .header .user {
        width: 150px;
    }

    .wrapper .header .title .application {
        font-size: 18px;
        font-weight: 500;
    }

    .wrapper .header .title .school {
        font-size: 12px;
    }

}

@media print {
    .wrapper, .wrapper .content, .wrapper > div > div {
        visibility: hidden;
        height: fit-content;
        width: fit-content;
        page-break-before: avoid;
    }
    .wrapper .content .sidebar, .wrapper .header, .alert { display: none!important;}
    .main-content { position: absolute;top: 0;left: 0;right: 0;width: fit-content;height: fit-content;visibility: hidden;page-break-after: avoid;transform: translate(0px, 0px)!important; }
}