.ab-absence { --absence-color: var(--primary); }
.ab-excused { --absence-color: hsl(94, 54%, 38%); }
.ab-unexcused { --absence-color: hsl(356, 87%, 41%); }
.ab-late { --absence-color: hsl(25, 100%, 47%); }
.ab-non_count { --absence-color: hsl(71, 69%, 45%); }
.ab-early { --absence-color: hsl(36, 100%, 47%); }
.ab-distance { --absence-color: hsl(56, 69%, 45%); }

.row {
    display: flex;
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
}

.card {
    box-shadow: rgba(2, 2, 2, 0.2) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--dark-border);
    margin: 2rem auto;
    background-color: #fff;
}

.card-header {
    padding: 1rem 2rem 0;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-align: center;
    position: relative;
}

.card-content {
    padding: 0rem 1rem 1rem;
}

.card-box {
    border: 1px solid #000;
    min-height: 48px;
    margin-bottom: 1rem;
}

.box, .module {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15), 0 6px 12px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--background-header);
    color: var(--color);
}

.box {
    margin: 2rem auto;
    width: 1250px;
}

.module {
    margin: 2rem;
    width: max(550px);
    border-radius: 16px;
}

  
.alert {
    width: 100%;
    min-height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
  
.alert.alert-error {
    background-image: linear-gradient(330deg, #ED213A 20%, var(--error) 70%);
    background-color: var(--error);
    color: #fff;
}

.alert.alert-success {
    background-image: linear-gradient(330deg, var(--green) 20%, var(--green-darker) 70%);
    background-color: var(--green-darker);
    color: #fff;
}

.alert > .btn {
    margin-left: 10px;
    padding: 0px 6px;
    height: 24px;
    line-height: 22px;
    user-select: none;
    border: 1px solid #fff;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    transition: all .3s;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.alert > .btn:hover {
    background-color: #fff;
    color: #C4071E;
}

.box header, .module header {
    padding: 12px 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box header {
    height: 78px;
}


.box header h2, .module header h2 {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.27px;
}

.box header h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100% + 28px);
    height: 4px;
    border-radius: 99rem;
    background-image: var(--primary-gradient);
    transform: translate(-50%, 8px);
}

.box header .flex-items, .module header .flex-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box header .flex-items > div, .module header .flex-items > div {
    margin: 0 4px;
}

.box .box-content {
    padding-bottom: 12px;
}

h2.small {
    letter-spacing: -.025em;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0;
}

.mt {
    margin-top: 1rem!important;
}


/* Unordered list */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 4px 0;
    cursor: pointer;
    position: relative;
}

ul li .item {
    padding: 8px 12px;
}

ul li:hover  {
    background-color: var(--background-hover);
}

ul li.active {
    background-color: var(--background-active);
}

ul li .item.btn {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    cursor: pointer;
}

div:not(.alert) > .btn {
    font-size: 15px;
    margin-top: 0;
    padding: 8px 16px;
    background-color: var(--primary);
    background-image: var(--primary-gradient);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    min-width: max-content;
}

.btn.disabled, .submit.disabled {
    opacity: .7;
    cursor: not-allowed;
    pointer-events: none;
}

.btn.full-width {
    width: 100%;
    text-align: center;
    margin: 1rem 2rem;
}

@media (max-width: 1050px) {
    .box {
        width: max(750px);
    }

    .no-small {
        display: none;
    }
}

@media (max-width: 750px) {
    .box {
        width: max(550px);
    }
    .no-realy-small {
        display: none;
    }
}

@media (max-width: 560px) {
    .box {
        width: max(400px);
    }

    .box .alert .btn {
        height: min-content;
        text-align: center;
    }
}

@media print {
    .box {
        box-shadow: none;
        width: 100% max(1250px);
        max-width: 100%;
    }
    .tab {
        display: none;
    }
}


.section-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem 0;
}

.section-title .title-bar {
    position: absolute;
    width: 100%;
    height: 3px;
    z-index: 2;
    background-color: var(--primary);
}

.section-title .title {
    background-color: var(--primary);
    color: #fff;
    z-index: 3;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    padding: 4px 12px;
    user-select: none;
    position: relative;
}

.section-title .title::before,
.section-title .title::after {
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    width: 0; 
    height: 0; 
    top: 0;
    content: '';
    position: absolute;
}

.section-title .title::before {
    left: 0px;
    transform: translateX(-100%);
    border-right: 16px solid var(--primary);
}

.section-title .title::after {
    right: 0px;
    transform: translateX(100%);
    border-left: 16px solid var(--primary);
}


.select-column {
    display: flex;
    flex-direction: column;
}

.select-row {
    display: flex;
    flex-direction: row;
}

.select-space-between {
    justify-content: space-between;
}

.select > .select-option {
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: left;
    padding: .5rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    margin: 4px 0;
    display: flex;
    transition: all .3s;
    flex-direction: row;
    cursor: pointer;
}

.select > .select-option.only-value {
    cursor: default!important;
}

.select > .select-option.active {
    background-color: var(--background-active);
}

.select > .select-option > .left {
    display: flex;
    align-items: center;
}

.select >.select-option .smallText {
    font-size: .75rem;
    line-height: 1rem;
    opacity: .7;
}

.fastactions-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fastactions-row .action {
    text-align: center;
    margin: 0 4px;
    padding: 4px 16px;
    border-radius: 24px;
    line-height: 18px;
    cursor: pointer;
    font-size: 14px;
    transition: all .3s;
    border: 1px solid var(--border-color);
}

.fastactions-row .action.disabled {
    cursor: not-allowed;
    opacity: .65;
}

.fastactions-row .action:hover { background-color: var(--background-hover) }
.fastactions-row .action.active { background-color: var(--background-active) }