.row {
    display: flex;
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group input, .form-group .select {
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #323232;
    width: 100%;
    color: #000;
    background-color: #fff;
}

.form-group input::placeholder {
    color:#000;
}

.form-group input:focus {
    outline: none;
    border-color: var(--theme-color-dark);
    box-shadow: 0px 0px 8px var(--theme-color-light);
}

.form-group .select {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}


.form-group .select .options {
    display: none;
    flex-direction: column;
    border-top: 1px solid #323232;
    margin-top: 8px;
    padding-top: 8px;
}

.form-group .select .options.active {
    display: flex;
}

.form-group .select .options .option {
    margin: 4px 0;
    padding: 8px 16px;
    border-radius: 24px;
}

.form-group .select .options .option:hover {
    background-color: hsl(228 6% 32.5%/0.16);
}

.card {
    box-shadow: rgba(2, 2, 2, 0.2) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--dark-border);
    margin: 2rem auto;
    background-color: #fff;
}

.card-header {
    padding: 1rem 2rem 0;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-align: center;
    position: relative;
}

.card-content {
    padding: 0rem 1rem 1rem;
}

input[type='submit'] {
    background-color: var(--theme-color-dark)!important;
    padding: 4px 8px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.card-box {
    border: 1px solid #000;
    min-height: 48px;
    margin-bottom: 1rem;
}

:host {
    --primary-color: #0277bd;
    --secondary-color: #e6eef9;
    --secondary-color-hover: hsla(215, 61%, 94%, 0.48);
}

.box, .module {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15), 0 6px 12px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.box {
    margin: 2rem auto;
    width: max(1050px);
}

.module {
    margin: 2rem;
    width: max(550px);
    border-radius: 16px;
}

  
.alert {
    width: 100%;
    min-height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
  
.alert.alert-error {
    background-image: linear-gradient(330deg, #ED213A 20%, #93291E 70%);
    background-color: #C4071E;
    color: #fff;
}

.alert .btn {
    margin-left: 10px;
    padding: 0px 6px;
    height: 24px;
    line-height: 22px;
    user-select: none;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.alert .btn:hover {
    background-color: #fff;
    color: #C4071E;
}

.box header, .module header {
    padding: 12px 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box header {
    height: 78px;
}


.box header h2, .module header h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.27px;
}

.box header .flex-items, .module header .flex-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box header .flex-items > div, .module header .flex-items > div {
    margin: 0 4px;
}

.box .box-content {
    padding-bottom: 12px;
}


/* Unordered list */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 4px 0;
    cursor: pointer;
}

ul li .item {
    padding: 8px 24px;
}

ul li:hover  {
    background-color: hsl(223 5.8% 52.9%/0.08);
}

ul li.active {
    background-color: hsl(223 5.8% 52.9%/0.16);
}

ul li .item.btn {
    background-color: var(--theme-color-dark);
    color: #fff;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .box {
        width: max(750px);
    }

    .no-small {
        display: none;
    }
}

@media (max-width: 750px) {
    .box {
        width: max(550px);
    }
    .no-realy-small {
        display: none;
    }
}

@media (max-width: 560px) {
    .box {
        width: max(400px);
    }

    .box .alert .btn {
        height: min-content;
        text-align: center;
    }
}

@media print {
    .box {
        box-shadow: none;
        width: 100% max(100%);
    }
    .tab {
        display: none;
    }
}