<div class="wrapper" (click)="dropdown = '';context_menu.hideContextMenu()">
    <div class="navbar">
        <div class="left">
            <div class="title">
                <div class="application APP_Logo">
                    {{ App.APP_NAME }}
                </div>
                <div class="school" [title]="school.config.getValue()?.shortName">
                    {{ school.config.getValue()?.shortName }}
                </div>
            </div>
            <div class="options">
                <div class="item-btn show-sidebar" (click)="$event.stopPropagation();sidebar.sidebarToggled = !sidebar.sidebarToggled">
                    <div class="icon">
                        <i-tabler name="menu-2"></i-tabler>
                    </div>
                </div>
                <!-- <div class="item-btn" [routerLink]="['', 'teach', 'classbook']" [routerLinkActive]="'active'">
                    <div class="icon">
                        <i-tabler name="chalkboard"></i-tabler>
                    </div>
                    <div class="name">
                        {{ l.s('sidebar/teach/classbook') }}
                    </div>
                </div>

                <div class="item-btn" [routerLink]="['', 'marks', 'intermrecord']" [routerLinkActive]="'active'">
                    <div class="icon">
                        <i-tabler name="time-duration-5"></i-tabler>
                    </div>
                    <div class="name">
                        {{ l.s('sidebar/marks/intermRecord') }}
                    </div>
                </div> -->
            </div>
        </div>
        <div class="right">
            <div class="options">
                <div class="item-btn" (click)="$event.stopPropagation();dropdown = (dropdown == 'add') ? '' : 'add'">
                    <div class="icon">
                        <i-tabler name="plus"></i-tabler>
                    </div>
                    <div class="dropdown" style="min-width: 225px;" [hidden]="dropdown !== 'add'" (click)="$event.stopPropagation()">
                        <ul>
                            @for (item of addDropdown; track $index) {
                                <li [routerLink]="item.url" [ngClass]="[item.type ? item.type : '']" (click)="dropdown = '';item?.action()" [routerLinkActive]="'active'">
                                    <div class="item">
                                        <div class="row">
                                            @if (item.icon) {
                                                <div class="icon">
                                                    <i-tabler [name]="item.icon"></i-tabler>
                                                </div>
                                            }
                                            <div class="item-label">
                                                {{ l.s(item.item) }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                @if (u.getUser().children.length) {
                <div class="item-btn" (click)="$event.stopPropagation();dropdown = (dropdown == 'child') ? '' : 'child'">
                    <div class="icon">
                        <i-tabler name="users"></i-tabler>
                    </div>
                    <div class="dropdown" style="min-width: 225px;" [hidden]="dropdown !== 'child'" (click)="$event.stopPropagation()">
                        <label style="user-select: none;padding: .75rem 1rem .25rem;margin: 0;">
                            {{ l.s('dropdown.child.label') }}
                        </label>
                        <ul>
                            @for (item of u.getUser().children; track $index) {
                                <li (click)="dropdown = '';u.selectedChild.next($index)">
                                    <div class="item">
                                        <div class="row">
                                            <div class="icon">
                                                @if (item.gender === 0) {
                                                    <i-tabler style="color: #90D5FF;" name="gender-male"></i-tabler>
                                                } @else if (item.gender == 1) {
                                                    <i-tabler style="color: #FFC0CB;" name="gender-female"></i-tabler>
                                                }
                                            </div>
                                            <div class="item-label">
                                                {{ item.firstName + ' ' + item.lastName }}
                                            </div>
                                        </div>
                                        @if (u.selectedChild.getValue() == $index) {
                                            <i-tabler name="check" style="margin-left:.5rem;color: var(--primary)"></i-tabler>
                                        }
                                    </div>
                                </li>
                            } @empty {
                                <li class="danger disabled">
                                    <div class="item">
                                        <div class="row">
                                            <div class="icon">
                                                <i-tabler name="x"></i-tabler>
                                            </div>
                                            <div class="item-label">
                                                {{ l.s("dropdown.child.empty") }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                }

            </div>
            <div class="user" (click)="$event.stopPropagation();dropdown = (dropdown == 'user') ? '' : 'user'">
                @if (App.ALLOW_AVATARS) {
                    <div class="avatar golden center">
                        <div class="hexagon">
                            <img [src]="u.getAvatar()" alt="Avatar">
                        </div>
                        @if (App.ALLOW_LEVEL_SYSTEM) {
                            <div class="level">
                                {{ u.getUser().level }}
                            </div>
                        }
                    </div>
                }

                @if (App.ALLOW_LEVEL_SYSTEM) {
                    <div class="xp-bar">
                        <div class="progress" [ngStyle]="{width: (u.getUser().xp / u.getUser().requiredXP * 100) + '%'}"></div>
                    </div>
                }

                <div class="info">
                    <p class="name">
                        {{ u.getUser().fullName }}
                    </p>
                    <p class="role">
                        {{ getUserRole() }}
                    </p>
                </div>

                <div class="dropdown" [hidden]="dropdown !== 'user'" (click)="$event.stopPropagation()">
                    <ul>
                        @for (item of userDropdown; track $index) {
                            <li [routerLink]="item.url" [ngClass]="[item.type ? item.type : '']" (click)="dropdown='';item?.action();" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: false, queryParams: 'ignored' }">
                                <div class="item">
                                        <div class="row">
                                            @if (item.icon) {
                                                <div class="icon">
                                                    <i-tabler [name]="item.icon"></i-tabler>
                                                </div>
                                            }
                                            <div class="item-label">
                                                {{ l.s(item.item) }}
                                            </div>
                                        </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div [ngClass]="{sidebar: true, active: sidebar.sidebarToggled}">
            @for (section of sidebar.data; track $index) {
                    <ul>
                        @for (item of section.items; track $index) {
                            <li [routerLink]="item.url" (click)="item.url ? sidebar.sidebarToggled = false : ''"  [routerLinkActive]="'active'" [ngClass]="{ opened: item.children && item.children.length > 0 && sidebar.isToggled($index) }" [routerLinkActiveOptions]="{ exact: true, queryParams: 'ignored'}" (click)="sidebar.toggleDropdown($index)">
                                <div class="item">
                                    <div class="item-label">
                                        {{ l.s(item.item) }}
                                    </div>
                                    <div class="right">
                                        <!-- <div class="badge blue-info">
                                            {{ "NEW" }}
                                        </div> -->
                                        @if (item.children && item.children.length > 0) {
                                            <div class="dropdown-icon" [ngStyle]="{ transform: sidebar.toggledDropdowns.includes($index) ? 'rotate(180deg)' : '' }">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                                                    <path fill="currentColor" d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
                                                </svg>
                                            </div>
                                        }
                                    </div>
                                </div>
                                @if (item.children && item.children.length > 0) {
                                    <div class="dropdown-child" [ngStyle]="{height: sidebar.isToggled($index) ? 'auto' : '0px'}" (click)="$event.stopPropagation()">
                                        <ul>
                                            @for (child of item.children; track $index) {
                                                <li (click)="sidebar.sidebarToggled = false" [routerLink]="child.url" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true, queryParams: 'ignored'}" >
                                                    <div class="item">
                                                        <div class="item-label">
                                                            {{ l.s(child.item) }}
                                                        </div>

                                                        <!-- @if (getSidebarBadge(child) != "") {
                                                            <div class="badge blue-info">
                                                                {{ getSidebarBadge(child) }}
                                                            </div>
                                                        } -->
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </li>
                        }
                    </ul>
                }
        </div>
        <div class="main-content" (click)="sidebarToggled = false;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div id="context-menu" [style.display]="context_menu.isVisibleContextMenu() ? 'flex' : 'none'" [style.top.px]="context_menu.getPosition().y" [style.left.px]="context_menu.getPosition().x">
    @for(item of context_menu.getItems();track $index) {
        @if (item.text != undefined) {
            <div class="menu-item" [class.danger]="item.color == 'danger'" (click)="item?.action()">
                {{ l.s(item.text) }}
            </div>
        }
        @if (item.type == 'split') {
            <div class="menu-separator"></div>
        }
    }
</div>