.form-group {
    padding: 2px;
}

.badge {
    padding: .5rem 1rem;
}

.items {
    display: flex;
    flex-direction: column;
}

.items .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.items .item:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.items .item > div {
    width: 50%;
}