@switch (page) {
    @case("list") {
        <div class="card">
            <div class="card-top"></div>
            <div class="card-header mb">
                <div class="left">
                    <h2>
                        {{ schoolingo.locale.getLocale('sidebar/fleetVehicles/vehicles') }}
                    </h2>
                </div>
                <div class="flex-items"></div>
            </div>
            <div class="card-body">
                <div class="form-group mb">
                    <input type="text" name="search" [formControl]="search" [placeholder]="schoolingo.locale.getLocale('fleetVehicles/searchPlaceholder')" />
                </div>
        
                <schoolingo-datalist [head]="['fleetVehicles/vehicleInfo/manufacture', 'fleetVehicles/vehicleInfo/model', 'fleetVehicles/vehicleInfo/year_manufacture', 'fleetVehicles/vehicleInfo/plate', 'fleetVehicles/vehicleInfo/mileage']" [options]="{ url: 'fleetVehicles:getVehicles' }" [data]="vehicles" [metadata]="metadata" (datalist)="receivedDatalist($event)" [search]="search" [clickFc]="onClick"></schoolingo-datalist>
        
                <div class="btn" (click)="getVehicleInfo()">Získat VIN informace</div>
            </div>
        </div>
    }
    @case("detail") {
        <div class="card">
            <div class="card-top"></div>
            <div class="card-header mb">
                <div class="left">
                    <h2>
                        <span class="clickable" (click)="page = 'list'">
                            {{ schoolingo.locale.getLocale('sidebar/fleetVehicles/vehicles') }}
                        </span>
                        @if (selectedVehicle) {
                            >
                            {{
                                schoolingo.locale.getLocale('fleetVehicles/vehicleInfo/title')
                                .replaceAll('%manufacture%', selectedVehicle?.vehicleInfo.manufacture)
                                .replaceAll('%model%', selectedVehicle?.vehicleInfo.model)
                                .replaceAll('%plate%', selectedVehicle?.vehicleInfo.plate)                        
                            }}

                        }
                    </h2>
                </div>
                <div class="flex-items">
                    <schoolingo-tabs [options]="['fleetVehicles/vehicleInfo/main', 'fleetVehicles/vehicleInfo/trips', 'fleetVehicles/vehicleInfo/expenses', 'fleetVehicles/vehicleInfo/maintenance']" [value]="selectedTab"></schoolingo-tabs>
                </div>
            </div>

            @if (selectedVehicle) {
                @if (selectedTab.getValue() === 0) {
                    <div class="card-body">
                        <h2>Dalníční známky</h2>
                        @if (selectedVehicle.vignette) {
                            @for (vignette of getVignette(); track $index) {
                                @if (vignette[1].status) {
                                    <div class="badge success mb">
                                        <span style="margin-right: .5rem;">
                                            {{ Country.getCountryByCode(vignette[0])?.flag }}
                                        </span>
                                        Má platnou dalniční známku do {{ Utils.formatDate(vignette[1].duration[1]) }}
                                    </div>
                                } @else {
                                    <div class="badge red">Nemá platnou dalniční známku</div>
                                }
                            }
                        }
                        <h2>
                            Informace o vozidle
                        </h2>
                        <div class="items">
                            <div class="item">
                                <div class="left">
                                    {{ schoolingo.locale.getLocale('fleetVehicles/vehicleInfo/manufacture') }}
                                </div>
                                <div class="right">
                                    {{ selectedVehicle.vehicleInfo.manufacture }}
                                </div>
                            </div>

                            <div class="item">
                                <div class="left">
                                    {{ schoolingo.locale.getLocale('fleetVehicles/vehicleInfo/model') }}
                                </div>
                                <div class="right">
                                    {{ selectedVehicle.vehicleInfo.model }}
                                </div>
                            </div>

                            <div class="item">
                                <div class="left">
                                    {{ schoolingo.locale.getLocale('fleetVehicles/vehicleInfo/year_manufacture') }}
                                </div>
                                <div class="right">
                                    {{ selectedVehicle.vehicleInfo.year_manufacture }}
                                </div>
                            </div>

                            <div class="item">
                                <div class="left">
                                    {{ schoolingo.locale.getLocale('fleetVehicles/vehicleInfo/mileage') }}
                                </div>
                                <div class="right">
                                    {{ selectedVehicle.vehicleInfo.mileage + ' km' }}
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    {{ schoolingo.locale.getLocale('fleetVehicles/fuel_types/main') }}
                                </div>
                                <div class="right">
                                    {{ schoolingo.locale.getLocale('fleetVehicles/fuel_types/' + selectedVehicle.vehicleInfo.fuel) }}
                                </div>
                            </div>
                            <div class="item">
                                <div class="left">
                                    {{ schoolingo.locale.getLocale('fleetVehicles/vehicleInfo/status/main') }}
                                </div>
                                <div class="right">
                                    {{ schoolingo.locale.getLocale('fleetVehicles/vehicleInfo/status/' + (selectedVehicle.checkAvailable.length ? 'currentlyUsed' : 'available')) }}
                                </div>
                            </div>
                        </div>
                    </div>
                }
            } @else {
                Načítání údajů auta
            }
        </div>
    }
}