schoolingo-datalist {
    width: 100%;
    transition: width .3s;
}

schoolingo-datalist.small {
    width: 450px;
    min-width: 450px;
    max-width: 450px;
}

.card-row.main {
    justify-content: space-between;
    overflow: hidden;
}

.form-group {
    padding: 2px;
}

.student-board.hidden {
    width: 0px;
    max-width: 0px;
    margin-left: 0!important;
}

.student-board {
    transition: width .3s;
    border-radius: var(--radius);
    margin-left: 2rem;
    width: 100%;
    height: auto;
    background-color: var(--background-tertiary);
}

.student-board .student-board-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.student-photo {
    border-radius: var(--radius);
    width: 150px;
    height: 150px;
    background-color: var(--background-hover);
    overflow: hidden;
}

.student-photo img {
    width: inherit;
    height: inherit;
}

.btn {
    height: 30px;
}