.preview {
    width: 300px;
    height: 275px;
    overflow: hidden;
    pointer-events: none;
    cursor: default;
    border-radius: 16px;
    box-shadow: 0px 0px 4px 4px rgb(0,0,0,.16);
}

.sidebar {
    width: 75px!important;
}

.select {
    flex-wrap: wrap;
    flex-direction: row!important;
    justify-content: center;
}

.select-option {
    margin: 16px!important;
}

.box {
    width: 200px;
    height: 120px;
}

.bottom {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
}