.theme-preview {
    position: absolute;
    bottom: 0;
    transform: translateY(-20%);
    width: 100%;
    height: 70%;
    background-color: var(--input-background);
    border-radius: var(--radius);
    border: 1px solid var(--border-color);
    overflow: hidden;
}