/* Dropdowns */
.label {
    margin: 6px 16px;
    /* color: #fff; */
}

.noData {
    font-size: 14px;
    text-align: center;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    top: calc(100% + 10px);
    width: 100%;
    height: fit-content;
    cursor: default;
    overflow: hidden;
    padding: 8px;
    transition: all .3s;
    border: 1px solid rgba(0,0,0,.16);
    color: #000;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 999;
}

@media (max-width: 560px) {
    .label {
        margin: 6px 8px;
    }
}