.items {
    display: flex;
    flex-direction: column;
}

.items > .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.items > .item > .label {
    font-weight: bold;
}

.items > .item > .value {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.description {
    padding: 4px 8px;
    margin-bottom: 1rem;
}