<div class="row-type-selector">
    <div class="row-option" (click)="selected_option = 0" [class.selected]="selected_option == 0">
        <div class="row-option__dot">
        </div>
        <div class="row-option__content">
            <h4>Deaktivovat třídu {{ cls?.name }}</h4>
            <p>Třída bude přesunuta do archivu. Žáci zůstanou v této třídě, ale nebudou moci být hodnoceni a nebudou
                vidět v aktivních seznamech.</p>
        </div>
    </div>
    <div class="row-option row-option--danger" (click)="selected_option = 1" [class.selected]="selected_option == 1">
        <div class="row-option__dot">
        </div>
        <div class="row-option__content">
            <h4 style="color: var(--danger);">Smazat kompletně třídu {{ cls?.name }}</h4>
            <p>Smazáním třídy dojde k odpojení všech žáků z této třídy a následnému smazání veškerých dat spojených s
                touto třídou (rozvrh, historie, atd.). Tato akce je nevratná.</p>
        </div>
    </div>
</div>

<div class="modal-actions">
    <div class="btn" (click)="closeModal()">Zrušit</div>
    <div class="btn" [class.btn--primary]="selected_option == 0" [class.btn--danger]="selected_option == 1"
        (click)="confirmDelete()">
        <i-tabler [name]="getActionIcon()"></i-tabler>
        {{ getActionText() }}
    </div>
</div>