<div class="module" style="width: 400px;" [attr.name]="tabName">
    <header class="module-header">
        <h2 class="redirect" [routerLink]="'/teach/timetable'" *ngIf="tabs.getTabValue(tabName) == 0">{{ locale.getLocale('sidebar/teach/timetable') }}</h2>
        <h2 *ngIf="tabs.getTabValue(tabName) == 1">Batoh</h2>
        <div class="flex-items">
            <schoolingo-tabs [name]="tabName" [options]="[locale.getLocale('sidebar/teach/timetable'), 'Batoh']"></schoolingo-tabs>
        </div>
    </header>
    <div class="module-content">
        <div class="tab-content">
            <div style="margin: 4px 16px;" *ngIf="schoolingo.isDayWeekend(schoolingo.getToday()) || !schoolingo.getTimetableLessons()?.[selectedDay.getDay() - 1]">
                Dnes se neučí. Zobrazuji den: {{ schoolingo.full_days[selectedDay.getDay() - 1] }}
            </div>
            <div class="subjects" *ngIf="schoolingo.getTimetableDay(selectedDay.getDate(), selectedDay.getMonth(), selectedDay.getFullYear())">
                <div class="subject timetable" *ngFor="let lesson of schoolingo.getTimetableDay(selectedDay.getDate(), selectedDay.getMonth(), selectedDay.getFullYear());index as index">
                    <span class="subjectIndex">{{ index + 1 }}</span>
                    <div class="subjectName" [title]="(!lesson.subject) ? 'Volná hodina' : (lesson.subject[2])">
                        <span>{{ (!lesson.subject) ? 'Volná hodina' : (lesson.subject[2]) }}</span>
                    </div>
                    <span style="position: absolute;right: 8px;font-size: 12px;line-height: 18px;width: 70px;text-align: right;" *ngIf="schoolingo.getSHours()?.[index]">
                        {{ schoolingo.getSHours()[index].start + ' - ' + schoolingo.getSHours()[index].end }}
                    </span>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="title-day">
                <div class="day">{{ schoolingo.full_days[(schoolingo.getLastStudyDay().getDay() == 0) ? 6 : schoolingo.getLastStudyDay().getDay() - 1] }}</div>

                <div class="arrow">→</div>

                <div class="day">{{ schoolingo.full_days[(schoolingo.getNextStudyDay().getDay() == 0) ? 6 : schoolingo.getNextStudyDay().getDay() - 1] }}</div>
            </div>
            
            <div class="module" style="width: calc(100% - 2rem);margin: 1rem!important;padding: 1rem;">
                <header style="padding: 12px .75rem;">
                    <h2>Vyndej z batohu</h2>
                </header>
                <div>
                    <div class="subjects">
                        <!-- <div *ngIf="schoolingo.compareLessons(
                            schoolingo.getTimetableLessons()[schoolingo.getLastStudyDay().getDay() - 1],
                            schoolingo.getTimetableLessons()[schoolingo.getNextStudyDay().getDay() - 1]
                            ).length == 0">Nic nevyndavej 😭</div>
                        <div class="subject" *ngFor="let lesson of schoolingo.compareLessons(
                            schoolingo.getTimetableLessons()[schoolingo.getLastStudyDay().getDay() - 1],
                            schoolingo.getTimetableLessons()[schoolingo.getNextStudyDay().getDay() - 1]
                            )">
                            {{ schoolingo.getSubject(lesson.subject)?.[2] }}
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="module" style="width: calc(100% - 2rem);margin: 1rem!important;padding: 1rem;">
                <header style="padding: 12px .75rem;">
                    <h2>Dej do batohu</h2>
                </header>
                <div>
                    <div class="subjects">
                        <!-- <div *ngIf="schoolingo.compareLessons(
                            schoolingo.getTimetableLessons()[schoolingo.getNextStudyDay().getDay() - 1],
                            schoolingo.getTimetableLessons()[schoolingo.getLastStudyDay().getDay() - 1]
                            ).length == 0">Nic nepřidávej 😃</div>
                        <div class="subject" *ngFor="let lesson of schoolingo.compareLessons(
                            schoolingo.getTimetableLessons()[schoolingo.getNextStudyDay().getDay() - 1],
                            schoolingo.getTimetableLessons()[schoolingo.getLastStudyDay().getDay() - 1]
                            )">
                            {{ schoolingo.getSubject(lesson.subject)?.[2] }}
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div style="display: flex;align-items: center;justify-content: center;" *ngIf="tabs.getTabValue(tabName) == 0">
        <div class="btn" id="previous" (click)="selectLastDay()">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <span style="margin: 0 8px;">{{ selectedDay.getDate() + '. ' + (selectedDay.getMonth() + 1) + '.' }}</span>
        <div class="btn" id="next" (click)="selectNextDay()">
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </div> -->
</div>