.card .card-header {
    justify-content: center;
}

nav {
    padding: 1rem 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav .title {
    width: fit-content;
    font-size: 28px;
    font-weight: 900;
    color: var(--color);
    text-transform: uppercase;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(150deg, rgb(0,91,230) 0%, rgb(1,129,243) 47%, rgb(79,172,254) 48%);
}