<div class="form-group">
    <label for="name" [class.error-color]="this.input_errors['name']">
        {{ l.s('documents.name_file') }}
        @if (this.input_errors['name']) {
            - {{ this.input_errors['name'] }}
        }
    </label>
    <input type="text" [class.input-error]="this.input_errors['name']" id="name" [(ngModel)]="folder_name">
</div>

<div class="form-group">
    <div class="btn primary" (click)="createFolder()">
        <i-tabler name="plus"></i-tabler>
        {{ l.s('documents.new_file') }}
    </div>
</div>