<div class="modal-amount">{{ modal_data.amount }} Kč</div>

@if (show_qrcode) {
    <div class="center">
        <qr-payment [account_number]="modal_data.bank_account.split('/')[0]" [bank_code]="modal_data.bank_account.split('/')[1]" [amount]="modal_data.amount"></qr-payment>
    </div>
} @else {
<div class="modal-detail">
    <div class="modal-detail-row">
        <span>
            <i-tabler name="map-pin"></i-tabler>
            Akce
        </span>
        <span>{{ modal_data.name }}</span>
    </div>
    <div class="modal-detail-row">
        <span>
            <i-tabler name="credit-card"></i-tabler>
            Číslo účtu
        </span>
        <span>{{ modal_data.bank_account }}</span>
    </div>
    <div class="modal-detail-row">
        <span>
            <i-tabler name="file-description"></i-tabler>
            Variabilní symbol
        </span>
        <span>202504117</span>
    </div>
    <div class="modal-detail-row">
        <span>
            <i-tabler name="clock"></i-tabler>
            Splatnost
        </span>
        <span>{{ Utils.formatDateShort(modal_data.deadline) }}</span>
    </div>
    <div class="modal-detail-row">
        <span>
            <i-tabler name="user-pentagon"></i-tabler>
            Žák
        </span>
        <span>Novák Adam, 7.A</span>
    </div>
</div>
}

<a class="clickable" style="margin-top: var(--space-5);" (click)="show_qrcode = !show_qrcode">{{ show_qrcode ? 'Zobrazit podrobnosti o platbě' : 'Zobrazit QR kód platby' }}</a>

<div class="form-group">
    <label class="form-label">Způsob potvrzení platby</label>
    <schoolingo-dropdown [options]="pay_methods_dropdown" [value]="pay_method" (valueChange)="pay_method = $event" [clearable]="false"></schoolingo-dropdown>
</div>

@if (pay_method == 'account') {
    <schoolingo-dropdown [options]="payments_accounts" [value]="payments_accounts[0].value" [settings]="{ locale: false }" [clearable]="false"></schoolingo-dropdown>

<div class="modal-detail" style="margin-block: 8px;">
    <div class="modal-detail-row">
        <span>
            <i-tabler name="credit-card"></i-tabler>
            Zůstatek
        </span>
        <span>{{ payments_accounts[0].balance | money }}</span>
    </div>

    <div class="modal-detail-row">
        <span>
            <i-tabler name="credit-card-pay"></i-tabler>
            Zůstatek po platbě
        </span>
        <span>{{ payments_accounts[0].balance - modal_data.amount | money }}</span>
    </div>
</div>
}

<div class="modal-actions">
    <button class="btn btn--secondary" (click)="closeModal()">
        {{ l.s('cancel') }}
    </button>
    <button class="btn btn--primary" onclick="confirmPay(1)">
        <i-tabler name="check"></i-tabler>
        Potvrdit platbu
    </button>
</div>