<div class="container">
    <div class="container-sidebar">
        <label>{{ l.s('system.section_main') }}</label>

        <div class="item" [class.active]="sidebar==enumSidebar.SYSTEM" (click)="sidebar = enumSidebar.SYSTEM">
            {{ l.s('system.system_settings') }}
        </div>

        <div class="item" [class.active]="sidebar==enumSidebar.LOGIN" (click)="sidebar = enumSidebar.LOGIN">
            {{ l.s('system.login_settings') }}
        </div>

        <div class="item" [class.active]="sidebar==enumSidebar.LDAP" (click)="sidebar = enumSidebar.LDAP">
            {{ l.s('system.ldap_settings') }}
        </div>

        <div class="item" [class.active]="sidebar==enumSidebar.MAIN" (click)="sidebar = enumSidebar.MAIN">
            {{ l.s('system.school_settings') }}
        </div>

        <div class="item" [class.active]="sidebar==enumSidebar.EMAIL" (click)="sidebar = enumSidebar.EMAIL">
            {{ l.s('system.email_settings') }}
        </div>

        <div class="item" [class.active]="sidebar==enumSidebar.SCOPES" (click)="sidebar = enumSidebar.SCOPES">
            {{ l.s('system.list_scopes') }}
        </div>

        <div class="item" [class.active]="sidebar==enumSidebar.SUBJECTS" (click)="sidebar = enumSidebar.SUBJECTS">
            {{ l.s('system.list_subjects') }}
        </div>
        <label>{{ l.s('system.section_modules') }}</label>
    </div>

        @switch (sidebar) {
            @case(enumSidebar.SYSTEM) {
                <system-system style="width: 100%;"></system-system>
            }

            @case(enumSidebar.MAIN) {
    <div class="container-content">
        <h2>{{ l.s('system.school_settings') }}</h2>
        <div class="form-group">
            <label for="name">
                {{ l.s('system.school_name') }}
            </label>
            <input type="text" id="name" [(ngModel)]="system.settings.name">
        </div>

        <div class="form-group">
            <label for="shortcut">
                {{ l.s('system.school_short_name') }}
            </label>
            <input type="text" id="shortcut" [(ngModel)]="system.settings.shortName">
        </div>

        <div class="form-group">
            <label for="code">
                {{ l.s('system.school_code') }}
            </label>
            <input type="text" [(ngModel)]="system.settings.code" id="code" class="disabled" readonly disabled>
        </div>

        <div class="form-group">
            <label for="district">
                {{ l.s('system.school_district') }}
            </label>
            <select id="district" class="selected-value" [(ngModel)]="system.settings.district">
                <option class="option" value=""></option>
                @for (district of system.districts; track $index) {
                    <option [value]="district.district">
                        {{ district.district }}
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="lesson_start">
                {{ l.s('system.school_start') }}
            </label>
            <input type="time" id="lesson_start" [(ngModel)]="system.lesson_hour">
        </div>

        <div class="form-group">
            <label for="length_lesson">
                {{ l.s('system.school_lesson_length') }}
            </label>
            <input type="time" id="length_lesson" [(ngModel)]="system.lesson_length">
        </div>

        <div class="form-group">
            <label for="default_length_break">
                {{ l.s('system.school_break_length') }}
            </label>
            <input type="time" id="default_length_break" [(ngModel)]="system.break_time">
        </div>

        <div class="form-group">
            <label for="warn_absence">
                {{ l.s('system.warn_above_absence') }}
            </label>
            <input type="number" min="1" max="100" [(ngModel)]="system.settings.warningAbsencePercent" id="warn_absence">
        </div>

        <div class="form-group">
            <label for="fastlogin">
                {{ l.s('system.school_fastlogin') }}
            </label>
            <select id="fastlogin" class="selected-value" [(ngModel)]="system.settings.fastlogin">
                @for (_ of [0, 1]; track $index) {
                    <option [value]="_">
                        {{ l.s(_ ? 'system.activated' : 'system.deactivated') }}
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="reset_password">
                {{ l.s('system.school_reset_password_with_email') }}
            </label>
            <select id="reset_password" class="selected-value" [(ngModel)]="system.settings.resetPasswordWithEmail">
                @for (_ of [0, 1]; track $index) {
                    <option [value]="_">
                        {{ l.s(_ ? 'system.activated' : 'system.deactivated') }}
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            <div class="btn primary" (click)="update_school()">
                {{ l.s('system.save_school_info') }}
            </div>
        </div>
    </div>
            }

            @case(enumSidebar.EMAIL) {
    <div class="container-content">
        <h2>Nastavení elektronické pošty</h2>
        <div class="form-group">
            <label>{{ l.s("messages.type") }}</label>
            <div class="custom-select" (click)="$event.stopPropagation(); showSelect = showSelect == 'emailType' ? null : 'emailType'">
            <div class="selected-value">
                {{ l.s('system.email_types.' + email_types[selected_email_type]) }}
                <i-tabler name="chevron-down"></i-tabler>
            </div>
            @if (showSelect == 'emailType') {
                <div class="options-dropdown">
                    @for (type of email_types; track $index) {
                    <div class="option" (click)="$event.stopPropagation();showSelect = null;selected_email_type = $index">
                    {{ l.s('system.email_types.' + type) }}
                    </div>
                    }
                </div>
            }
            </div>
        </div>
    </div>
            }

            @case(enumSidebar.SCOPES) {
    <aside class="panel-list" aria-label="Seznam oborů">
        <div class="panel-header">
            <div>
                <h2>{{ l.s('system.list_scopes') }}</h2>
                <small style="font-size: 13px;color: var(--text-muted);">
                    {{ l.s('system.scope_details').replaceAll('%scopes%', system.scopes.length.toString()) }}
                </small>
            </div>
            <div style="margin-left:auto">
                <div id="btnAdd" class="btn small primary" (click)="new_scope()">
                    <i-tabler name="plus"></i-tabler>
                    {{ l.s('system.add_scope') }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <input id="search" [placeholder]="l.s('system.search_scopes')">
        </div>

        <div id="list">
            @for (scope of system.scopes; track $index) {
                <div class="panel-item" [class.active]="selected_scope?.scopeId == scope.scopeId" (click)="select_scope(scope)">
                    <div class="panel-meta">
                        <div class="panel-title">
                            <h3>
                                {{ scope.name || l.s('system.scope_no_name') }}
                            </h3>
                            <div class="badge">
                                {{ l.s('system.scope_years').replaceAll('%years%', scope.years.toString()) }}
                            </div>
                        </div>
                        <div class="meta-small">
                            <small style="font-size: 13px;color: var(--text-muted);">
                                @if (scope.code) {
                                    {{ l.s('system.scope_code') }}: {{ scope.code }}
                                } @else {
                                    {{ l.s('system.scope_no_code') }}
                                }
                            </small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </aside>
        <main class="panel-detail">
    @if (selected_scope) {

            <div class="header">
                <div class="detail-left">
                    <div class="detail-title">
                        <div>
                            <h1 id="detailName">
                                {{ system.scopes[get_selected_scope_index()].name || l.s('system.scope_no_name') }}
                            </h1>
                            <small style="font-size: 13px;color: var(--text-muted);">
                                {{ l.s('system.scope_code') }}: {{ system.scopes[get_selected_scope_index()].code || l.s('system.scope_no_code') }} • {{ l.s('system.scope_shortcut') }}: {{ system.scopes[get_selected_scope_index()].shortcut || l.s('system.scope_no_shortcut') }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="detail-right">
                    @if (selected_scope.scopeId == null) {
                        <span class="clickable" style="color: var(--danger)" (click)="remove_scope(selected_scope.scopeId)">
                            {{ l.s('system.remove_scope') }}
                        </span>
                    }
                    <div class="btn small primary" (click)="update_scope()">
                        <i-tabler [name]="selected_scope.scopeId != null ? 'device-floppy' : 'plus'"></i-tabler>
                        {{ l.s('system.' + (selected_scope.scopeId != null ? 'save_scope' : 'create_scope')) }}
                    </div>
                </div>
            </div>

            <!-- základní pole -->
            <div class="row" style="gap: 8px">
                <div class="form-group" style="flex:1">
                    <label for="name" [class.error-color]="input_errors['scope_name']">
                        {{ l.s('system.scope_name') }}
                        @if (input_errors['scope_name']) {
                            - {{ input_errors['scope_name'] }}
                        }
                    </label>
                    <input id="name" [class.input-error]="input_errors['scope_name']" [placeholder]="l.s('system.scope_name_placeholder')" [(ngModel)]="selected_scope.name">
                </div>

                <div class="form-group" style="width:200px">
                    <label for="shortcut" [class.error-color]="input_errors['scope_shortcut']">
                        {{ l.s('system.scope_shortcut') }}
                        @if (input_errors['scope_shortcut']) {
                            - {{ input_errors['scope_shortcut'] }}
                        }
                    </label>
                    <input id="shortcut" [class.input-error]="input_errors['scope_shortcut']" [placeholder]="l.s('system.scope_shortcut_placeholder')" [(ngModel)]="selected_scope.shortcut" maxlength="6">
                </div>
            </div>

            <div class="row" style="gap: 8px">
                <div class="form-group" style="flex:1">
                    <label for="code" [class.error-color]="input_errors['scope_code']">
                        {{ l.s('system.scope_code') }}
                        @if (input_errors['scope_code']) {
                            - {{ input_errors['scope_code'] }}
                        }
                    </label>
                    <input id="code" [class.input-error]="input_errors['scope_code']" [placeholder]="l.s('system.scope_code_placeholder')" [(ngModel)]="selected_scope.code">
                </div>

                <div class="form-group" style="width:200px">
                    <label for="years">{{ l.s('system.scope_number_years_study') }}</label>
                    <select id="years" [(ngModel)]="selected_scope.years" [value]="3">
                        <option [value]="1">1</option>
                        <option [value]="2">2</option>
                        <option [value]="3">3</option>
                        <option [value]="4">4</option>
                        <option [value]="5">5</option>
                    </select>
                </div>
            </div>

            <div class="row" style="gap: 8px">
                <div class="form-group" style="width:50%">
                    <label for="studentsPerClass">{{ l.s('system.scope_capacity_students_in_one_class') }}</label>
                    <input id="studentsPerClass" [(ngModel)]="selected_scope.students_per_class" type="number" min="1" value="30">
                </div>
                <div class="form-group" style="width:50%">
                    <label for="classesPerYear">{{ l.s('system.scope_count_classes_in_year') }}</label>
                    <input id="classesPerYear" [(ngModel)]="selected_scope.number_of_classes" type="number" min="0" value="1">
                </div>
            </div>

            <!-- předměty -->
            <section class="grid">
                <div class="grid-header">
                    <h1 id="detailName">
                        {{ l.s('system.table_subjects') }}
                    </h1>
                </div>

                <table>
                    <thead>
                        <th>{{ l.s('subject') }}</th>
                        @for (_ of [].constructor(+(selected_scope.years)); track $index) {
                            <th class="hour">
                                {{ l.s('system.hours_per_week_for_year').replaceAll('%year%', ($index + 1).toString()) }}
                            </th>
                        }
                    </thead>
                    <tbody>
                        @for (subject of system.subjects; track $index) {
                            <tr>
                                <td>{{ subject.subjectName }}</td>
                                @for (_ of [].constructor(+selected_scope.years); track $index) {
                                    <td class="hour">
                                        @if (subject.subjectId != null) {
                                            <input type="number" [(ngModel)]="subject_hours[subject.subjectId][$index]">
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
    } @else {
        <div class="no-selection">
            <div class="illustration">
                <i-tabler name="telescope"></i-tabler>
            </div>
            <h3>{{ l.s("system.select_scope") }}</h3>
            <p>{{ l.s("system.select_scope_desc") }}</p>
        </div>
    }
        </main>
            }

            @case(enumSidebar.SUBJECTS) {
    <aside class="panel-list">
        <div class="panel-header">
            <div>
                <h2>{{ l.s('system.list_subjects') }}</h2>
                <small style="font-size: 13px;color: var(--text-muted);">
                    {{ l.s('system.subject_details').replaceAll('%subjects%', system.subjects.length.toString()) }}
                </small>
            </div>
            <div style="margin-left:auto">
                <div class="btn small primary" (click)="new_subject()">
                    <i-tabler name="plus"></i-tabler>
                    {{ l.s('system.add_subject') }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <input id="search" [placeholder]="l.s('system.search_subjects')">
        </div>

        <div id="list">
            @for (subject of system.subjects; track $index) {
                <div class="panel-item" [class.active]="selected_subject == $index" (click)="selected_subject = $index">
                    <div class="panel-meta">
                        <div class="panel-title">
                            <h3>
                                {{ subject.subjectName || l.s('system.subject_no_name') }}
                            </h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </aside>
    <main class="panel-detail">
        <div class="header">
            <div class="detail-left">
                <div class="detail-title">
                    <div>
                        <h1 id="detailName">
                            {{ system.subjects[selected_subject].subjectName || l.s('system.subject_no_name') }}
                        </h1>
                    </div>
                </div>
            </div>
            <div style="display:flex; gap:8px; align-items:center">
                <div id="btnSave" class="btn small primary">
                    <i-tabler [name]="system.subjects[selected_subject].subjectId != null ? 'device-floppy' : 'plus'"></i-tabler>
                    {{ l.s('system.' + (system.subjects[selected_subject].subjectId != null ? 'save_subject' : 'create_subject')) }}
                </div>
            </div>
        </div>

        @if (checkCollisionSubject()) {
            <div class="alerts">
                <div class="alert error">Nastala kolize s předměty</div>
            </div>
        }

        <!-- základní pole -->
        <div>
            <div class="form-group">
                <label for="name">{{ l.s('system.subject_name') }}</label>
                <input id="name" placeholder="Např. Informační technologie" [(ngModel)]="system.subjects[selected_subject].subjectName" (input)="onInputSubjectName()">
            </div>

            <div class="form-group">
                <label for="translateSubject">{{ l.s('system.subject_traslate') }}</label>
                <select id="translateSubject" [(ngModel)]="translate_subject">
                    <option></option>
                    @for (subject of get_translate_subjects(); track $index) {
                        <option [value]="subject[0]">{{ subject[1] }}</option>
                    }
                </select>
                <small class="note">{{ l.s('system.subject_traslate_note') }}</small>
            </div>

            <div class="form-group">
                <label for="shortcut">{{ l.s('system.subject_shortcut') }}</label>
                <input id="shortcut" [(ngModel)]="system.subjects[selected_subject].shortcut" placeholder="IT" maxlength="6">
            </div>

            <hr>

            <section class="grid">
                <div class="grid-header">
                    <h1 id="detailName">
                        {{ 'Oprávnění učitelé učit tento předmět' }}
                    </h1>
                    <div class="btn primary small">{{ l.s('system.add_teacher') }}</div>
                </div>

                <div class="teachers-list">
                    <div class="teacher-row">
                        <div class="teacher-name">
                            Jožko Evelyn
                        </div>
                        <div class="teacher-actions">
                            <div class="btn danger icon-only">
                                <i-tabler name="trash-x"></i-tabler>
                            </div>
                        </div>
                    </div>

                    <div class="teacher-row">
                        <div class="teacher-name">
                            Jožko Evelyn
                        </div>
                        <div class="teacher-actions">
                            <div class="btn danger icon-only">
                                <i-tabler name="trash-x"></i-tabler>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
            }
        }
    </div>