.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 96px);
    gap: 8px;
}

.container-sidebar {
    width: 275px;
    max-width: 275px;
    flex: 0 0 275px;
    height: 100%;
    padding: 4px;
    transition: all .3s;
    position: relative;
    display: flex;
    color: var(--text-muted);
    flex-direction: column;
    z-index: 2;
    background-color: var(--surface);
    overflow: hidden auto;
    flex-shrink: 0;
    box-shadow: rgba(6, 6, 7, 10%) 1px 0 0 0, rgba(2, 2, 2, 2.5%) 1.5px 0 0 0, rgba(6, 6, 7, 2.5%) 2px 0 0 0;
}

.container-sidebar label {
    padding: 8px;
    color: var(--text);
}

.container-sidebar > .item {
    margin: 4px 0;
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
    color: var(--text-muted);
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-sidebar > .item:hover  {
    background-color: var(--hover-bg);
}

.container-sidebar > .item.active {
    color: var(--text)!important;
    font-weight: 500;
    background-color: var(--surface-2);
}

.container-content {
    flex: 1;
    background-color: var(--surface);
    padding: 2rem;
    overflow-y: auto;
}

.panel {
    background-color: var(--surface-2);
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.panel .icon {
    width: 48px;
    height: 48px;
    background-color: var(--hover-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999rem;
}

p.title {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--primary-200);
}

.panel .info small {
    color: var(--text-muted);
}

.panel .info small b {
    color: var(--primary-100)
}

.panel-list {
    width: 375px;
    min-width: 280px;
    background: linear-gradient(180deg, var(--surface), var(--surface-2));
    padding: 16px;
    box-shadow: var(--shadow);
    border: 1px solid rgba(255,255,255,0.02);
    overflow: auto;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.panel-list > .panel-header {
    display: flex;
    gap: 12px;
    align-items: center;
}

.panel-list #list, .teachers-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
}

.panel-list #list > .panel-item, .teachers-list > .teacher-row {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px;
    border-radius: var(--radius);
    cursor: pointer;
    transition: all .15s;
}

.panel-list #list > .panel-item.active {
    background-color: var(--active-bg);
}

.panel-meta {
    flex: 1;
    min-width: 0;
}

.panel-title {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}

.panel-title h3 {
    margin: 0;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge {
    background: var(--primary-200);
    color: var(--primary-900);
    padding: 4px 8px;
    border-radius: 999px;
    font-weight: 600;
    font-size: 12px;
}

.meta-small {
    font-size: 12px;
    color: var(--text-muted);
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.panel-detail {
    flex: 1;
    min-width: 320px;
    background: linear-gradient(180deg,var(--elevated), var(--surface));
    padding: 18px;
    box-shadow: var(--shadow);
    border: 1px solid rgba(255,255,255,0.02);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.panel-detail > .header {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.panel-detail > .header > .detail-left,
.panel-detail > .header > .detail-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

.detail-title h1, .grid .grid-header h1 {
  margin: 0;
  font-size: 20px;
}

.grid {
  background: var(--surface-2);
  padding: 1rem;
  border: 1px solid var(--border);
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.grid .grid-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.grid .grid-header h1 {
    color: var(--primary-100);
}

.grid .grid-header .btn {
    padding: 4px 12px;
    font-size: 15px;
}

.grid table {
    width: 100%;
    border-collapse: collapse;
}

.grid table th {
    text-align: left;
    font-size: 12px;
    color: var(--text-muted);
    font-weight: 600;
}

.grid table .hour {
    width: 128px;
    min-width: 64px;
}

.teachers-list > .teacher-row > .teacher-name {
    flex: 1;
}

.grid table tr:not(:last-child), .teacher-row:not(:last-child) {
    border-bottom: 1px solid var(--border);
}

.hour input {
    -moz-appearance: textfield;
}

.hour input::-webkit-outer-spin-button,
.hour input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}