.modals:not(:empty) {
    transition: all .15s;
    background-color: rgba(0, 0, 0, 0.48);
    z-index: 995;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal {
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 425px;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    background-color: rgb(9, 9, 11);
    border-radius: 8px;
    border: 1px solid rgb(39, 39, 42);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}

.modal > .modal-header > h2 {
    letter-spacing: -.025em;
    line-height: 1;
    font-weight: 600;
    font-size: 1.125rem;
    margin: 0;
}

.modal > .modal-header > p {
    font-size: .875rem;
    line-height: 1.25rem;
    margin-top: 8px;
    color: rgb(161, 161, 170);
}

.modal > .modal-form {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.modal > .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: rgb(250, 250, 250);
    opacity: .7;
    transition: all .3s;
    cursor: pointer;
}

.modal > .close-btn:hover {
    opacity: 1;
}


.modal-row {
    display: flex;
    flex-direction: row;
}

.first-margin { margin-right: 8px; }
.last-margin { margin-left: 8px; }


.date-pick {
    display: flex;
    flex-direction: row;
}

.studentBox, .student-list {
    display: flex;
    flex-direction: column;
}

.studentBox {
    margin-top: 1rem;
    min-width: 300px;
    border: 1px solid var(--border-color);
}

.student-list {
    min-height: 300px;
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
}

.studentBox > .student-list > .student, .studentBox > .studentBox-btn {
    padding: 4px 8px;
    cursor: pointer;
    font-size: .875rem;
    line-height: 1.25rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.studentBox > .student:first-child { margin-top: 0; }
.studentBox > .student:last-child { margin-bottom: 0; }

.studentBox > .student-list > .student:hover, .studentBox > .studentBox-btn:hover {
    background-color: var(--background-hover);
}

.studentBox > .student-list > .student > .active {
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
}

.studentBox-btn {
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}