<div class="modals" (click)="modals.showModal(null);" (keydown.esc)="modals.showModal(null)">

<!-- Creating new homework (classbook) -->

    <div class="modal" (click)="$event.stopPropagation();dropdowns.closeAllDropdowns();modals.data.isEditingList = false;" *ngIf="modals.getModal() == 'newHomework'">
        <div class="modal-header">
            <h2>{{ locale.getLocale('classbook/newHomework')}}</h2>
        </div>

        <div class="modal-row">
            <div class="modal-left first-margin">
                <div class="form-group">
                    <label for="homework" [ngClass]="{error: modals.errorFilter('homework') != false}">{{ locale.getLocale('classbook/assignment') }} <span class="label-error" *ngIf="modals.errorFilter('homework') != false"> - {{ locale.getLocale(modals.errorFilter('homework').toString()) }}</span></label>
                    <textarea name="homework" id="homework" [formControl]="HOMEWORK_homework"></textarea>
                </div>

                <div class="form-group">
                    <label for="note">{{ locale.getLocale('homeworks/noteForTeacher') }}: </label>
                    <input type="text" name="note" id="note" [formControl]="HOMEWORK_note" />
                </div>

                <div class="form-group date-pick">
                    <div class="first-margin">
                        <label for="startDate" style="margin-bottom: 8px;">{{ locale.getLocale('homeworks/startDate') }}</label>
                        <schoolingo-calendar name="HOMEWORK_STARTDATE" [disabled]=true></schoolingo-calendar>
                    </div>
                    <div class="last-margin">
                        <label for="endDate" style="margin-bottom: 8px;" [ngClass]="{error: modals.errorFilter('endDate') != false}">{{ locale.getLocale('homeworks/endDate') }} <span class="label-error" *ngIf="modals.errorFilter('endDate') != false"> - {{ locale.getLocale(modals.errorFilter('endDate').toString()) }}</span></label>
                        <schoolingo-calendar name="HOMEWORK_ENDDATE"></schoolingo-calendar>
                    </div>
                </div>

                <div class="form-group">
                    <label for="type" style="margin-bottom: 8px;">Typ úkolu</label>
                    <div class="select select-row">
                        <div [ngClass]="{'select-option': true, 'first-margin': true, active: modals.data.type === 0}" (click)="modals.data.type = 0" style="width: 50%;" >Informativní</div>
                        <div [ngClass]="{'select-option': true, 'last-margin': true, active: modals.data.type === 1}" (click)="modals.data.type = 1" style="width: 50%;">S evidencí odevzdání</div>
                    </div>
                </div>

            </div>
            <div class="modal-right last-margin">
                <label for="listStudents" [ngClass]="{error: modals.errorFilter('students') != false}">Pro žáky ({{ modals.data.selectedStudents.length + '/' + modals.data.students.length }}) <span class="label-error" *ngIf="modals.errorFilter('students') != false"> - {{ locale.getLocale(modals.errorFilter('students').toString()) }}</span></label>
                <div class="studentBox">
                    <div class="studentBox-btn" (click)="$event.stopPropagation();dropdowns.closeAllDropdowns();modals.data.isEditingList = true;">
                        <i class="ti ti-edit"></i>
                        {{ locale.getLocale('editList') }}
                    </div>
                    <div class="student-list">
                        <div class="student" *ngFor="let student of modals.data.selectedStudents">
                            {{ (HOMEWORK_getStudentID(student) + 1) + '. ' + HOMEWORK_getStudent(student).lastName + ' ' + HOMEWORK_getStudent(student).firstName }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sub modals -->
        <div class="modals">
            <div class="modal" (click)="$event.stopPropagation();" *ngIf="modals.data.isEditingList">
                <div class="fastactions-row">
                    <div
                    [ngClass]="{action: true, active: modals.data.selectedStudents.length == modals.data.students.length}"
                    (click)="HOMEWORK_selectStudents('all')"
                    >Všichni</div>

                    <div
                    [ngClass]="{action: true, active: modals.data.selectedStudents.toString() === modals.data.serviceList.toString(), disabled: (modals.data.serviceList.length == 0)}"
                    [attr.tooltip]="(modals.data.serviceList.length == 0) ? 'Není žádná služba' : ''"
                    (click)="HOMEWORK_selectStudents('service')"
                    >Služba</div>

                    <div 
                    [ngClass]="{action: true, active: modals.data.selectedStudents.toString() === modals.data.nonAbsenceList.toString(), disabled: (modals.data.nonAbsenceList.length == 0)}"
                    [attr.tooltip]="(modals.data.nonAbsenceList.length == 0) ? 'Nikdo není přitomen' : ''"
                    (click)="HOMEWORK_selectStudents('nonAbsence')"
                    >Přitomní</div>

                    <div
                    [ngClass]="{action: true, active: modals.data.selectedStudents.toString() === modals.data.absenceList.toString(), disabled: (modals.data.absenceList.length == 0)}"
                    [attr.tooltip]="(modals.data.absenceList.length == 0) ? 'Všichni jsou přitomni' : ''"
                    (click)="HOMEWORK_selectStudents('absence')"
                    >Nepřitomní</div>
                </div>

                <div class="studentBox">
                    <div class="student-list">
                        <div class="student" (click)="HOMEWORK_selectStudents(student.student)" *ngFor="let student of modals.data.students;index as index">
                            <div>{{ (index + 1) + '. ' + student.lastName + ' ' + student.firstName }}</div>
                            <i class="ti ti-check active" *ngIf="modals.data.selectedStudents.includes(student.student)"></i>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="submit" role="button" (click)="modals.data.isEditingList = false">{{ locale.getLocale('close') }}</div>
                </div>

                <div class="close-btn" style="top: .5rem;right: .5rem;" (click)="modals.data.isEditingList = false">
                    <i class="ti ti-x"></i>
                </div>
            </div>
        </div>


        <div class="close-btn" (click)="modals.showModal(null)">
            <i class="ti ti-x"></i>
        </div>
        <div class="form-group">
            <div class="submit" role="button" (click)="HOMEWORK_save()" [innerHTML]="(modals.data.isSaving) ? '<div class=\'btn-loader\'></div> ' + locale.getLocale('homeworks/saving') : locale.getLocale('homeworks/save')"></div>
        </div>
    </div>
</div>