.modal-body {
    padding-block: 16px;
}

.changes-table {
    border: 1px solid var(--border-color);
}

th {
    background: rgba(var(--text-muted-rgb), 0.05);
}

tr:last-child {
    border-bottom: none !important;
}