.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(2, 2, 2, 0.5) 0px 0px 3px;
    background-color: #fff;
    border-radius: 24px;
    padding: 2rem;
    min-width: 784px;
    position: relative;
    margin-bottom: 18px;
}

.card-top {
    position: relative;
    padding: 4px 16px;
    border-radius: 99px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    color: #fff;
    margin-top: -1rem;
}

.card-top .btn {
    cursor: pointer;
    padding: 2px 6px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 16px;
    user-select: none;
    transition: all .3s;
}

.card-top .btn:hover {
    background-color: #fff;
    color: red;
}