/* Main */
*, *::before, *::after {
    box-sizing: border-box;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
    background-color: transparent;
}
  
/* Handle */
*::-webkit-scrollbar-thumb {
    background-color: hsl(240deg, 0%, 45%);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0deg, 0%, 33%);
}

a {
    text-decoration: none;
    color: var(--primary);
}

:root {
    --primary: hsl(206deg, 90%, 50%);
    --primary-second: hsl(206deg, 71%, 51%);
    --primary-gradient: linear-gradient(45deg, var(--primary), var(--primary-second));
    --red: hsl(0deg, 63%, 43%);
    --error: var(--red);
    --green: hsl(134deg, 62%, 41%);
    --green-darker: hsl(135deg, 65%, 31%);
    --radius: 8px;
    --polygon: polygon(4px 0, 100% 0%, calc(100% - 4px) 100%, 0% 100%);
}

.light {
    --background-body: hsl(0deg, 0%, 90%);
    --background-header: hsl(0deg, 0%, 100%);
    --background-basic: hsl(228deg 6% 32.5% / 4%);
    --background-hover: hsl(223deg 5.8% 52.9% / 8%);
    --background-active: hsl(223deg 5.8% 52.9% / 12%);
    --dark-border: hsl(0deg, 0%, 13%);
    --color: hsl(0deg, 0%, 0%);
    --color-darker: hsl(0deg, 0%, 15%);
    --secondary-color: hsl(215deg, 61%, 94%);
    --secondary-color-hover: hsl(215deg 61% 94% / 48%);
    --sidebar-arrow: hsl(0deg, 0%, 87%);
    --border-color: rgba(0,0,0,10%);
    --alert-button-border: hsl(0deg, 0%, 100%);
    --error-start-bg: hsl(353deg, 85%, 53%);
    --error-end-bg: hsl(0deg, 63%, 43%);
    --error-color: hsl(0deg, 0%, 100%);
    --info-start-bg: hsl(206deg, 84%, 55%);
    --info-end-bg: hsl(206deg, 88%, 38%);

}

.dark {
    --background-body: hsl(240deg, 6%, 10%);
    --background-header: hsl(0deg, 0%, 5%);
    --background-basic: hsl(228deg 6% 32.5% / 8%);
    --background-hover: hsl(228deg 6% 32.5% / 16%);
    --background-active: hsl(228deg 6% 32.5% / 24%);
    --dark-border: hsla(0deg, 0%, 93%, 13.3%);
    --color: hsl(0deg, 0%, 100%);
    --color-darker: rgb(179, 179, 179);
    --secondary-color: hsl(216deg, 5%, 12%);
    --secondary-color-hover: hsla(216deg, 5%, 12%, 48%);
    --sidebar-arrow: hsl(0deg, 0%, 20%);
    --border-color: rgb(255 255 255 / 10%);
    --alert-button-border: hsl(0deg, 0%, 47%);
    --error-start-bg: hsl(332deg, 39%, 14%);
    --error-end-bg: hsl(334deg, 39%, 14%);
    --error-color: hsl(338deg, 82%, 69%);
    --info-start-bg: hsl(206deg, 84%, 35%);
    --info-end-bg: hsl(206deg, 88%, 18%);
}

.green, .success {
    background-image: linear-gradient(90deg, var(--green), var(--green-darker));
    background-color: var(--green) !important;
    color: #fff !important;
}

.red, .error {
    background-image: linear-gradient(90deg, var(--error-start-bg), var(--error-end-bg));
    background-color: var(--error-start-bg) !important;
    color: var(--error-color) !important;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    max-width: 100vw;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.first-margin { margin-right: 8px!important; }
.last-margin { margin-left: 8px!important; }


/* Loader */
.loader {
    width: 72px;
    min-width: 72px;
    max-width: 72px;
    height: 72px;
    min-height: 72px;
    max-height: 72px;
    border-radius: 999rem;
    border: 8px solid hsl(0deg, 0%, 20%);
    border-top-color: var(--primary);
    animation: rotate 1s infinite linear;
}

.btn-loader {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid currentColor;
    border-top-color: transparent;
    border-radius: 999rem;
    animation: rotate 1s infinite linear;
}

.btn-loader.mr {
    margin-right: 4px!important;
}

.spin {
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media print {

    body {
        transform: translateY(-100px);
        visibility: hidden;
    }

}

.alerts {
    display: flex;
    flex-direction: column;
}

.alerts > .alert {
    padding: 8px 16px;
    clip-path: var(--polygon);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
}

.alerts > .alert > .actions {
    margin-left: 1rem;
}

.alerts > .alert > .actions > .btn {
    padding: 4px 16px;
    border: 1px solid var(--error-color);
    color: var(--error-color);
    font-size: 14px;
    line-height: 18px;
    border-radius: 9999rem;
    transition: all .3s;
    cursor: pointer;
    user-select: none;
}

.alerts > .alert > .actions > .btn:hover {
    border-color: #fff;
    color: #fff;
}

.alerts > .alert > .close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    cursor: pointer;
}

schoolingo-dropdowns {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500000000;
    pointer-events: none;
}

.key {
    margin: 0 2px;
    padding: 4px 4px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background-color: var(--background-active);
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.ab-absence { --absence-color: var(--primary); }
.ab-excused { --absence-color: hsl(94, 54%, 38%); }
.ab-unexcused { --absence-color: hsl(356, 87%, 41%); }
.ab-late { --absence-color: hsl(25, 100%, 47%); }
.ab-non_count { --absence-color: hsl(71, 69%, 45%); }
.ab-early { --absence-color: hsl(36, 100%, 47%); }
.ab-distance { --absence-color: hsl(56, 69%, 45%); }


/* Dropdown Custom CSS */
.dropdown .absence-item {
    padding-left: 4px;
    font-size: 15px;
    margin-bottom: .5rem;
    color: var(--color-darker);
}

.dropdown .absence {
    width: 3px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--absence-color);
    margin-right: .5rem;
}