/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');       /* Custom font */
@import url('https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css');
@import "~@ng-select/ng-select/themes/default.theme.css";                                                   /* Custom ng-select */


/* Main */
*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--primary);
}

:root {
    --primary: #3a6df0;
    --primary-second: #2999ed;
    --primary-gradient: linear-gradient(90deg, var(--primary), var(--primary-second));
    --red: #b22828;
    --error: var(--red);
    --green: #228047;
    --green-darker: #186335;
}

.light {
    --background-body: #fff;
    --background-header: #fff;
    --background-hover: hsl(223 5.8% 52.9%/0.08);
    --background-active: hsl(223 5.8% 52.9%/0.12);/*rgba(240, 240, 240);*/

    --dark-border: #22222222;
    --color: #000;
    --color-darker: #252525;
    --secondary-color: #e6eef9;
    --secondary-color-hover: hsla(215, 61%, 94%, 0.48);

    --sidebar-arrow: #ddd;
    --border-color: rgba(0,0,0,0.10);
}

.dark {
    --background-body: #1a1a1a;
    --background-header: #0d0d0d;
    --background-hover: hsl(228 6% 32.5%/0.16);
    --background-active: hsl(228 6% 32.5%/0.24);

    --dark-border: #eeeeee22;
    --color: #fff;
    --color-darker: rgb(179, 179, 179);
    --secondary-color: hsl(216, 5%, 12%);
    --secondary-color-hover: hsla(216, 5%, 12%, 0.48);

    --sidebar-arrow: #333;
    --border-color: rgba(255,255,255,0.10);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* Tooltip */
[tooltip] {
    position: relative;
}
[tooltip]:not([tooltip='']):hover::after {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%) translateY(calc(100% + 8px));
    background-color: var(--background-header);
    color: var(--color);
    width: max-content;
    padding: 4px;
    left: 50%;
    z-index: 9999999;
    font-size: 14px;
    box-shadow: 0px 0px 2px rgba(6, 6, 7, 0.1);
    content: attr(tooltip);
}

body {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    max-width: 100vw;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.ng-select.ng-select-opened > .ng-select-container, .ng-select .ng-select-container {
    background-color: var(--background-hover);
    border-color: var(--border-color);
    cursor: pointer!important;
}


.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    color: var(--primary);
    background-color: var(--background-hover)!important;
}

.ng-dropdown-panel {
    border: 1px solid var(--border-color)!important;
    background-color: var(--background-header)!important;
    color: var(--color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: var(--background-hover)!important;
    color: var(--color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
    background-color: var(--background-active)!important;
}

.ng-select .ng-select-container .ng-value-container .ng-value {
    color: var(--color);
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
    border-right: 1px solid var(--border-color);
  }

.ng-option-label .badge {
    padding: 4px 8px;
}

/* Loader */
.loader {
    width: 72px;
    height: 72px;
    border-radius: 999rem;
    border: 8px solid #323232;
    border-top-color: var(--primary);
    animation: rotate 1s infinite linear;
}

.btn-loader {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid currentColor;
    border-top-color: transparent;
    border-radius: 999rem;
    animation: rotate 1s infinite linear;
}

.btn-loader.mr {
    margin-right: 4px!important;
}

.spin {
    animation: rotate 1s infinite linear;
}

.green {
    background-image: linear-gradient(90deg, rgb(40,168,69), rgb(28,131,53));
    background-color: hsl(139, 47.3%, 43.9%) !important;
    color: #fff !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media print {

    body {
        transform: translateY(-100px);
        visibility: hidden;
    }

}