/* Main */
*, *::before, *::after {
    box-sizing: border-box;
    scrollbar-width: thin;
}

*::-webkit-scrollbar, ::-webkit-scrollbar {
    width: 5px;
}

/* Track */
*::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
    background-color: transparent;
}
  
/* Handle */
*::-webkit-scrollbar-thumbm, ::-webkit-scrollbar-thumb {
    background-color: hsl(240deg, 0%, 0%);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0deg, 0%, 8%);
}

a {
    text-decoration: none;
    color: var(--primary);
}

:root {
    --primary: hsl(206deg, 90%, 50%);
    --primary-second: hsl(206deg, 71%, 51%);
    --primary-gradient: linear-gradient(45deg, var(--primary), var(--primary-second));
    --red: hsl(0deg, 63%, 43%);
    --error: var(--red);
    --green: hsl(134deg, 62%, 41%);
    --green-darker: hsl(135deg, 65%, 31%);
    --radius: 8px;
    --polygon: polygon(4px 0, 100% 0%, calc(100% - 4px) 100%, 0% 100%);
    --tag-color: hsl(228deg 6% 25% / 85%);
}

.light {
    --input-background: hsl(240deg, 14%, 95%);
    --background-body: hsl(0deg, 0%, 100%);
    --background-header: hsl(220deg, 43%, 96%);
    --background-basic: hsl(228deg 6% 32.5% / 4%);
    --background-tertiary: color-mix( in oklab, hsl(216 calc(1 * 9.804%) 90% / 1) 100%, black 0% );
    --background-hover: color-mix( in oklab, hsl(222.857 calc(1 * 5.833%) 52.941% / 0.08) 100%, hsl(0 0% 0% / 0.08) 0% );
    --background-active: color-mix( in oklab, hsl(222.857 calc(1 * 5.833%) 52.941% / 0.16) 100%, hsl(0 0% 0% / 0.16) 0% );
    --calendar-background: hsl(240deg, 6%, 87%);
    --navbar-shadow: rgba(6, 6, 7, 0.1) 0 1px 0 0, rgba(2, 2, 2, 0.025) 0 1.5px 0 0, rgba(6, 6, 7, 0.025) 0 2px 0 0;
    --dark-border: hsl(0deg, 0%, 13%);
    --color: hsl(0deg, 0%, 0%);
    --color-darker: hsl(0deg, 0%, 15%);
    --secondary-color: hsl(215deg, 61%, 94%);
    --secondary-color-hover: hsl(215deg 61% 94% / 48%);
    --sidebar-arrow: hsl(0deg, 0%, 87%);
    --border-color: rgba(255,255,255,50%);
    --alert-button-border: hsl(0deg, 0%, 100%);
    --error-start-bg: hsl(353deg, 85%, 53%);
    --error-end-bg: hsl(0deg, 63%, 43%);
    --error-color: hsl(0deg, 0%, 100%);
    --info-start-bg: hsl(206deg, 84%, 55%);
    --info-end-bg: hsl(206deg, 88%, 38%);
    --blue-bg: #f2fefe;
    --blue-color: #2c6b8d;
    --header-shadow: rgba(2, 2, 2, 0.2) 0 1px 0 0, rgba(6, 6, 7, 0.05) 0 1.5px 0 0, rgba(2, 2, 2, 0.05) 0 2 0 0;
    --ag-background-color: #fff!important;
}

.dark {
    --input-background: hsl(240deg, 4%, 16%);
    --background-body: hsl(240deg, 6%, 10%);
    --background-header: hsl(0deg, 0%, 5%);
    --background-basic: hsl(228deg 6% 32.5% / 8%);
    --background-hover: hsl(228deg 6% 32.5% / 16%);
    --background-active: hsl(228deg 6% 32.5% / 24%);
    --background-tertiary: rgb(70,70,70,.12);
    --calendar-background: hsl(240deg, 6%, 13%);
    --navbar-shadow: rgba(6, 6, 7, 0.1) 0 1px 0 0, rgba(2, 2, 2, 0.025) 0 1.5px 0 0, rgba(6, 6, 7, 0.025) 0 2px 0 0;
    --dark-border: hsla(0deg, 0%, 93%, 13.3%);
    --color: hsl(0deg, 0%, 100%);
    --color-darker: rgb(179, 179, 179);
    --secondary-color: hsl(216deg, 5%, 12%);
    --secondary-color-hover: hsla(216deg, 5%, 12%, 48%);
    --sidebar-arrow: hsl(0deg, 0%, 20%);
    --border-color: rgb(255 255 255 / 10%);
    --alert-button-border: hsl(0deg, 0%, 47%);
    --error-start-bg: hsl(332deg, 39%, 14%);
    --error-end-bg: hsl(334deg, 39%, 14%);
    --error-color: hsl(338deg, 82%, 69%);
    --info-start-bg: hsl(206deg, 84%, 35%);
    --info-end-bg: hsl(206deg, 88%, 18%);
    --blue-bg: #010304;
    --blue-color: #2999ed;
    --header-shadow: rgba(2, 2, 2, 0.2) 0 1px 0 0, rgba(6, 6, 7, 0.05) 0 1.5px 0 0, rgba(2, 2, 2, 0.05) 0 2px 0 0;
    --ag-background-color: #000!important;
}

.gray {
    background-color: hsl(228deg, 7%, 14%)!important;
    transition: all .3s;
}

.gray:hover {
    background-color: hsl(230deg, 8%, 15%)!important;
}

.green, .success {
    background-color: var(--green) !important;
    color: #fff !important;
    transition: all .3s;
}

.green:hover {
    background-color: var(--green-darker) !important;
}

.red, .error {
    background-image: linear-gradient(90deg, var(--error-start-bg), var(--error-end-bg));
    background-color: var(--error-start-bg) !important;
    color: var(--error-color) !important;
}

.blue-info {
    background-image: linear-gradient(90deg, var(--info-start-bg), var(--info-end-bg));
    background-color: var(--info-start-bg) !important;
    color: #fff !important;
}

.blue {
    background-color: var(--blue-bg);
    color: var(--blue-color);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    max-width: 100vw;
    margin: 0;
    font-family: "Twemoji Country Flags", "Roboto", "sans-serif";
    background-color: var(--background-header);
    color: var(--color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.first-margin { margin-right: 8px!important; }
.last-margin { margin-left: 8px!important; }

.mt { margin-top: 1rem!important; }
.mb { margin-bottom: 1rem!important; }
.mb-2 { margin-bottom: 2rem!important; }
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Loader */
.loader {
    width: 72px;
    min-width: 72px;
    max-width: 72px;
    height: 72px;
    min-height: 72px;
    max-height: 72px;
    border-radius: 999rem;
    border: 8px solid hsl(0deg, 0%, 20%);
    border-top-color: var(--primary);
    animation: rotate 1s infinite linear;
}

.btn-loader {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid currentColor;
    border-top-color: transparent;
    border-radius: 999rem;
    animation: rotate 1s infinite linear;
}

.btn-loader.mr { margin-right: 4px!important }
.spin { animation: rotate 1s infinite linear }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Skeleton loading */

.skeleton {
    position: relative;
    overflow: hidden;
}

.skeleton::before {
    content: "";
    animation: shimmer 2s infinite;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0%), rgba(228, 228, 231, 0.05), rgba(228, 228, 231, 0%));
}

@keyframes shimmer {
    100% {
        content: "";
        transform: translateX(100%);
    }
}

@media print {

    body {
        transform: translateY(-100px);
        visibility: hidden;
    }

}

.alerts {
    display: flex;
    flex-direction: column;
}

.alerts > .alert {
    padding: 8px 16px;
    /* clip-path: var(--polygon); */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
}

.alerts > .alert > .text {
    width: 100%;
    text-align: left;
}

.alerts > .alert > .actions {
    margin-left: 1rem;
}

.alerts > .alert > .close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 16px;
    cursor: pointer;
}

.alerts > .alert > .close > i-tabler {
    width: 20px;
    height: 20px;
}

schoolingo-dropdowns {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500000000;
    pointer-events: none;
}

.key {
    margin: 0 2px;
    padding: 4px 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color);
    background-color: var(--background-active);
}

.clickable { cursor: pointer; }
.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

/* Flex */
.flex { display: flex }

.align-items-center { align-items: center }

/* Flex Items */
.flex-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-items > div { margin: 0 8px; }


.ab-absence { --absence-color: var(--primary); }
.ab-excused { --absence-color: hsl(94deg, 54%, 38%); }
.ab-unexcused { --absence-color: hsl(356deg, 87%, 41%); }
.ab-late { --absence-color: hsl(25deg, 100%, 47%); }
.ab-non_count { --absence-color: hsl(71deg, 69%, 45%); }
.ab-early { --absence-color: hsl(36deg, 100%, 47%); }
.ab-distance { --absence-color: hsl(56deg, 69%, 45%); }


/* Dropdown Custom CSS */
.dropdown .absence-item {
    padding-left: 4px;
    font-size: 15px;
    margin-bottom: .5rem;
    color: var(--color-darker);
}

.dropdown .absence {
    width: 3px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--absence-color);
    margin-right: .5rem;
}

/* Tooltip */
[tooltip] {
    position: relative;
}
[tooltip]:not([tooltip='']):hover::after {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%) translateY(calc(100% + 8px));
    background-color: var(--background-header);
    color: var(--color);
    width: max-content;
    padding: 4px;
    left: 50%;
    z-index: 9999999;
    font-size: 14px;
    box-shadow: 0px 0px 2px rgba(6, 6, 7, 0.1);
    content: attr(tooltip);
}


/* Badges */
.badges > .badge {
    padding: .35rem .75rem;
    line-height: 16px;
    font-size: 14px;
    border-radius: 99rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.badges > .badge i-tabler {
    width: 16px;
    height: 16px;
    min-height: 16px;
    min-width: 16px;
    font-weight: 500;
    margin-right: .5rem;
}