.card-row {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card-column {
    flex-direction: column;
}

.card-row > div {
    max-width: 45%;
}

.card-row > .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.center {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-darker);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.item-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-icon > .icon {
    color: #000;
    font-size: 2.5rem;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-icon:nth-child(1) > .icon {
    color: #0077FF;
    background-color: rgba(0, 119, 255, 0.25);
}
.item-icon:nth-child(2) > .icon {
    color: #FF9D0A;
    background-color: rgba(255, 157, 10, 0.25);
}
.item-icon:nth-child(3) > .icon {
    color: #873AB6;
    background-color: rgba(135, 58, 182, 0.25);
}
.item-icon:nth-child(4) > .icon {
    color: #EA1F38;
    background-color: rgba(234, 31, 55, 0.25);
}
.item-icon .text {
    margin-top: 0.5rem;
}