@if (schoolingo.traineeship.selectedDay) {
    <div class="card">
        <div class="card-top"></div>
        <div class="card-header mb">
            <div class="left">
                <h2>
                    <a [routerLink]="['', 'traineeship', 'diary']">{{schoolingo.locale.getLocale('sidebar/traineeship/diary')}}</a>
                {{
                    ' / ' +
                    schoolingo.locale.getLocale('traineeship/diary/main')
                    + ' / ' +
                    schoolingo.locale.getLocale('traineeship/writeDiary/main')
                    .replaceAll('%day%', schoolingo.traineeship.selectedDay!.format('DD. MM. YYYY'))    
                }}</h2>
            </div>
        </div>
        <div class="card-body">
        </div>
    </div>
}