<div class="modal-body" (click)="dropdownManager.selected_dropdown = ''">
    
    <div class="message message--info">
        <div class="row">
            <i-tabler name="info-circle"></i-tabler>
            <b>Informace o vztahu</b>
        </div>
        <p class="info-text">
            Nastavení vztahu a práv pro zástupce: <strong>{{ parent.fullName }}</strong>
        </p>
    </div>

    <div class="form-group mb-4">
        <label>Vztah k žákovi</label>
        <div class="custom-select"
            (click)="$event.stopPropagation(); dropdownManager.selected_dropdown = dropdownManager.selected_dropdown == 'edit-parent_role' ? '' : 'edit-parent_role'">
            <div class="selected-value">
                {{ l.s('family.' + form.role) }}
                <i-tabler name="chevron-down"></i-tabler>
            </div>
            @if (dropdownManager.selected_dropdown == 'edit-parent_role') {
            <div class="options-dropdown">
                <div class="list">
                    @for(role of roles;track role) {
                    <div class="option"
                        (click)="$event.stopPropagation(); dropdownManager.selected_dropdown = ''; form.role = role">
                        {{ l.s('family.' + role) }}
                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>

    <div class="form-group options-group">
        <label class="checkbox-container" (click)="form.legal_guardian_de_jure = !form.legal_guardian_de_jure">
            <div class="checkbox-text">
                <span class="title">Je zák. zástupcem de jure</span>
                <span class="description">Zákonný zástupce podle práva.</span>
            </div>
            <schoolingo-checkbox [checked]="form.legal_guardian_de_jure"></schoolingo-checkbox>
        </label>
        
        <label class="checkbox-container" (click)="form.closest_legal_representative = !form.closest_legal_representative">
            <div class="checkbox-text">
                <span class="title">Je nejbližším zák. zástupcem</span>
                <span class="description">Primární kontakt pro školu.</span>
            </div>
            <schoolingo-checkbox [checked]="form.closest_legal_representative"></schoolingo-checkbox>
        </label>
        
        <label class="checkbox-container" (click)="form.allowed_to_receive_information = !form.allowed_to_receive_information">
            <div class="checkbox-text">
                <span class="title">Smí dostávat informace o žákovi</span>
                <span class="description">Může nahlížet do hodnocení a zpráv.</span>
            </div>
            <schoolingo-checkbox [checked]="form.allowed_to_receive_information"></schoolingo-checkbox>
        </label>
    </div>

</div>

<div class="modal-actions">
    <button class="btn btn--secondary" (click)="closeModal()">
        <i-tabler name="x"></i-tabler>
        <span>{{ l.s('buttons.cancel') }}</span>
    </button>
    <button class="btn btn--primary" (click)="save()">
        <i-tabler name="device-floppy"></i-tabler>
        <span>{{ l.s('buttons.save') }}</span>
    </button>
</div>
