.dropdown {
    width: 250px;
    background-color: #1f1f23;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 5000000;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 300ms, opacity 300ms;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    padding: .5rem;
}

.dropdown.active {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 300ms;
    pointer-events: all;
}

.dropdown > .line {
    border-top: 1px solid rgba(83, 83, 95, 0.5);
    margin: .5rem .25rem;
    white-space: nowrap;
}

.dropdown > .item {
    margin: 4px 0;
    padding: 8px 16px;
    color: #fff;
    user-select: none;
    position: relative;
    border-radius: var(--radius);
    transition: all .3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dropdown > .item.checkbox {
    padding-right: 32px;
}

.dropdown > .item > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown > .item.text {
    vertical-align: bottom;
    padding: 0px 12px;
    color: var(--primary);
    font-weight: 600;
}

.dropdown > .dropdown-item.active {
    cursor: pointer;
}

.dropdown > .dropdown-item.active:hover { background-color: var(--background-hover); }
.dropdown > .dropdown-item.active:active { background-color: var(--background-active); }

.dropdown > .dropdown-item > i {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.dropdown > .dropdown-item > i.icon-active {
    color: var(--primary);
}


.checkmark {
    display: none!important;
}

.checkmark.active {
    display: flex!important;
}
.checkmark.draw::after {
      animation-duration: 800ms;
      animation-timing-function: ease;
      animation-name: checkmark;
      transform: scaleX(-1) rotate(135deg);
}
    
.checkmark::after {
    content: '';
    opacity: 1;
    height: 1em;
    width: .5em;
    transform-origin: left top;
    border-right: 2px solid var(--primary);
    border-top: 2px solid var(--primary);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 1.5rem;
}

@keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }

    20% {
      height: 0;
      width: .5em;
      opacity: 1;
    }

    40%, 100% {
      height: 1em;
      width: .5em;
      opacity: 1;
    }
}
