@for (dropdown of getDropdowns(); track $index) {
    <div (click)="$event.stopPropagation()" [ngClass]="{dropdown: true, active: dropdown[1].isOpen}" [id]="dropdown[0]" [ngStyle]="{ transform: 'translate(' + dropdown[1].position?.[0] + 'px, ' + dropdown[1].position?.[1] +'px)' }">
        @for (item of dropdown[1].items; track $index) {
            @switch(item.type) {
                @case("text") {
                    <div class="item text">
                        {{ locale.getLocale(item.label) }}
                    </div>
                }
                @case("line") {
                    <div class="line"></div>
                }
                @case("calendar") {

                }
                @case("function") {
                    <div [ngClass]="{'dropdown-item': true, item: true, active: item.isActive}" (click)="clickEvent(dropdown[0], $index)">
                        <span>{{ locale.getLocale(item.label) }}</span>
                        @if (item.rightText) {
                            <div [innerHTML]="formatRightText(item.rightText)"></div>
                        }
                    </div>
                }
                @case("toggle") {
                    <div [ngClass]="{'dropdown-item': true, item: true, active: item.isActive, checkbox: true}" (click)="clickEvent(dropdown[0], $index)">
                        <span>{{ locale.getLocale(item.label) }}</span>
                        <div [ngClass]="{checkmark: true, draw: true, active: item.value.getValue()}"></div>
                    </div>
                }
                @case("custom") {
                    <div [innerHTML]="formatHtmlText(item.html.toString())"></div>
                }
                @default {
                    Item: {{ item }} - not defined in Components/Dropdowns/Dropdown.html
                }
            }
        }

    </div>
}