table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    clear: both;    
}

thead > tr {
    height: 100%;
}

thead > tr > th,
thead > tr > td {
    /* border-bottom: 1px solid rgb(89, 91, 94); */
    box-shadow: rgba(6, 6, 7, 0.1) 0px 1px 0px 0px, rgba(2, 2, 2, 0.025) 0px 1.5px 0px 0px, rgba(6, 6, 7, 0.025) 0px 2px 0px 0px;
    border-bottom: 1px solid var(--dark-border);
}

thead > tr > th,
thead > tr > td,
tbody > tr,
tbody > tr > td {
    padding: 8px;
    padding-right: calc(8px + var(--sortingPadding, 0px)); /* Calculate right padding based on sorting option and filter */
    height: 100%;
    min-height: 42px;
    text-align: left;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    color: var(--color);
}

thead > tr > th.sorting { --sortingPadding: 12px; }

thead > tr > th.sorting::before,
thead > tr >th.sorting::after {
    right: 10px;
    line-height: 9px;
    font-size: .6em;
    position: absolute;
    display: block;
    opacity: .125;
}

thead > tr > th.sorting::before {
    bottom: 50%;
    content: "▲";
}

thead > tr > th.sorting::after {
    top: 50%;
    content: "▼";
}

thead > tr > th.sorting.asc::before,
thead > tr > th.sorting.desc::after {
    opacity: .6;
}

tbody > tr, tbody > tr > td {
    font-weight: 400;
    text-align: left;
    color: var(--color-darker);
}

tbody > tr:nth-child(2n) {
    background-color: var(--background-hover);
}

tbody > tr:hover {
    background-color: var(--background-active);
}

table.interactive > tbody > tr,
table.interactive > tbody > tr > td {
    cursor: pointer;
}


.headcheckbox {
    display: table-cell;
    width: 42px;
}

.checkbox {
    margin: 0 auto;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-radius: 4px;
    background-color: var(--primary);
    cursor: pointer;
}

.checkbox i {
    font-size: 16px;
    color: #fff;
}

.table-information {
    width: 100%;
}