<table [ngClass]="{ interactive: table.options.tableType == 'interactive-list'}" [cellSpacing]="'0'">
    <thead>
        <tr>
            <th class="headcheckbox" *ngIf="table.options.tableType == 'interactive-list'"></th>
            <th class="sorting" *ngFor="let column of table.columns">{{ column.name }}</th>
            <th class="headcheckbox" *ngIf="table.options.tableType == 'interactive-list'"></th>
        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of table.visibleRows">
            <td class="headcheckbox" *ngIf="table.options.tableType == 'interactive-list'"><div class="checkbox"></div></td>
            <td *ngFor="let _ of row;">{{ _ }}</td>
            <td class="headcheckbox" *ngIf="table.options.tableType == 'interactive-list'"><i class="fa-solid fa-ellipsis-vertical"></i></td>
        </tr>
    </tbody>
</table>
<div class="table-information">
    Zobrazuji {{ table.visibleRows.length }} záznamů z {{ table.filteredData.length }} celkem
</div>