@switch(page) {
@case("main") {
@if (alert) {
<div class="message message--{{ alert.type }}" style="margin-bottom: 1rem;">
    {{ alert.message }}
</div>
}
<div class="form-group">
    <label for="email">{{ l.s('user.add_email.email') }}</label>
    <div class="input-with-action">
        <input type="text" name="email" id="email" [(ngModel)]="email" [placeholder]="l.s('user.add_email.email')" [disabled]="isEdit">
    </div>
    @if (isEdit) {
    <div class="form-group">
        <a class="clickable danger" (click)="removeEmail()">{{ l.s('buttons.remove_email') }}</a>
    </div>
    }
</div>

<div class="form-group">
    <label for="type">{{ l.s('user.add_email.type') }}</label>
    <div class="custom-select"
        (click)="$event.stopPropagation(); dropdownManager.selected_dropdown = dropdownManager.selected_dropdown == 'add_email_type' ? '' : 'add_email_type'">
        <div class="selected-value">
            {{ l.s('user.add_email.types.' + email_types[email_selected]) }}
            <i-tabler name="chevron-down"></i-tabler>
        </div>
        @if (dropdownManager.selected_dropdown == 'add_email_type') {
        <div class="options-dropdown">
            <div class="list">
                @for (type of email_types; track $index) {
                <div class="option"
                    (click)="$event.stopPropagation();dropdownManager.selected_dropdown = '';email_selected = $index">
                    {{ l.s('user.add_email.types.' + type) }}
                </div>
                }
            </div>
        </div>
        }
    </div>
</div>

<div class="modal-actions">
    <div class="btn btn--primary" (click)="saveEmail()">
        <i-tabler name="plus"></i-tabler>
        {{ l.s('user.add_email.save_email') }}
    </div>
</div>
}

@case ("verify") {
@if (alert) {
<div class="message message--{{ alert.type }}" style="margin-bottom: 1rem;">
    {{ alert.message }}
</div>
}
<div class="message message--info">
    Zadejte 6místný kód, který jsme vám zaslali na e-mail <strong>{{ email }}</strong>.
</div>

<div class="form-group">
    <label for="verificationCode">Ověřovací kód</label>
    <input type="text" name="verificationCode" id="verificationCode" [(ngModel)]="verificationCode" placeholder="ABCDEF"
        maxlength="6" style="text-align: center; font-size: 24px; letter-spacing: 4px; text-transform: uppercase;">
</div>

<div class="form-group">
    <a class="clickable" (click)="resendCode()">
        Zaslat kód znovu
    </a>
</div>


<div class="modal-actions">
    <div class="btn btn--secondary" (click)="modalManager.closeModal('add_email')">
        Zavřít
    </div>
    <div class="btn btn--primary" (click)="verifyEmail()">
        <i-tabler name="circle-check"></i-tabler>
        Ověřit e-mail
    </div>
</div>
}
@case ("2fa") {
@if (alert) {
<div class="message message--{{ alert.type }}" style="margin-bottom: 1rem;">
    {{ alert.message }}
</div>
}
<div class="message message--info">
    {{ l.s('settings.2fa.descriptions.verify_code') }}
</div>

<div class="form-group">
    <label for="token">
        {{ l.s('auth.2fa.authentication_code') }}
    </label>
    <input type="text" [placeholder]="l.s('auth.2fa.authentication_code')" id="token" autocomplete="off"
        [minlength]="AuthConfig.token_length" [maxlength]="AuthConfig.token_length" [(ngModel)]="token">
</div>
<div class="form-group">
    <div class="btn btn--primary" (click)="saveEmail()">
        @if (active_action == 'activating_2fa') {
        <div class="loader"></div>
        <span>{{ l.s('auth.2fa.verify_code_action') }}</span>
        } @else {
        {{ l.s('auth.2fa.verify_code') }}
        }
    </div>

    <div class="btn btn--secondary" (click)="page = 'main';token = ''">
        {{ l.s('buttons.back') }}
    </div>
</div>
}
}