<div class="card card-no-permission">
    <div class="card-top card-top-danger"></div>
    <div class="card-body">
        <div class="no-permission-content">
            <div class="icon-container">
                <i-tabler name="alert-triangle"></i-tabler>
            </div>
            <h2>{{ l.s('error.no_permission_title') || 'Nemáte oprávnění' }}</h2>
            <p>{{ l.s('error.no_permission_desc') || 'K zobrazení této stránky nemáte dostatečná oprávnění. Pokud se
                domníváte, že jde o chybu, kontaktujte správce školního systému.' }}</p>
            <button class="btn btn-primary mt" routerLink="/">Zpět na hlavní stránku</button>
        </div>
    </div>
</div>