<div class="card card-no-permission">
    <div class="card-top card-top-danger"></div>
    <div class="card-body">
        <div class="no-permission-content">
            <div class="icon-container">
                <i-tabler name="alert-triangle"></i-tabler>
            </div>
            <h2>{{ l.s('error.no_permission_title') }}</h2>
            <p class="muted">{{ l.s('error.no_permission_desc') }}</p>
            <button class="btn btn--primary mt" routerLink="/">{{ l.s('error.no_permission_action') }}</button>
        </div>
    </div>
</div>