@if(!schoolingo.traineeship.selectedDay && schoolingo.userService.getUser()?.type == 'student') {
    <div class="row">
        <div class="card">
            <div class="card-top">
            </div>
            <div class="card-header mb">
                <div class="left">
                    <h2>{{ schoolingo.locale.getLocale('traineeship/overview/nearestDiary') }}</h2>
                    @if (getNearestDiary()) {
                        <p class="description">{{
                            schoolingo.locale.getLocale('traineeship/overview/diaryWeek')
                            .replaceAll('%start%', getNearestDiary().start.format('DD. MM. YYYY'))
                            .replaceAll('%end%', getNearestDiary().end.format("DD. MM. YYYY"))
                        }}</p>
                    }
                </div>
                <div class="flex-items">
                    <div class="btn submit small blue-info" role="button">
                        {{ schoolingo.locale.getLocale('traineeship/buttons/printContract') }}
                    </div>
                    <div class="btn submit small blue-info" role="button">
                        {{ schoolingo.locale.getLocale('traineeship/buttons/printGuide') }}
                    </div>
                </div>
            </div>
            <div class="card-body">
                @if (!getNearestDiary()) {
                    <div class="alerts mb">
                        <div class="alert error">
                            {{ schoolingo.locale.getLocale('traineeship/overview/noNextDairy') }}
                        </div>
                    </div>
                } @else {
    
                    @if (!getNearestDiary().company) {
                        <div class="alerts mb">
                            <div class="alert error">
                                {{ schoolingo.locale.getLocale('traineeship/alerts/noCompany') }}
                            </div>
                        </div>
                    } @else {
                        <div class="alerts mb">
                            <div class="alert blue-info">
                                {{
                                    schoolingo.locale.getLocale('traineeship/alerts/selectedCompany')
                                    .replaceAll('%companyName%', getNearestDiary().companyName)
                                    .replaceAll('%instructor%', schoolingo.locale.getLocale('traineeship/alerts/' +
                                                    (getNearestDiary().instructor ? 'success_selected_company_with_instructor' : 'success_selected_company_no_instructor')
                                                )
                                                .replaceAll('%instructorName%', schoolingo.formatPerson(getNearestDiary().instructor!)))
                                }}
                                @if (!getNearestDiary().instructor) {
                                    <div class="actions">
                                        <div class="btn submit small gray" role="button">{{ schoolingo.locale.getLocale('traineeship/buttons/selectInstructor') }}</div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
    
                    @for (day of getDaysOfDairy(getNearestDiary()); track $index) {
                        <div class="dairy-day" (click)="schoolingo.traineeship.selectDay(day)">
                        {{ ($index + 1) + '. ' + schoolingo.locale.getLocale('traineeship/day') + ' - ' + day.format('DD. MM. YYYY dddd') }}
                        </div>
                    }
    
                }
    
    
    
            </div>
        </div>
        <div class="card">
            <div class="card-top"></div>
            <div class="card-header mb">
                <h2>{{ schoolingo.locale.getLocale('traineeship/overview/diaryHelp') }}</h2>
            </div>
            <div class="card-body" style="padding-right: 1rem; height: auto;overflow-y: auto;max-height: 600px;">
    
    <h3>Konzultace a plánování praxe</h3>
    <ul>
        <li>
            Konzultuj plán své odborné praxe s vyučujícími předmětu Praktická cvičení. Dbejte na požadavky školy, například zaměření na podnikání, druh činnosti, dlouhodobou spolupráci firmy se školou, možnosti uplatnění studentů nebo pravidlo, že praxi nelze absolvovat 2× ve stejné firmě.
        </li>
    </ul>
    
    <h3>Výběr organizace a příprava smlouvy</h3>
    <ul>
        <li class="clickable" [routerLink]="['', 'traineeship', 'companies']">Vyber si firmu ze seznamu firem a vyber si instruktora.</li>
        <li>Stáhni si smlouvu a vytiskni ve dvou kopiích.</li>
    </ul>
    
    <h3>Potvrzení smlouvy</h3>
    <ul>
        <li>Nech si smlouvu potvrdit ve firmě.</li>
        <li>Jedna kopie je pro firmu, druhou kopii odevzdej ve škole.</li>
    </ul>
    
    <h3>Průběh praxe</h3>
    <ul>
        <li>Absolvuj praxi ve sjednaném termínu, odpracuj {{ getDaysOfDairy(getNearestDiary()).length }} dní v kuse.</li>
        <li>Případné absence 1–2 dny omluv ve firmě i škole a nahraď je ihned po termínu.</li>
        @if (getDaysOfDairy(getNearestDiary()).length > 5) {
            <li>Při absenci nad 5 dní vykonej náhradní praxi o prázdninách.</li>
        }
    </ul>
    
    <h3>Vedení dokumentace</h3>
    <ul>
        <li>Během praxe elektronicky zpracovávej deník a pracovní listy.</li>
    </ul>
    
    <h3>Ukončení praxe</h3>
    <ul>
        <li>Nech si zaměstnavatelem vyplnit průvodku odborné praxe.</li>
        <li>Odevzdej ji ve škole spolu s deníkem praxe.</li>
    </ul>
    
    <div class="alerts">
        <div class="alert blue-info">
            Využij tuto příležitost a získej cenné zkušenosti do praxe!
        </div>
    </div>
    
            </div>
        </div>
    </div>
} @else if (schoolingo.userService.getUser()?.type == 'teacher' && perms.checkPermission(["manager:traineeship:manage"])) {
    <div class="boxes mb">
        @for (data of this.schoolingo.traineeship.boxData; track $index) {
            <div class="box">
                <div class="left">
                    <i-tabler [name]="boxes[data.data].icon"></i-tabler>
                </div>
                <div class="right">
                    <div class="box-name">{{ schoolingo.locale.getLocale('traineeship/overview/boxes/' + data.data) }}</div>
                    <div class="box-value">{{ data.count }}</div>
                </div>
            </div>
        }
        <!-- <div class="box">
            <div class="left">
                <i class="ti ti-calendar-week"></i>
            </div>
            <div class="right">
                <div class="box-name">Celkem praxí</div>
                <div class="box-value">2</div>
            </div>
        </div>
        <div class="box">
            <div class="left">
                <i class="ti ti-school"></i>
            </div>
            <div class="right">
                <div class="box-name">Celkem oborů</div>
                <div class="box-value">3</div>
            </div>
        </div>
        <div class="box">
            <div class="left">
                <i class="ti ti-chalkboard"></i>
            </div>
            <div class="right">
                <div class="box-name">Zapsáno dnů</div>
                <div class="box-value">3 011</div>
            </div>
        </div> -->
    </div>

    <div class="card">
        <div class="card-header">
            <h2>{{ schoolingo.locale.getLocale('sidebar/traineeship/overview') }}</h2>
        </div>
        <div class="card-body"></div>
    </div>
}

<schoolingo-traineeship-writeDairy></schoolingo-traineeship-writeDairy>