.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    justify-content:flex-start!important;
}

.row .card:last-child {
    margin-left: 2rem;
}

.dairy-day {
    padding: 8px 16px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    margin: 4px 0;
    transition: all .3s;
}

div.dairy-day {
    cursor: pointer;
}

div.dairy-day:hover {
    background-color: var(--background-hover);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 8px 16px;
}

ul li:not(:first-child) {
    border-top: 1px solid var(--border-color);
}

.card-body p {
    margin: 1rem 0;
}